<script type="text/javascript">
$(function() {
    setupVideoAnnotation("$oid");
    setupTagging('div[rel="${oid}-tags"]', "$oid");
    setupCommenting("$oid", "p, h1, h2, h3, h4, h5, h6, .annotatable", false);
});
</script>
