#set($pageTitle = 'Search')
#set($paging = $self.paging)
#set($hasResult = ($self.result and $paging.totalFound > 0))
#set($packagingEnabled = $page.authentication.is_logged_in())

#parse($page.getTemplate('results/search-title.vm'))

##<div id="action-list" class="grid_4">
  ##parse($page.getTemplate('results/navigation.vm'))
  ##parse($page.getTemplate('results/facets.vm'))
##</div>

<div class="grid_12" id="result-list">
  #parse($page.getTemplate('dialogs/search-create-view.vm'))
  #parse($page.getTemplate('results/search-results.vm'))
</div>

#if($hasResult)
  #if($is_admin)
    #parse($page.getTemplate('dialogs/security-role-management.vm'))
    #parse($page.getTemplate('dialogs/delete-item.vm'))
  #end
  #parse($page.getTemplate('results/search-annotations.vm'))
#end

#parse($page.getTemplate('results/search-footer.vm'))