<!-- BEGIN facets.vm --> 
 <div class="facets">
  <h3>Narrow Search</h3>
  #if(!$page.facetLimits.empty)
    <a class="action" href="#actionlink('clearfacets' 'cf')">clear selection</a>
    #if($session.userInRole("admin"))
      <span class="action-sep">|</span>
      <a class="action" href="#actionlink('createportal' 'cp')">create portal</a>
    #end
  #end
  #foreach($facetlist in $page.response.facetLists)
    #if(!$facetlist.facets.empty && $facetlist.facets.size() > 1)
      <h4>$page.state.portal.facetFields.get($facetlist.name)</h4>
      <ul>
      #foreach($facet in $facetlist.facets)
        <li>
          #if($page.isSelectedFacet($facet.value))
            $facet.value ($facet.count)
            <a class="deselect" href="#actionlink('removefacet' $facet)">deselect</a>
          #else
            <a href="#actionlink('addfacet' $facet)">$facet.value</a> ($facet.count)
          #end
        </li>
      #end
      </ul>
    #end
  #end
</div>
<!-- END facets.vm -->
