<!-- BEGIN header.vm -->
<div class="nav-bar">
  <ul>
    <li class="home"><a href="${contextPath}">home</a></li>
    #if($role == "admin")
      <li><a href="${contextPath}logout">logout</a>: <span class="user">$user</span></li>
      <li><a href="${contextPath}portal/create">new portal</a></li>
      <li><a href="${contextPath}config">settings</a></li>
    #else
      #if($pageName != "login")
        <li><a href="${contextPath}login">login</a></li>
      #end
    #end
    <li><a href="${contextPath}about">about</a></li>
    <li><a href="mailto:">contact</a></li>
  </ul>
</div>
<div class="portal-bar">
  #if($pageName == "search" && $page.state.portal.description)
    $page.state.portal.description
  #else
    $pageName
  #end
</div>
<!-- END header.vm -->
