<!-- BEGIN search-detail-datastreams.vm --> 
<div class="facets">
  <h3>Downloads</h3>
  <ul class="datastreams">
    #foreach($ds in $page.datastreams)
      <li>
        <a href="#actionlink('download' $ds.dsid)">
          #if(!$ds.label or $ds.label == "")
            [Untitled]
          #else
            $ds.label
          #end
        </a>
        ($ds.dsid)
      </li>
    #end
  </ul>
</div>
<!-- END search-detail-datastreams.vm -->
