<!-- BEGIN search.vm -->
<div class="search">
  #if($page.hasResults)
    <h1>Search Results</h1>
    #parse($locator.getLocation('facets.vm'))
    #parse($locator.getLocation('search-header.vm'))
    #parse($locator.getLocation('search-results.vm'))
  #else
    <div>
      <h1>No Results</h1>
      <p>No results were found that match your search on "<strong>$!page.query</strong>".</p>
      #parse($locator.getLocation('search-header.vm'))
      #if(!$page.facetLimits.empty)
        <p>The search may be too narrow. <a class="clear" href="#actionlink('clearfacets' 'cf')">Clear selected facets</a>.</p>
      #end
    </div>
  #end
</div>
<!-- END search.vm -->
