<Identify>
  <repositoryName>The Fascinator</repositoryName>
  <baseURL>http://localhost:8080/the-fascinator/oai</baseURL>
  <protocolVersion>2.0</protocolVersion>
  <adminEmail>fascinator@example.edu.au</adminEmail>
  <earliestDatestamp>2000-01-01T00:00:00Z</earliestDatestamp>
  <deletedRecord>no</deletedRecord>
  <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
  <description>
    <oai-identifier
      xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai-identifier http://www.openarchives.org/OAI/2.0/oai-identifier.xsd">
      <scheme>oai</scheme>
      <repositoryIdentifier>fascinator.example.edu.au</repositoryIdentifier>
      <delimiter>:</delimiter>
      <sampleIdentifier>oai:fascinator.example.edu.au:123</sampleIdentifier>
    </oai-identifier>
  </description>
  <description>
    <friends
      xmlns="http://www.openarchives.org/OAI/2.0/friends/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/friends/ http://www.openarchives.org/OAI/2.0/friends.xsd">
      <baseURL>http://memory.loc.gov/cgi-bin/oai2_0</baseURL>
      <baseURL>http://arXiv.org/oai2</baseURL>
    </friends>
  </description>
</Identify>