{
    "harvester": {
        "type": "file-system",
        "file-system": {
            "baseDir": "${user.home}/Documents/public",
            "ignoreFilter": ".svn|.ice|.*|~*|Thumbs.db|.DS_Store",
            "cacheDir": "${user.home}/.fascinator/cache",
            "force": false,
            "recursive": true
        }
    },
    
    "transformer": {
        "conveyer": "aperture, ice2",
        "aperture": {
            "outputPath": "${java.io.tmpdir}/ice2-output"
        },
        "ice2": {
            "url": "http://ec2-75-101-136-199.compute-1.amazonaws.com/api/convert/",
            "resize.image.mode": "fixedWidth",
            "resize.image.ratio": "-90",
            "resize.image.fixedWidth": "150",
            "enlargeImage": "false",
            "outputPath": "${java.io.tmpdir}/ice2-output"
        }
    },
    
    "indexer": {
        "script": {
            "type": "python",
            "rules": "local-files.py"
        },
        "params": {
            "repository.name": "Local Files",
            "repository.type": "Local File System"
        }
    },
    
    "backup": {
    	"email": "email@usq.edu.au",
    	"backupDir": "${user.home}/.fascinator-backup",
    	"ignoreFilter": ".svn|.ice|.*|~*",
    	"tf-storage-type": "file-system"
    }
}
