#set($pageTitle = 'Detail')
#set($pageHeader = '<script type="text/javascript" src="' + $portalPath + '/flowplayer/flowplayer-3.1.2.min.js"></script>')
#if($self.solrResponse.get("response/numFound") == 0)
  <p title="FIXME">Not found</p>
#else
#set($meta = $self.metadata)
#set($oid = $self.object.id)
#set($title = $meta.getField("dc_title"))
#set($description = $meta.getField("dc_description"))
<div class="ui-helper-hidden" id="record-meta">
  <label id="oid">$oid</label>
  <label id="format">$self.mimeType</label>
  <label id="hasSlide">$self.hasSlideShow()</label>
</div>
<div class="grid_16">
  <h2 id="page-heading">#if($title)$title#{else}$self.getFileName($oid)#end</h2>
</div>
<div class="grid_4">
  <div class="box menu">
    <h2>Actions</h2>
    <ul class="menu" id="actions">
      <li><a id="open-this" href="#">Open file</a></li>
    </ul>
  </div>
  <div class="box">
    <h2><a href="#">Metadata</a></h2>
    #set($dc = $meta.dublinCore)
    <div class="block">
      <table>
        <tbody>
        #foreach($key in $dc.keySet())
          #set($name = $self.formatName($key))
          #set($value = $self.formatValue($dc.get($key)))
          <tr>
            <th>$name</th>
            <td>$value</td>
          </tr>
        #end
        </tbody>
      </table>
    </div>
  </div>
  <div class="box menu">
    <h2><a href="#">Attachments</a></h2>
    <ul class="menu">
    #foreach($payload in $self.object.payloadList)
      #set($pid = $payload.id)
      #set($payloadType = $payload.type.toString())
      <li>
        <a href='$portalPath/download/$oid/$pid' rel="$payloadType" target="blank" title="$payload.contentType">$payload.id</a>
      </li>
    #end
    </ul>
  </div>
</div>
<div class="grid_12">
  <div class="box articles">
    <h2>Preview</h2>
    <div class="content-preview block">
      <div class="first article">
        <div class="content-preview-inline">$!self.payloadContent</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
    var oid = $("#oid").text();
    $("#hasSlide").each(function() {
        var hasSlide = $(this).text();
        if (hasSlide != "") {
            $('div.view-as-slideshow').append("<form action='$portalPath/download/" + oid + "/" + hasSlide + "' target='_blank'>" +
            "<input type='submit' value='View as Slideshow'>" +  
            "</form>");
        }
    });
    
    $("div.content-preview-inline span.slide-link").each(function() {
        $(this).empty();
        $("#actions").append("<li><a href='$portalPath/download/$oid/$self.hasSlideShow()' target='_blank'>View slideshow</a></li>");
    });
    
    $("div.content-preview-inline span.pdf-rendition-link").each(function() {
        $(this).empty();
        $("#actions").append("<li><a href='$portalPath/download/$self.pdfUrl'>Printable version (PDF)</a></li>");
    });
    
    $("#hasSlide").each(function() {
        var hasSlide = $(this).text();
        if (hasSlide != "") {
            $('div.view-as-slideshow').append("<form action='download/" + oid + "/" + hasSlide + "' target='_blank'>" +
            "<input type='submit' value='View as Slideshow'>" +  
            "</form>");
        } 
    });
    
    $("#format").each(function() {
        var mimeType = $(this).text().toLowerCase();
        if (mimeType.indexOf("image") == 0) {
            $('div.content-preview').html("<img src='$portalPath/download/" + oid + "'/>");
        } else if (mimeType.indexOf("audio") == 0 || mimeType.indexOf("video") == 0) {
            var filename = '$portalPath/download/' + oid + "/" + oid.substring(oid.lastIndexOf("/")+1).replace("wmv", "flv");
            var height = 300;
            if (mimeType.indexOf("audio") == 0) {
                height = 24;
            }
            $('div.content-preview-inline').append('<a href="' + filename + '" id="player" style="display:block;width:425px;height:' + height + 'px;"></a>');
            flowplayer("player", "$portalPath/flowplayer/flowplayer-3.1.2.swf");
        }
    });
    
    $("#open-this").click(function() {
        jQuery.post("$portalPath/detail/" + oid, { verb: "open", value: oid } );
        return false;
    });
    
    $("div.content-preview-inline img").each(function() {
        var src = $(this).attr("src");
        var srcVal = src.toLowerCase();
        if (srcVal.indexOf("http://") == -1 && srcVal.indexOf("file://") == -1) {
            $(this).attr("src", "$portalPath/download/" + oid + "/" + src);
        }
    });
});
</script>
#end

