#set($DEBUG = true)
#if($noLayout)
$!pageContent
#else
#if($sessionState.get("username"))
  #set($sessionUsername = $sessionState.get("username"))
#end
<html>
  <head>
    <title>The Fascinator | $!pageTitle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/vnd.microsoft.com" href="$portalPath/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/nav.css" media="screen" />
    <script type="text/javascript" src="$portalPath/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery.cookie.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="$portalPath/css/layout.css" />-->
    <link rel="stylesheet" type="text/css" href="$portalPath/css/styles.css" />
    $!pageHeader
    <script type="text/javascript">
    function setActionUri(uri) {
        $("#action-form").attr("action", uri);
    }
    function addActionParam(name, value) {
        $("#action-form").append('<input id="' + name + '" name="' + name + '" type="hidden" value="' + value + '" />');
    }
    function doAction(action) {
        doAction(action, "");
    }
    function doAction(action, value) {
        $("#verb").val(action);
        $("#value").val(value);
        $("#action-form").submit();
    }
    </script>
  </head>
  <body>
    <div class="container_16">
      <div class="grid_16">
        <h1 id="branding">The Fascinator</h1>
      </div>
      <div class="clear"></div>
      <div class="grid_16">
        <ul class="nav main">
          <li><a href="$portalPath/home">Home</a></li>
          <li><a href="$portalPath/settings">Settings</a></li>
          <li class="secondary">
            <form action="search" class="search" method="post">
              <input class="text" type="text" name="query" size="30" value="$!formData.get('query')" />
              <input class="button" type="submit" name="search" value="Search" />
            </form>
          </li>
          <li>
            <a href="#">Views</a>
            <ul>
            #foreach($portal in $page.portals)
              <li><a href="$contextPath/$portal.name/search">$portal.description</a></li>
            #end
            </ul>
          </li>
          $!navContent
        </ul>
      </div>
      <div class="clear"></div>
      <div class="grid_16">$!pageContent</div>
      <div class="clear"></div>
    </div>
    <div class="debug" id="debug">
      <div class="ui-state-error">
        <pre>$!renderMessages</pre>
      </div>
      <div class="ui-state-highlight">
        <pre>sessionState: $sessionState</pre>
        <pre>formData: $formData</pre>
        <a href="#" id="clear-session-state">Clear session</a>
      </div>
    </div>
    <div id="login-dialog" title="Login">
      <form id="login-form" method="post">
        <input name="verb" value="login" type="hidden" />
        <label for="username">Username:</label>
        <input id="username" name="username" size="25" type="text" />
        <label for="password">Password:</label>
        <input id="password" name="password" size="25" type="password" />
      </form>
    </div>
    <div id="logout-dialog" title="Logout">
      <form id="logout-form" method="post">
        <input name="verb" value="logout" type="hidden" />
      </form>
      <p><span class="ui-icon ui-icon-alert icon"></span>Are you sure you want to log out?</p>
    </div>
    <form action="$portalPath/$pageName" id="action-form" method="post">
      <input id="verb" name="verb" type="hidden" />
      <input id="value" name="value" type="hidden" />
    </form>
    </div>
    <script type="text/javascript">
    $(function() {
        // style up input fields and buttons
        //$(":input").addClass("ui-corner-all");
        //$(":button, :submit")
        //    .addClass("ui-state-default")
        //    .hover(function() { $(this).addClass("ui-state-hover"); },
        //           function() { $(this).removeClass("ui-state-hover"); });
        //$(":text, :password").addClass("ui-widget-content");
        // disable current page link
        var pageName = $("#${pageName}-link").text();
        $("#${pageName}-link").replaceWith("<span id='${pageName}-link' class='active-link'>" + pageName + "</span>");
        // setup authentication dialogs
        $("#login-dialog").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            buttons: {
                "Login": function() {
                    $("#login-form").submit();
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                $("#username, #password").val("").removeClass("ui-state-error");
            }
        });
        $("#login-link").click(function() {
            $("#login-dialog").dialog("open");
        });
        $("#logout-dialog").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            buttons: {
                "Logout": function() {
                    $("#logout-form").submit();
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                $("#username, #password").val("");
            }
        });
        $("#logout-link").click(function() {
            $("#logout-dialog").dialog("open");
        });
        // debugging
        $("#clear-session-state").click(function() {
            doAction("clear-session");
        });
        $(".debug").addClass("ui-helper-hidden");
        #if($renderMessages)
        $("#debug-link").addClass("ui-icon-alert");
        #else
        $("#debug-link").addClass("ui-icon-check");
        #end
        $("#debug-link")
            .click(function() { $(".debug").toggle("blind"); })
            .hover(function() { $(this).parent(".debug-link").addClass("ui-state-error-text"); },
                   function() { $(this).parent(".debug-link").removeClass("ui-state-error-text"); });
        #if(!$pageContent)
          $(".debug").show("blind");
        #end
    });
    </script>
  </body>
</html>
#end
