<!-- BEGIN header.vm -->
<div class="nav-bar">
  <ul>
    <li class="home"><a href="${contextPath}">home</a></li>
    #if($session.loggedIn)
      <li><a href="${contextPath}logout">logout</a>: <span class="user">$session.userName $session.userRoles</span></li>
    #else
      #if($pageName != "Login")
        <li><a href="${contextPath}login">login</a></li>
      #end
    #end
    #if($session.userInRole("admin"))
      <li><a href="${contextPath}settings">settings</a></li>
    #end
    <li><a href="${contextPath}about">about</a></li>
    <li><a href="mailto:chandlerb@usq.edu.au">contact</a></li>
  </ul>
</div>
<div class="portal-bar">
  #if($pageName == "Search" && $page.state.portal.description)
    $page.state.portal.description
  #else
    $pageName
  #end
</div>
<!-- END header.vm -->
