#set($pageTitle = 'Search')
#set($portal = $page.portals.get($portalId))
##set($paging = $self.paging)
#set($paging = "")
#if ($formData.get("query"))
	#set($paging = $formData.get("query"))
#end
#if ($paging=="")
	#set($atomLink = "${contextPath}/$portal.name/feed/atom")
#else
   	#set($atomLink = "${contextPath}/$portal.name/feed/atom?query=$paging")	
#end
#set($pageHeader = '<link rel="stylesheet" type="text/css" href="js/tree/tree_component.css" />
	<link rel="alternate" type="application/atom+xml" href="'+ $atomLink +'"/>
    <script type="text/javascript" src="js/tree/lib/css.js"></script>
    <script type="text/javascript" src="js/tree/tree_component.min.js"></script>
    <script type="text/javascript" src="js/jquery.truncate.js"></script>')
#set($numFound = $self.result.get("response/numFound"))
#set($itemList = $self.result.getList("response/docs").toArray())
#set($facetFields = $self.result.getMap("facet_counts/facet_fields"))
#set($portalPath = "$contextPath/$portalId")
<script type="text/javascript">
$(function() {
    addActionParam("query", '$!formData.get("query")');
    $("#file_path").tree({
        data: {
            async: true,
            async_data: function(node) {
                return {
                    id: $(node).attr("id") || 0,
                    query: $("#query").val()
                }
            },
            type: "json",
            url: "search-tree.ajax"
        },
        selected: $self.selectedFacetIds,
        cookies: {
            prefix: "TFSearchTree",
            selected: false
        },
        ui: {
            animation: 250,
            dots: false,
            theme_name: "checkbox"
        },
        rules: {
            multiple: "on",
            renameable: "none",
            deletable: "none",
            creatable: "none",
            draggable: "none",
            dragrules: "none"
        },
        callback: {
            onchange: function(node, tree) {
                $(node).children("a").removeClass("clicked");
                $(node).children("a").toggleClass("checked");
            },
            onload: function(tree) {
                tree.container.find("a").bind("click", function() {
                    var checked = $(this).hasClass("checked") == false;
                    doAction(checked ? "add_fq" : "remove_fq", $(this).parent().attr("fq"));
                });
            },
            onrgtclk: function(node, tree, ev) {
                ev.preventDefault();
                ev.stopPropagation();
                return false;
            }
        }
    });
    $("#clear-facets").click(function() {
        doAction("clear_fq");
    });
    $(".facet-count-list a.add-facet").click(function() {
        doAction("add_fq", $(this).attr("rel"));
    });
    $(".facet-count-list a.remove-facet").click(function() {
        doAction("remove_fq", $(this).attr("rel"));
    });
    //$(".facet-count-list ul:not(:has(.selected-facet))").hide();
    $(".facet-count-list h4").click(function(){
        var icon = $(this).children("span");
        icon.toggleClass("ui-icon-triangle-1-s");
        icon.toggleClass("ui-icon-triangle-1-e");
        $(this).next().toggle('fast');
        return false;
    });
    // zebra the results
    $("#result-item-list li:even").css("background-color", "#EBEBEB");
    // truncate descriptions
    $("p.item-description").truncate(500, {
        trail: [ '... <a href="#" class="truncate_show">more</a>',
                 ' <a href="#" class="truncate_hide">less</a>' ]
    });
});
</script>
<pre class="debug">$self.selectedFacetIds</pre>
<pre class="debug">$self.result.toString()</pre>
<h2>Search</h2>
<div id="search-header">
  <form action="search" id="search-form" method="post">
    <input id="query" name="query" size="45" type="text" value="$!formData.get('query')"/>
    <input name="search" type="submit" value="Go!" />
    #parse($page.getTemplate("search-paging.vm"))
  </form>
  #if($self.result and $numFound != 0)
  <p>Displaying <strong>${paging.startNum}</strong> to <strong>${paging.endNum}</strong> of <strong>${paging.totalFound}</strong> records (in $self.queryTime seconds)</p>
  #end
</div>
#if(!$self.result or $numFound == 0)
<p class="ui-state-highlight" style="width: 30%">
  <span class="ui-icon ui-icon-info icon"></span>
  No items found#if($query) for $query#end.
  <a class="facet-action" id="clear-facets" href="#">Clear selected facets.</a>
</p>
#else
<div id="split-view">
  <div class="split-panel" id="facet-list">
    <h3>Facets</h3>
    #if($self.hasSelectedFacets()==1)
      <a class="facet-action" id="clear-facets" href="#">Clear selection</a>
    #end
    <h4 class="dotted-line">Path</h4>
    <div id="file_path" class="ui-helper-clearfix"></div>
    #foreach($facetField in $facetFields)
      <div class="facet-count-list">
      #set($facetCounts = $self.getFacetCounts($facetField.key))
      #if($facetCounts.size() > 0)
        ## TODO need a better way to test check for hierarchical facets
        #if($facetField.key != "file_path")
          <h4 class="dotted-line"><span class="ui-icon ui-icon-triangle-1-s icon"></span>$self.getFacetName($facetField.key)</h4>
          <ul>
          #foreach($facetCount in $facetCounts)
            #set($fq = $self.getFacetQuery($facetField.key, $facetCount.key))
            #set($selected = ($self.isSelected($fq)==1))
            <li>
            #if($self.isPortalQueryFacet($fq)==1)
              <span class="portal-query-facet">$facetCount.key</span> ($facetCount.value)
            #else
            #if($selected)
              <span class="selected-facet">$facetCount.key</span> ($facetCount.value)
              <a class="remove-facet facet-action" href="#" rel='$facetField.key:"$facetCount.key"'>deselect</a>
            #else
              <a class="add-facet" href="#" rel='$facetField.key:"$facetCount.key"'>$facetCount.key</a> ($facetCount.value)
            #end
            #end
            </li>
          #end
          </ul>
        #end
      #end
      </div>
    #end
  </div>
  <div class="split-panel">  	
  	<form id="backupForm" name="backupForm" method="post">
    	<input name="backupAction" type="submit" value="Backup" />
    </form>
  <div>
  <div class="split-panel" id="result-list">
    <ul id="result-item-list">
    #foreach($item in $itemList)
      #set($id = $item.get("id"))
      #set($oid = $page.encodeURL($id))
      #set($title = $self.getFileName($id))
      #set($description = "")
      #if ($item.get("dc_title"))
      	#set($title = $item.get("dc_title").get(0))
      #end
      #set($description = $item.get("dc_description").get(0))
      #set($format = $item.get("dc_format").get(0))
      <li>
        <div id="$id">
          <h3><a href="detail/$oid">$title</a></h3>
          #if($description)
          <p class="item-description">$!description</p>
          #end
          #if($self.isImage($format)==1)
            #set($thumbnail = $self.getThumbnail($id))
            <img src="download/$oid/$thumbnail"></img>
          #end
        </div>
      </li>
    #end
    </ul>
  </div>
</div>
#end
