<div class="box hidden" id="delete-annotation">
  <form>
    <fieldset class="search">
      <div class="stop-error error hidden">
        <span class="message"></span>
      </div>
      <p>Are you really certain you want to delete this <span class="type"></span>?</p>
      <blockquote class="content"></blockquote>
      <p><strong>This operation cannot be undone</strong></p>
      <input class="delete" type="button" value="Yes, Delete" />
      <input class="cancel" type="button" value="Cancel" />
    </fieldset>
  </form>
</div>
<script type="text/javascript">
$(function() {
    // initialise the dialog
    $("#delete-annotation").dialog({
        autoOpen: false,
        width: 330,
        modal: true
    });
});
</script>
