<script type="text/javascript">
    function loginNow() {
        $("#login-message").empty();
        $("#login-error").hide();
        $("#login-form").dialog('open');
        $("#username").focus();
    }
    $(function() {
        var dialogOpts = {
            title: "Login",
            autoOpen: false,
            hide: "blind",
            modal: true
        }
        $("#login-form").dialog(dialogOpts);
        $("#login-now").click(function() {
            loginNow();
            return false;
        });
        $("#logout-now").click(function() {
            jQuery.post("$portalPath/authentication.ajax",
                { verb: "logout" },
                function(data, status) {
                    window.location.reload();
                });
            return false;
        });
        $("#login-cancel").click(function() {
            $("#login-message").empty();
            $("#login-error").hide();
            $("#login-form").dialog('close');
            return false;
        });
        $("#login-submit").click(function() {
            $("#login-message").empty();
            $("#login-loading").show();
            jQuery.ajax({
                type : "POST",
                url : "$portalPath/actions/login.ajax",
                success:
                    function(data, status) {
                        window.location.reload();
                    },
                error:
                    function (req, status, e) {
                        $("#login-loading").hide();
                        $("#login-error").show();
                        $("#login-message").html(req.responseText);
                    },
                data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    verb: "login"
                }
            });
        });
        $("#username").keypress(function(e) {
            if (e.keyCode == 13) {
                $("#password").focus();
            }
        });
        $("#password").keypress(function(e) {
            if (e.keyCode == 13) {
                $("#login-submit").click();
            }
        });
    });
</script>

<div class="box hidden" id="login-form">
  <form id="login" method="post">
    <fieldset class="search">
      <legend>Login details</legend>
      <div class="login-error hidden" id="login-error">
        <img class="hidden" id="login-loading" src="$portalPath/images/icons/loading.gif" />
        <span id="login-message"></span>
      </div>
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </p>
      <input id="login-submit" type="button" value="Login" />
      <input id="login-cancel" type="button" value="Close" />
    </fieldset>
  </form>
</div>
