#macro(createFacetNode $facet $state)
{
    attributes: {
        id: "$facet.id",
        fq: "$facet.facetQuery"
    },
    state: $state,
    data: "$facet.name ($facet.count)",
    #if($facet.subFacets.size() > 0)
        children: [
        #foreach($subFacet in $facet.subFacets)
            #createFacetNode($subFacet "closed"),
        #end
        ]
    #end
},
#end

#set($id = $formData.get("id"))
#set($currentFacet = $self.facetList.getFacet($id))
[
#if($currentFacet.subFacets.size() == 0)
    #createFacetNode($currentFacet "leaf")
#else
    #foreach($facet in $self.facetList.facets)
        #createFacetNode($facet "open")
    #end
#end
]
