#set($doc = $page.doc)
<h3 class="doc-title">$doc.title</h3>
<!--
<p class="doc-id">$doc.id</p>
#foreach($identifier in $doc.identifiers)
  #if($identifier.startsWith("http://"))
    <a class="identifier" href="$identifier">$identifier</a>
  #else
    $identifier
  #end
  <br/>
#end
($doc.description.size)<br/>
<p class="doc-description">
  #if($doc.description)
    ${doc.description}
  #else
    No description
  #end
</p>
-->