<table class="meta">
#foreach($key in $metaMap.keySet())
    <tr>
        <th width="25%">$parent.getFriendlyName($key)</th>
        <td>
            #set($valueList = $metaMap.get($key))
            #if($valueList.size())
                #foreach($value in $valueList)
                    <span class="meta-value">$value</span><br/>
                #end
            #else
                $valueList
            #end
        </td>
    </tr>
#end
</table>
