.hidden {
    display: none;
}

.inline, .visible {
    display: inline;
}

h1#branding {
    padding: 0.3em;
}

.container_12, .container_16 {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.box h2 {
    font-weight: bold;
}

form.search {
    padding-top: 3px;
    padding-right: 5px;
}

.paging {
    font-size: 0.75em;
    margin-left: 0;
    padding-left: 0;
}

.paging li {
    display: inline;
    margin-left: 0;
}

.paging li a {
    color: black;
    padding: 0.2em;
    text-decoration: none;
}

.paging a:hover, .paging .selected-page {
    background: black;
    color: white;
    font-weight: bold;
    padding: 0.2em;
}

.facet-list {
    overflow-x: auto;
    overflow-y: hidden;
}

.facet-list a, ul.menu a {
    font-weight: normal;
    word-wrap: break-word;
}

.menu .selected, .facet-list .selected {
    background: black;
    color: white;
    font-weight: bold;
}

.menu .selected:hover, .facet-list .selected:hover {
    color: black;
}

.facet-list .portal-facet, .facet-list .portal-facet:hover {
    background: gray;
    color: white;
    font-weight: bold;
}

.facet {
    overflow: hidden;
}

.right {
    float: right;
}

form .message {
    margin-left: 35%;
}

.tag-form, .tag-form input {
    margin: 0;
    padding: 0;
}

.article a.image {
    margin-bottom: 5px;
}

.article a img {
    vertical-align: text-bottom;
}

.article div.image {
    float: left;
    margin: 3px 10px 3px 0;
    padding: 4px;
    border: 1px solid #bbb;
    background: #fff;
}

div.tags {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    margin-bottom: 3px;
    padding: 0.3em 0;
}

div.tags img {
    vertical-align: text-bottom;
}

div.tags ul li {
    display: inline;
    list-style: none;
    margin: 2px;
    padding-right: 5px;
}

.new-tag {
    color: green;
}

ul.main li.secondary a.search {
    padding-left: 0.2em;
    padding-right: 0.4em;
}

a.search img {
    padding: 0;
    vertical-align: text-bottom;
}

table.meta {
    table-layout: fixed;
}

table.meta td {
    overflow: hidden;
}

dl.meta dt {
    font-weight: bold;
}

dl.meta dd {
    margin-left: 0.7em;
    overflow: hidden;
    word-wrap: break-word;
}

ul.menu li.payload a {
    overflow: hidden;
    word-wrap: break-word;
}

div.content-preview .article {
    padding-bottom: 13px;
}

div.content-preview img {
    max-width: 100%;
}

form img {
    vertical-align: text-bottom;
}

#facets-form th {
    padding-left: 3px;
    text-align: left;
}

#facets-form td {
    padding-left: 3px;
}

#facets-form img.facet-grip {
    padding-right: 3px;
}

ul.nav li.label {
    background: #666666 !important;
    color: #FFFFFF;
    cursor: auto;
    display: block;
    font-weight: bold;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1em;
}

.inline input {
    width:60%;
}

#toc li a {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0;
}

#toc li a.clicked {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
}

#toc li a.item-hidden {
    color: gray;
    font-style: italic;
}

label.checkbox {
    padding-top: 10px;
}

input.checkbox {
    float: left;
    margin-top: 0;
    margin-right: 8px;
    width: auto;
}

.tree ul {
    overflow: auto;
    text-wrap: normal;
    word-wrap: break-word;
}

#content h1 {
    font-size: 1.7em;
}

#content h2 {
    border-bottom: 1px solid silver;
    font-size: 1.5em;
    margin-bottom: 1em;
}

#content h2 a, #content h2 a:hover {
    background: none;
}

.page-toc {
    list-style: none;
}

.page-toc li a {
    font-size: 1.2em;
    font-weight: normal;
}

span.view-type {
    font-size: 0.6em;
}

span.view-type a {
    font-weight: normal;
}

span.view-type a.selected {
    font-size: 1.2em;
    font-weight: bold;
}

/* Annotating */
.inline-annotation {
    padding:.1em;
    margin-bottom:1em;
    margin-left:0.5em;
    background:#ddddff; /* #ffcccc; */
    color:#000080;
    border:1px solid gray;
}

.anno-content {
    color:#006600;
}

.delete-annotate .annotate-this .close-annotate .pilcrow {
    cursor:pointer
}

.annotate-form{
    border:1px solid gray;
    background-color: transparent;
}

.annotating-label{
    color:blue;
}

.inline-annotation-form{}
.orig-content {}
.anno-children{}

.login-error {
    color: #CC0000;
}
.ui-widget-header {
    border: 1px solid #666666;
    background: #666666;
}

div.article-heading, #package-content div.title {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

fieldset.login p select {
    width: 60%;
}

ul.nobgtabs {
    background: none;
}
ul.nobgtabs li {
    background: transparent !important;
    margin-right: 5px;
}
ul.nobgtabs li a.ui-state-default {
    background-color: #CCCCCC;
}
ul.nobgtabs li a.ui-state-active {
    border-color: #666666;
}
.tab-section {
    border: 1px solid #666666;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 10px;
}
.alert {
    color: #CC0000;
}
.stop-error {
    background-image: url('../images/icons/delete.png');
    background-position: 0 0.5em;
    background-repeat: no-repeat;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.5em 20px;
}
.users-admin {
    width: 400px;
    border: 0px;
}
.users-admin td {
    width: 200px;
    border: 0px;
    background: transparent;
}
.users-admin select {
    width: 190px;
}
.users-admin .button {
    width: 150px;
    margin-bottom: 3px;
}
#form-section .message {
    padding: 10px 5px 5px;
    font-size: 120%;
}
.admin-link-holder {
    padding: 2px 2px 2px 5px;
    border: 1px solid #666666;
    background: #999999;
}
.admin-security-link {
    background-image: url('../images/icons/application_key.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 20px;
}
.admin-delete-link {
    background-image: url('../images/icons/cross.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 20px;
}
.security-table {
    border: 1px solid #333333;
    margin-bottom: 10px;
}
.security-table .add-role-button {
    background-image: url('../images/icons/add.png');
    background-position: 0 0.5em;
    background-repeat: no-repeat;
    margin-right: 1em;
    padding: 0.5em 0.5em 0.5em 20px;
}
.admin-link-holder .admin-roles {
    border: 1px solid #666666;
    padding: 2px;
    background-color: #CCCCCC;
}
.admin-link-holder .locked {
    background-image: url('../images/icons/lock.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0 20px;
}
.center {
    text-align: center;
}
.upload-progress-holder {
    margin-top: 10px;
    padding: 0px;
    border: 1px solid black;
    background: #999999 url(ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) repeat scroll 50% 50%;
    height: 20px;
    width: 90%;
}
#upload-progress-filler {
    background: #33FF33 url('../images/icons/green_sliver.png') repeat scroll 50% 50%;
    margin: 0px;
    height: 20px;
    border-right: 1px solid black;
}
#upload-progress-number {
    font-weight: bold;
    font-size: 125%;
    float: right;
}

#player-container {
    margin-bottom: 4px;
    margin-top: 4px;
}

.player_reset {
    float: right;

.help_p {
    font-size: smaller;
    font-style: italic;
    display: none;
}

.notice h2 {
    background-color: #CC3300;
}

.notice {
    background-color: #FFDDDD;
    margin-bottom: 5px;
    margin-top: 5px;
}

.notice .warning {
    padding: 5px;
    font-size: 125%;
}

.notice .warning b {
    display: block;
    background-image: url('../images/icons/server_error.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.owner {
    background-image: url('../images/icons/user.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

li img.workflow {
    vertical-align: middle;
}

.article a img.workflow {
    vertical-align: baseline;
}

.package-select {
    vertical-align: top;
}

.menu .article {
    padding: 5px 10px 5px 10px;
}

#package-toc a {
    font-weight: normal;
}

#package-toc a.clicked {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
}
#package-create-selected {
    background-image: url('../images/icons/package_go.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-create-new {
    background-image: url('../images/icons/package_add.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-select-page {
    background-image: url('../images/icons/select_all.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-deselect-page {
    background-image: url('../images/icons/remove_all.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-clear-all {
    background-image: url('../images/icons/package_delete.png');
    background-repeat: no-repeat;
    background-position: 7px 50%;
}
#package-selected-items {
    font-size: 1.2em;
}
.content-preview-inline iframe {
    width: 99%;
    height: 600px;
}
.iframe-link-alt {
    background-image: url('../images/icons/application_go.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.box h2 a {
    background-image: url("../images/icons/switch_plus.gif");
}
.box h2 a.open {
    background-image: url("../images/icons/switch_minus.gif");
}
.queue-stats td, .queue-stats th {
    text-align: center;
    border: 1px solid #999999;
}
.queue-stats tr td:first-child,
.queue-stats tr th:first-child {
    text-align: left;
    font-size: 120%;
}
.queue-stats tr.group th {
    background-color: #CCCCCC;
}
.queue-stats td {
    width: 12em;
}
.queue-stats td.description {
    font-size: 1em !important;
    padding-left: 3em;
    display: none;
    width: auto;
}
ul.global-topic {
    font-family: monospace;
    border: 1px dashed #999999;
    padding: 5px;
}