/* General */
body {
  background-color: #F2F8EF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

table, tr, th, td {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #C3562E;
  text-decoration: none;
}

h1 {
  font-size: 1.67em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.33em;
}

h4 {
  font-size: 1.17em;
}

th {
  text-align: left;
}

a:link, a:visited {
  text-decoration: none;
  color: #00A;
}

a:hover {
  text-decoration: underline;
}