#set($pageTitle = 'Home')
<script type="text/javascript">
$(function() {
    $(".delete-action").click(function() {
        var portalName = $(this).attr("rel");
        if(confirm("Are you sure you want to delete the portal?")) {
            doAction("delete-portal", $(this).attr("rel"));
        }
    });
});
</script>
<h2>Welcome</h2>
<p>Tell a little story about The Fascinator...</p>
<div id="home-search">
  <h3>Search</h3>
  <p>Enter a query to search all content</p>
  <form action="search" id="search-form" method="post">
    <input type="text" name="query" size="40" />
    <input type="submit" name="search" value="Go!" />
  </form>
</div>
<h3>Portals</h3>
<div class="home-portal-list">
#if($page.portals.size() == 1)
  <p class="ui-state-highlight">
    <span class="ui-icon ui-icon-info icon"></span>
    There are currently no other portals available
  </p>
#else
  <p>Select a portal to browse and search</p>
  <ul class="home-portal-list">
  #foreach($entry in $page.portals)
    #set($portal = $entry.value)
    <li>
    #if($portal.name == $portalId)
      <span class="active-link">$portal.description</span>
    #else
      <a href="$contextPath/$portal.name/search">$portal.description</a>
    #end
    #if($portal.name != "default")
      <a class="delete-action" href="#" rel="$portal.name">delete</a>
    #end
    </li>
  #end
  </ul>
#end
</div>
