.cmscontent {
width: 99%;
}
.header_search form {
	padding: 5px 0 0 0;
	margin: 0 0 0 0;
}

.linetop, .linetopright, .mainmenu-top, .specialmenuheading-top, .linefooter, .linefooterright{
	overflow:hidden;
}
.header_links {
	text-align: right;
}