.facet-group .mainmenu-heading {
    padding-left: 3px;
}

.mainmenu .facet-list li {
    color: gray;
    font-weight: normal;
}

.mainmenu .facet-list li a {
    display: inline;
}

.mainmenu .facet-list li.selected {
    background: #FFF5D2 url(../images/959ca1_arrow.gif) no-repeat scroll 5px 8px;
}

.mainmenu .facet-list li a.selected {
    font-weight: bold;
}

.mainmenu .menu-list li.selected {
    background: #DBDEE0 url(../images/959ca1_arrow.gif) no-repeat scroll 5px 8px;
    border-bottom: 2px solid #C7CBCE;
    border-right: 2px solid #C7CBCE;
}

.action {
    color: #1D599B;
    font-size: 0.75em;
    text-decoration: none;
}

.home, .detail {
    margin-left: 10px;
    margin-right: 10px;
}

.search-box {
    background-color: #FFF8DB;
    border: thin solid #FFE141;
    display: inline-block;
    padding: 7px;
    margin: 7px 0 0 0;
}

.search-box p {
    margin-top: 7px;
}

.search-error {
    color: red;
}

.paging {
    margin-left: 0;
    padding-left: 0;
}

.paging li {
    display: inline;
}

.paging li a {
    border: solid #FFF8DB 1px;
    color: black;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-decoration: none;
}

.paging .selected-page a, .paging li a:hover {
    background: #FFF;
    border: solid #C3562E 1px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.mainmenu .tree {
    background: #F0F1F3;
}

.mainmenu .tree ul {
    font-size: 1em;
}

.mainmenu .tree ul li {
    border: none;
}

.mainmenu .tree ul li a:hover {
    font-weight: bold;
    text-decoration: none;
}

.result-list h2 {
    margin-bottom: 0;
    margin-top: 10px;
}

.result-list ul {
    list-style-type: none;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 0;
}

.result-list ul li {
    border-top: 1px solid #C5CED5;
    padding: 0;
}

.result-list ul li h3 {
    margin-top: 5px;
}

.result-list ul li p {
    margin-bottom: 5px;
}

.detail .page-toc ul {
    list-style-type: none;
    padding: 0;
}

.detail .pdf-rendition-link {
    float: right;
}

.advanced h2 {
    font-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    display: inline;
    float: left;
}

.icon-right {
    display: inline;
	float: right;
}

div.body div.Table1 {
    display: none;
}
