#set($pageTitle = 'Detail')
#set($portalPath = "$contextPath/$portalId")
#set($pageHeader = '<link rel="stylesheet" type="text/css" href="' + $portalPath + '/js/tree/tree_component.css" />
    <script type="text/javascript" src="' + $portalPath + '/flowplayer/flowplayer-3.1.2.min.js"></script>')
<script type="text/javascript">
$(function() {
    var oid = $("#oid").text();
    $("#hasSlide").each(function() {
        var hasSlide = $(this).text();
        if (hasSlide != "") {
            $('div.view-as-slideshow').append("<form action='$contextPath/$portalId/download/" + oid + "/" + hasSlide + "' target='_blank'>" +
            "<input type='submit' value='View as Slideshow'>" +  
            "</form>");
        }
    });
    
    $("#format").each(function() {
        var mimeType = $(this).text().toLowerCase();
        if (mimeType.indexOf("image") == 0) {
            $('div.content-preview').append("<img src='$contextPath/$portalId/download/" + oid + "'/>");
        } else if (mimeType.indexOf("audio") == 0 || mimeType.indexOf("video") == 0) {
            var filename = '$portalPath/download/' + oid.replace("wmv", "flv");
            var height = 300;
            if (mimeType.indexOf("audio") == 0) {
                height = 24;
            }
            $('div.content-preview').append('<a href="' + filename + '" id="player" style="display:block;width:425px;height:' + height + 'px;"></a>');
            flowplayer("player", "$portalPath/flowplayer/flowplayer-3.1.2.swf");
        }
    });
    
    $("#open-this").click(function() {
        jQuery.post("$portalPath/detail/" + oid, { verb: "open", value: oid } );
    });
});
</script>
#if($self.solrResponse.get("response/numFound")=="0")
<p title="FIXME">Not found</p>
#else
#set($meta = $self.metadata)
#set($oid = $self.object.id)
<p class="debug">storage:</p>
<pre class="debug">$!self.storageId</pre>
<pre class="debug">result: $meta.toString()</pre>
<div class="ui-helper-hidden" id="record-meta">
  <label id="oid">$oid</label>
  <label id="format">$self.mimeType</label>
  <label id="hasSlide">$self.hasSlideShow()</label>
</div>
#set($title = $meta.getField("dc_title"))
#set($description = $meta.getField("dc_description"))
<h2>$title</h2>
<button id="open-this">Open file for editing</button>
#if($description)
<h3>Description</h3>
<p>$description</p>
#end
<h3>Metadata</h3>
<dl>
#foreach($field in $meta.getDublinCore())
  #set($name = $self.formatName($field.key))
  #set($value = $self.formatValue($field.value))
  <dt><strong>$name</strong></dt>
  <dd>$value</dd>
#end
</dl>
<div class="view-as-slideshow"></div>
<h3>Preview</h3>
<div class="content-preview">
  <div>$!self.payloadContent</div>
</div>
<div class="payload-list">
  <h3>Attachments</h3>
  <ul>
  #foreach($payload in $self.object.payloadList)
    #set($pid = $page.encodeURL($payload.id))
    #set($pType = $payload.type.toString())
    <li>
      <a href='$portalPath/download/$oid/$pid' rel="$pType" target="blank">$payload.id</a> ($payload.contentType, $pType)
    </li>
  #end
  </ul>
</div>
#end
