#set($pageTitle = 'Home')
<h2 id="page-heading">$page.portalName</h2>
<div class="grid_4">
  <div class="box menu">
    <h2>Actions</h2>
    <ul class="menu">
      <li><a href="$portalPath/search">Browse all</a></li>
      <li><a id="backup-view" href="#" rel="$portalId">Backup view...</a></li>
      #if($portalId != "default")  ## FIXME use proper default
      <li><a id="delete-view" href="#" rel="$portalId">Delete view...</a></li>
      #end
    </ul>
  </div>
</div>
<div class="grid_12">
  <div id="delete-form" class="box hidden">
    <h2>Delete view</h2>
    <div class="block">
      <p>Are you sure you want to delete this view ($page.portalName)?</p>
      <a id="delete-accept" href="$contextPath/default/home">
        <img src="$portalPath/images/icons/tick.png" />
      </a>
      <a id="delete-cancel" href="#"><img src="$portalPath/images/icons/cross.png" /></a>
    </div>
  </div>
  <div class="box hidden" id="backup-box">
    <h2>Backup view</h2>
    <div class="block">
      <img id="backup-loading" src="$portalPath/images/icons/loading.gif" />
      <p>Are you sure you want to delete this view ($page.portalName)?</p>
      <a id="delete-accept" href="$contextPath/default/home">
        <img src="$portalPath/images/icons/tick.png" />
      </a>
      <a id="delete-cancel" href="#"></a>
    </div>
  </div>
  <div class="box">
    <h2>Search</h2>
    <div class="block">
      <p>Search all items by entering one or more keywords</p>
      <form action="search" id="search-form" method="post">
        <input type="text" name="query" size="50" />
        <input type="submit" name="search" value="Search" />
      </form>
    </div>
    <div class="block">
      <p>There are currently <strong>$self.itemCount</strong> items available</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="prefix_4 grid_6">
  <div class="box">
    <h2>Latest additions</h2>
    <div class="block">
      <ol>
      #foreach($item in $self.latest)
        #set($itemId = $item.get('id'))
        #set($itemTitle = $item.get("dc_title").get(0))
        <li>
          <a href="$portalPath/detail/$itemId">$itemTitle</a>
        </li>
      #end
      </ol>
    </div>
  </div>
</div>
<div class="grid_6">
  <div class="box">
    <h2>Most popular</h2>
    <div class="block">
      <p>...</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
$(function() {
    $("#delete-view, #delete-cancel").click(function() {
        $("#delete-view").toggleClass("selected");
        $("#delete-form").toggle("blind");
        return false;
    });
    $("#delete-accept").click(function() {
        jQuery.post("$portalPath/actions/view.ajax", { func: "delete-view", view: "$portalId" });
    });
    
    $(".backup-action").click(function() {
    });
});
</script>
