#set($pageTitle = 'Home')
<h2 id="page-heading">Welcome</h2>
<div class="grid_4">
  <div class="box menu">
    <h2>$page.portalName</h2>
    <ul class="menu">
      <li><a href="$portalPath/search">Browse</a></li>
      <li><a class="backup-view" href="#" rel="$portalId">Backup...</a></li>
      #if($portalId != "default")  ## FIXME use proper default
      <li><a class="delete-view" href="#" rel="$portalId">Delete</a></li>
      #end
    </ul>
  </div>
</div>
<div class="grid_12">
  <div class="box">
    <h2>Search</h2>
    <div class="block">
      <p>Search all items by entering one or more keywords</p>
      <form action="search" id="search-form" method="post">
        <input type="text" name="query" size="50" />
        <input type="submit" name="search" value="Search" />
      </form>
    </div>
    <div class="block">
      <p>There are currently <strong>$self.itemCount</strong> items available</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="prefix_4 grid_6">
  <div class="box">
    <h2>Latest additions</h2>
    <div class="block">
      <ol>
      #foreach($item in $self.latest)
        #set($itemId = $item.get('id'))
        #set($itemTitle = $item.get("dc_title").get(0))
        <li>
          <a href="$portalPath/detail/$itemId">$itemTitle</a>
        </li>
      #end
      </ol>
    </div>
  </div>
</div>
<div class="grid_6">
  <div class="box">
    <h2>Most popular</h2>
    <div class="block">
      <p>...</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
$(function() {
    $(".delete-action").click(function() {
        var portalName = $(this).attr("rel");
        if(confirm("Are you sure you want to delete the portal?")) {
            doAction("delete-portal", $(this).attr("rel"));
        }
    });
    $(".backup-action").click(function() {
        var portalName = $(this).attr("rel");
        doAction("backup-portal", $(this).attr("rel"));
    });
});
</script>
