{
    "backup-email" : "octalina@usq.edu.au",
    "backup-paths" : {
      "/home/octalina/backup" : {
        "include-rendition-meta" : true,
        "ignoreFilter" : ".svn|.ice|.*|~*|*~",
        "active" : true,
        "include-portal-view" : true
      }
    }
}