{   
    "indexer": {
        "script": {
            "type": "python",
            "rules": "local-files.py"
        },
        "params": {
            "repository.name": "Local Files 2",
            "repository.type": "Local File System 2"
        }
    }
}
