#set($pageTitle = 'Detail')
<script type="text/javascript">
$(function() {
});
</script>
<h2>Detail</h2>
#set($item = $self.getObject())
<div>
  <ul>
  #foreach($payload in $item.payloadList)
    #set($oid = $page.encodeURL($item.id))
    #set($pid = $page.encodeURL($payload.id))
    <li><a href="download/$oid/$pid" target="blank">$payload.id</a> ($payload.contentType)</li>
  #end
  </ul>
</div>
