#set($DEBUG = true)
#set($portalPath = "$contextPath/$portalId")
#set($sessionUsername = $sessionState.get("username"))
<html>
  <head>
    <title>The Fascinator | $!pageTitle</title>
    <link rel="icon" type="image/vnd.microsoft.com" href="$portalPath/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <script type="text/javascript" src="$portalPath/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="$portalPath/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/styles.css" />
    $!pageHeader
    <script type="text/javascript">
    $(function() {
        // style up input fields and buttons
        $(":input").addClass("ui-corner-all");
        $(":button, :submit")
            .addClass("ui-state-default")
            .hover(function() { $(this).addClass("ui-state-hover"); },
                   function() { $(this).removeClass("ui-state-hover"); });
        $(":text, :password").addClass("ui-widget-content");
        // disable current page link
        var pageName = $("#${pageName}-link").text();
        $("#${pageName}-link").replaceWith("<span id='${pageName}-link' class='active-link'>" + pageName + "</span>");
        // setup authentication dialogs
        $("#login-dialog").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            buttons: {
                "Login": function() {
                    $("#login-form").submit();
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                $("#username, #password").val("").removeClass("ui-state-error");
            }
        });
        $("#login-link").click(function() {
            $("#login-dialog").dialog("open");
        });
        $("#logout-dialog").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            buttons: {
                "Logout": function() {
                    $("#logout-form").submit();
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                $("#username, #password").val("");
            }
        });
        $("#logout-link").click(function() {
            $("#logout-dialog").dialog("open");
        });
        // debugging
        $(".debug").addClass("ui-helper-hidden");
        #if($renderMessages)
        $("#debug-link").addClass("ui-icon-alert");
        #else
        $("#debug-link").addClass("ui-icon-check");
        #end
        $("#debug-link")
            .click(function() { $(".debug").toggle("blind"); })
            .hover(function() { $(this).parent(".debug-link").addClass("ui-state-error-text"); },
                   function() { $(this).parent(".debug-link").removeClass("ui-state-error-text"); });
        #if(!$pageContent)
          $(".debug").show("blind");
        #end
    });
    </script>
  </head>
  <body>
    <div id="header">
      <div id="menu-bar">
        <div class="title">
          <h1><a href="http://fascinator.usq.edu.au/">The Fascinator</a></h1>
        </div>
        <div>
          <ul>
            #if($DEBUG)
            <li class="debug-link"><span class="ui-icon" id="debug-link" title="Toggle debugging"></span></li>
            #end
            <li class="with-separator"><a id="home-link" href="$portalPath/home">Home</a></li>
            <li class="with-separator"><a id="search-link"  href="$portalPath/search">Search</a></li>
            <li class="with-separator"><a id="harvest-link" href="$portalPath/harvest">Harvest</a></li>
            <li class="with-separator"><a id="settings-link" href="$portalPath/settings">Settings</a></li>
            <li>
            #if($sessionUsername)
              <a id="logout-link">Logout: <span class="session-username">$sessionUsername</span></a>
            #else
              <a id="login-link" href="#">Login</a>
            #end
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="debug" id="debug">
      <div class="ui-state-error">
        <pre>$!renderMessages</pre>
      </div>
      <div class="ui-state-highlight">
        <pre>sessionState: $sessionState</pre>
        <pre>formData: $formData</pre>
      </div>
    </div>
    <div id="content">
      $!pageContent
    </div>
    <div id="login-dialog" title="Login">
      <form id="login-form" method="post">
        <input name="action" value="login" type="hidden" />
        <label for="username">Username:</label>
        <input id="username" name="username" size="25" type="text" />
        <label for="password">Password:</label>
        <input id="password" name="password" size="25" type="password" />
      </form>
    </div>
    <div id="logout-dialog" title="Logout">
      <form id="logout-form" method="post">
        <input name="action" value="logout" type="hidden" />
      </form>
      <p><span class="ui-icon ui-icon-alert icon"></span>Are you sure you want to log out?</p>
    </div>
  </body>
</html>
