#set($pageTitle = 'Search')
#set($pageHeader = '<link rel="stylesheet" type="text/css" href="js/tree/tree_component.css" />
    <script type="text/javascript" src="js/tree/lib/css.js"></script>
    <script type="text/javascript" src="js/tree/tree_component.min.js"></script>')
#set($numFound = $self.result.get("response/numFound"))
#set($itemList = $self.result.getList("response/docs").toArray())
#set($facetFields = $self.result.getMap("facet_counts/facet_fields"))
#set($portal = $page.portals.get($portalId))
#set($portalPath = $contextPath/$portalId)
#set($paging = $self.paging)
<script type="text/javascript">
function doAction(action, value) {
    $("#action").val(action);
    $("#value").val(value);
    $("#action-form").submit();
}
$(function() {
    $("#file_path").tree({
        data: {
            async: true,
            async_data: function(node) {
                return {
                    id: $(node).attr("id") || 0,
                    query: $("#query").val()
                }
            },
            type: "json",
            url: "search-tree.ajax"
        },
        cookies: {
            prefix: "TFSearchTree"
        },
        ui: {
            animation: 250,
            dots: false
        }
    });
    $("#clear-facets").click(function() {
        doAction("clear_fq");
    });
    $(".facet-count-list a.add-facet").click(function() {
        doAction("add_fq", $(this).attr("rel"));
    });
    $(".facet-count-list a.remove-facet").click(function() {
        doAction("remove_fq", $(this).attr("rel"));
    });
    
    /* paging */
    $(".paging .select-page").click(function() {
        doAction("select-page", $(this).attr("rel"));
    });
});
</script>
<pre class="debug">$self.result.toString()</pre>
<form action="search" id="action-form" method="post">
  <input id="query" name="query" type="hidden" value="$!formData.get('query')"/>
  <input id="action" name="action" type="hidden" />
  <input id="value" name="value" type="hidden" />
</form>
<h2>Search</h2>
<div id="split-view">
  <div class="split-panel" id="facet-list">
    <h3>Facets</h3>
    #if($self.hasSelectedFacets()==1)
      <a class="facet-action" id="clear-facets" href="#">Clear selection</a>
    #end
    <h4 class="dotted-line">Path</h4>
    <div id="file_path" class="ui-helper-clearfix"></div>
    #foreach($facetField in $facetFields)
      <div class="facet-count-list">
      #set($facetCounts = $self.getFacetCounts($facetField.key))
      #if($facetCounts.size() > 0)
        ## TODO need a better way to test check for hierarchical facets
        #if($facetField.key != "file_path")
          <h4 class="dotted-line">$self.getFacetName($facetField.key)</h4>
          <ul>
          #foreach($facetCount in $facetCounts)
            #set($selected = ($self.isSelected($self.getFacetQuery($facetField.key, $facetCount.key))==1))
            <li>
            #if($selected)
              <span class="selected-facet">$facetCount.key</span> ($facetCount.value)
              <a class="remove-facet facet-action" href="#" rel='$facetField.key:"$facetCount.key"'>deselect</a>
            #else
              <a class="add-facet" href="#" rel='$facetField.key:"$facetCount.key"'>$facetCount.key</a> ($facetCount.value)
            #end
            </li>
          #end
          </ul>
        #end
      #end
      </div>
    #end
  </div>
  <div class="split-panel" id="result-list">
    <div id="search-header">
      <form action="search" id="search-form" method="post">
        <input id="query" name="query" size="40" type="text" value="$!formData.get('query')"/>
        <input name="search" type="submit" value="Go!" />
      </form>
#if($paging.pages.size() > 1)
  <ul class="paging">
    <li><a class="select-page" rel="1" href="#">First</a></li>
    #if($paging.page > 1)
      #set($prev = $paging.page - 1)
      <li>
        <a class="select-page" rel="$prev" href="#">Previous</a>
      </li>
    #end
    #foreach($pageNum in $paging.pages)
      <li #if($pageNum.selected == 1)class="selected-page"#end>
        <a class="select-page" rel="$pageNum.value" href="#">$pageNum.value</a>
      </li>
    #end
    #if($paging.page < $paging.lastPage)
      #set($next = $paging.page + 1)
      <li>
        <a class="select-page" rel="$next" href="#">Next</a>
      </li>
    #end
    <li><a class="select-page" rel="$paging.lastPage" href="#">Last</a></li>
  </ul>
#end
    </div>
    <h3>Results</h3>
    <p>Found $numFound items</p>
    <ul>
    #foreach($item in $itemList)
      #set($id = $item.get("id"))
      #set($oid = $page.encodeURL($id))
      #set($title = $self.getFileName($id))
      #set($description = "")
      #set($title = $item.get("dc.title").get(0))
      #set($description = $item.get("dc.description").get(0))
      <li>
        <div id="$id">
          <h3><a href="detail/$oid">$title</a></h3>
          <p>$!description</p>
        </div>
      </li>
    #end
    </ul>
  </div>
</div>
