#macro(createNavTree $root $class)
<ul class="$class">
  #foreach($key in $root.keySet())
    #set($item = $root.get($key))
    #set($id = $item.get("id"))
    #set($children = $item.getJsonMap("children"))
    #set($numChildren = $children.keySet().size())
    #set($hidden = "false")
    #set($hidden = $item.get("hidden"))
    <li #if($numChildren > 0)class="open"#end id="$key" rel="$id">
      <a class="#if($id == $oid)clicked#end #if($hidden && $hidden == 'true')item-hidden#end" href="#">$item.get("title")</a>
      #if($numChildren > 0)
        #createNavTree($children "children")
      #end
    </li>
  #end
</ul>
#end

#if($isPackage)
  #if($self.canOrganise())
  #parse($page.getTemplate('wrapping/menu-open.vm'))
    <h2>Packaging</h2>
    <ul class="menu" id="packaging">
      <li><a href="$portalPath/workflow/$oid">Organise...</a></li>
    </ul>
  #parse($page.getTemplate('wrapping/menu-close.vm'))
  #end

    #set($menuTitle = "Publish")
    #parse($page.getTemplate('wrapping/main-menu-open.vm'))
    #set($menuTitle = $nullValue)
      <ul class="menu" id="actions">
        <li><a href="$portalPath/actions/epub?oid=$oid">Save as EPUB...</a></li>
        <li><a href="$portalPath/actions/imscp?oid=$oid">Save as IMS Package...</a></li>
        <li><a id='sword-view' href='#'>Deposit to repository...</a></li>
        <li><a id='blog-this' href='#'>Publish to blog...</a></li>
      </ul>
    #parse($page.getTemplate('wrapping/main-menu-close.vm'))

#else

  #if(!$self.isMetadataOnly())
    #set($menuTitle = "Actions")
    #parse($page.getTemplate('wrapping/main-menu-open.vm'))
    #set($menuTitle = $nullValue)
      <ul class="menu" id="actions">
        #if($self.canOpenFile())
          <li><a class="open-this" href="$portalPath/detail/$oid">Open file</a></li>
        #end
        #if($self.hasHtml())
          <li><a id='blog-this' href='#'>Publish to blog...</a></li>
        #end
        <li><a id="reharvest" href="$portalPath/detail/$oid">Reharvest...</a></li>
      </ul>
    #parse($page.getTemplate('wrapping/main-menu-close.vm'))
  #end

#end

#if($isPackage || $isImsPackage)
#set($pageHeader="#parse($page.getTemplate('detail-screen/header.vm'))")
  #parse($page.getTemplate('wrapping/menu-open.vm'))
  <h2>Navigation</h2>
  ## standard menu navigation
  ##createNavTree($self.getPackageManifest() "menu")
  ## RVT
  <div id="package-toc"></div>
  #parse($page.getTemplate('wrapping/menu-close.vm'))
#else
  #parse($page.getTemplate('detail-screen/metadata.vm'))
  #parse($page.getTemplate('detail-screen/attachments.vm'))
#end
