

<rdf:RDF xmlns="http://vivoweb.org/ontology/core#"
     xmlns:vivo="http://vivoweb.org/ontology/core"
     xmlns:dc="http://purl.org/dc/terms/"
     xmlns:foaf="http://xmlns.com/foaf/0.1"
     
     
     
     
</rdf>
