#if($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
<script type="text/html" id="media_clip_form">
  <div id="media_clip">
    <table>
      <tr>
        <td colspan="2" class="annotate_scope">
          <input type="radio" name="annotate_scope" id="annotate_all" checked="true"
                 onclick="$('.annotate_clip').hide()" />
          <label for="annotate_all">Comment on the whole video</label><br/>
          <input type="radio" name="annotate_scope" id="annotate_clip"
                 onclick="$('.annotate_clip').show()" />
          <label for="annotate_clip">Select a portion (clip) to annotate</label>
          <span class="hidden annotate_clip">(<a onclick="toggleHelp($(this))">Show help</a>)</span>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <p class="help_p">The tools below will help you select a specific
          section of video that you want to comment on. We call this section a
          "clip". This top row of buttons is similar to those on your home DVD
          player:</p>
          <ul class="help_p">
          <li>To go to the beginning of the video, click the "&lt;&lt; button</li>
          <li>To move the video forward by 1 second click on the "&lt;" button</li>
          <li>To play and pause the video click on the "Play/Pause" button</li>
          <li>To move the video back by 1 second click on the "&gt;" button</li>
          <li>To go to the end of the video, click the "&gt;&gt; button</li>
          </ul>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <input id="player_seek_start" type="button" value="&lt;&lt;" />
          <input id="player_rewind" type="button" value="&lt;" />
          <input id="player_play" type="button" value="Play/Pause" />
          <input id="player_forward" type="button" value="&gt;" />
          <input id="player_seek_end" type="button" value="&gt;&gt;" />
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <p class="help_p">To create a clip, you need to set a beginning and
          end time. We use seconds to set the time.
          <br/>
          You can start the video playing and press the "Mark start time" and
          "Mark end time" buttons and the system will set the timing for you.
          <br/>
          Alternatively, you can enter the start and end times as seconds in
          the corresponding text boxes.
          </p>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td><input id="player_mark_start_time" type="button" value="Mark start time" value=""/></td>
        <td><input type="text" id="txtStartMark" value="" size="5"/></td>
      </tr>
      <tr class="annotate_clip">
<!--        <td><input id="player_mark_end_time1" type="button" value="Mark end time" value="" disabled="true"/></td>-->
            <td><input id="player_mark_end_time" type="button" value="Mark end time" value=""/></td>
<!--        <td><input type="text" id="txtEndMark1" value="" disabled="true" size="5"/></td>-->
            <td><input type="text" id="txtEndMark" value="" size="5"/></td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <p class="help_p">Once you have set the start and end times for your
          clip you can preview the clip by pressing "Play clip".
          <br/>You can also scrap the clip by pressing "Clear clip".</p>
        </td>
      </tr>
      <tr class="annotate_clip">
        <td colspan="2">
          <input class="player_clear_fragment" type="button" value="Clear clip" />
          <input id="player_play_fragment" type="button" value="Play clip" />
        </td>
      </tr>
      <tr><td colspan="2">Comment:</td></tr>
      <tr><td colspan="2"><textArea cols="30"></textArea></td></tr>
      <tr><td colspan="2">
        <button class="myTag-cancel">Cancel</button>&#160;
        <button class="myTag-submit">Submit</button></td>
      </tr>
    </table>
  </div>
</script>

<script type="text/html" id="media_clip_comment">
  <%
  var startTime = "";
  var endTime = "";
  if (locator != null) {
    var npt = locator.split("#t=npt:");
    if (npt.length > 1) {
        npt = npt[1].split(",");
        startTime = npt[0];
        if (startTime.length == 0) { startTime = "0s"; }
        endTime = npt[1];
        if (endTime.length == 0) { endTime = "0s"; }
    }
  }
  %>
  <div class="<%=style%>inline-annotation <%=toggle%>" anotar-uri="<%=id%>">
      <input name="rootUri" value="<%=root%>" type="hidden"/>
      <div class="<%=style%>orig-content" style="display:none;"><%=original%></div>
      #if($page.authentication.is_admin())
      <img class="anno-delete"
           onclick="deleteComment(this, 'anotar-uri')"
           src="$portalPath/images/icons/comments_delete.png"
          title="Delete this comment" />
      #end
      <div class="<%=style%>anno-info">
        Comment by: <span class="<%=style%>anno-creator"><%=creator%></span>
         &nbsp; <span class="<%=style%>anno-date timeago" title="<%=date%>"><%=date%></span>
      </div>
      <% if (startTime != "" && endTime != "") { %>
      <div class="<%=style%>anno-info">
        <input class="player_play_clip" type="button" value="Play" />
        Clip duration: <span class="startTime"><%=startTime%></span> to
        <span class="endTime"><%=endTime%></span>
      </div>
      <% } %>
      <div>
        <span class="<%=style%>anno-content"><%=content%></span>
      </div>
      <div class="<%=style%>anno-children"><%=children%></div>
  </div>
</script>
#end
