#set($menuTitle = "Actions")
#parseTemplate("wrapping/main-menu-open.vm")
<ul class="menu">
    <li><a href="#">Open file...</a></li>
    #if($page.authentication.is_admin() && !$parent.isPending())
    <li><a id="reharvest" href="$portalPath/detail/$oid">Reharvest...</a></li>
    #end
    #parseDisplayTemplate("detail/navigation/custom-actions.vm")
</ul>
#parseTemplate("wrapping/main-menu-close.vm")
