#
# Solr base URL
#
solr.base.url=http://rspilot.usq.edu.au:8080/solr

#
# Registry base URL (Fedora 3.0+)
#
registry.url=http://localhost:8080/fedora

#
# Portal configuration directory. This is normally the same directory as
# the location of the velocity templates.
#
portals.dir=src/main/config/portal

#
# LDAP authentication
#
ldap.base.url=ldap://rubric-idp.usq.edu.au:389
ldap.base.dn=ou=tech-team,dc=rubric,dc=edu,dc=au
