<?xml version="1.0" encoding="UTF-8" ?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"
	xmlns:moz="http://www.mozilla.org/2006/browser/search/">
<ShortName>Fascinator-DEF</ShortName>
<Description>Search for Learning Objects</Description>
<InputEncoding>UTF-8</InputEncoding>
<Image width="16" height="16" type="image/x-icon">http://174.129.234.185:8080/the-fascinator/favicon.ico</Image>
<Url type="text/html" method="GET" template="http://174.129.234.185:8080/the-fascinator/search/der/{searchTerms}">
</Url>
<Url type="application/atom+xml" template="http://174.129.234.185:8080/the-fascinator/feed/der/{searchTerms}">
</Url>
</OpenSearchDescription>
