<div class="footer">
		ABN: 40 234 732 081 | CRICOS:
		<a href="http://cricos.dest.gov.au/Institution/InstitutionDetails.aspx?Providerclass=244" target="_blank">QLD 00244B</a>
		<span class="extlinkIMG" title="[External Link]"/>
		|
		<a href="http://cricos.dest.gov.au/Institution/InstitutionDetails.aspx?Providerclass=2225" target="_blank">NSW 02225M</a>
		<span class="extlinkIMG" title="[External Link]"/>
		|
		<a href="http://www.usq.edu.au/aboutsite/copyright.htm">&#169; University of Southern Queensland</a>
		|
		<span class="noprint">
		<a href="http://www.usq.edu.au/aboutsite/privacy.htm">Privacy</a>
		|
		<a href="http://www.usq.edu.au/aboutsite/feedback.htm">Feedback</a>
		|
		<a href="http://www.usq.edu.au/contact/default.htm">Contact us</a>
		|
		</span>
		<div class="linefooter">
			<div class="linefooterright"> </div>
		</div>
</div>