<div class="box hidden" id="backup-form">
  <h2>Backup view</h2>
  <div class="block hidden" id="backup-progress">
    <p>Backup is currently running... you must wait for it to finish</p>
    <button id="backup-cancel">Close</button>
    <img id="backup-loading" src="$portalPath/images/icons/loading.gif" />
  </div>
  <div class="block" id="backup-start">
    <p>The backup process may take a while, do you want to start it now?</p>
    <button id="backup-accept">Start</button>
    <button id="backup-cancel">Close</button>
  </div>
  <div class="block hidden" id="backup-result">
    <h5>Last backup log (please see the log files for more detail)</h5>
    <div id="backup-log"></div>
  </div>
</div>
<script type="text/javascript">
$(function() {
    function getBackupLog() {
        jQuery.post("$portalPath/actions/backup.ajax", { func: "get-log" },
            function(data, status) {
                $("#backup-log").html(data);
            });
    }

    $("#backup-view, #backup-cancel").click(function() {
        $("#backup-view").toggleClass("selected");
        $("#backup-form").toggle("blind");
        jQuery.post("$portalPath/actions/backup.ajax",
            { func: "get-state" },
            function(data, status) {
                if (data.running == true) {
                    $("#backup-start").hide();
                    $("#backup-progress, #backup-result").show();
                }
                if (data.lastResult == "success") {
                    getBackupLog();
                    $("#backup-result").toggle();
                }
            },
            "json");
        return false;
    });

    $("#backup-accept").click(function() {
        var backupLogTimerId;
        jQuery.post("$portalPath/actions/backup.ajax", { func: "get-state" },
            function(data, status) {
                if (data.running == true) {
                    $("#backup-start").hide();
                    $("#backup-progress").show();
                } else {
                    jQuery.post("$portalPath/actions/state.ajax",
                        { func: "set", name: "backup/running", value: "true" },
                        function(data, status) {
                            $("#backup-start").hide();
                            $("#backup-progress, #backup-result").show();
                            backupLogTimerId = setInterval("getBackupLog()", 500);
                        });
                    jQuery.post("$portalPath/actions/backup.ajax",
                        { func: "backup-view" },
                        function(data, status) {
                            jQuery.post("$portalPath/actions/state.ajax",
                                { func: "set", name: "backup/running", value: "false" },
                                function(data, status) {
                                    getBackupLog();
                                    $("#backup-start").show();
                                    $("#backup-progress").hide();
                                    clearInterval(backupLogTimerId);
                                });
                        });
                }
            },
            "json");
    });
});
</script>