#macro(displayField $key)
    #set($valueList = $metaMap.get($key))
    #if($valueList)
        <tr><th>$parent.getFriendlyName($key)</th></tr>
        <tr>
            <td>
                #if($valueList.size())
                    #foreach($value in $valueList)
                        <span class="meta-value condense">$value</span>
                        <br />
                    #end
                #else
                    <span class="meta-value condense">$valueList</span>
                #end
            </td>
        </tr>
    #end
#end
#set($menuClass = "metadata")
#set($menuTitle = "Metadata")
#parseTemplate("wrapping/info-box-open.vm")
<table class="meta">
    #displayField("dc_title")
    #displayField("dc_creator")
    #displayField("dc_description")
</table>
#parseDisplayTemplate("detail/navigation/custom-metadata.vm")
#parseTemplate("wrapping/info-box-close.vm")
