.hidden {
    display:none;
}

h1#branding {
    padding: 0.3em;
}

.container_12, .container_16 {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

form.search {
    padding-top: 3px;
    padding-right: 5px;
}

.paging {
    font-size: 0.75em;
    margin-left: 0;
    padding-left: 0;
}

.paging li {
    display: inline;
    margin-left: 0;
}

.paging li a {
    color: black;
    padding: 0.2em;
    text-decoration: none;
}

.paging a:hover, .paging .selected-page {
    background: black;
    color: white;
    font-weight: bold;
    padding: 0.2em;
}

.facet-list a, ul.menu a {
    font-weight: normal;
}

.menu .selected, .facet-list .selected {
    background: black;
    color: white;
    font-weight: bold;
}

.menu .selected:hover, .facet-list .selected:hover {
    color: black;
}

.facet {
    overflow: hidden;
}

span.right {
    float: right;
}

#blog-message {
    margin-left: 35%;
}
