body {
    border-top: none;
    padding: 0;
}

h1#branding {
    padding: 0.25em;
    margin: 0;
}

.container_12, .container_16 {
    margin-left: 2%;
    margin-left: 2%;
    width: 96%;
}

form.search {
    padding-top: 0.25em;
    padding-right: 0.25em;
}

ul.section li {
    text-transform: none;
}

ul.facet-list .selected {
    background: black;
    color: white;
}

ul.facet-list .selected:hover {
    color: black;
}
