#set($oid = $self.getFormData('oid'))
#set($title = $self.getFormData('title'))
#set($pageTitle = $title)
##
<style>
 .inputscreens input { margin:0.5ex;}
 .inputscreens textarea { margin:0.5ex;}
 .inputscreens table { margin:0.5ex; margin-bottom:2ex;}
 td.delete-row {cursor:pointer; color:blue;}
 .prev-tab, .next-tab {cursor:pointer; color:blue; margin:1ex;}
 div.tab-nav {padding-top:2ex;}
 img.thumbnail {height: 100px; border: 1px solid black; margin: 10px 5px 0 0;}
</style>
#macro(createNavTree $root $class)
<ul class="$class">
  #foreach($key in $root.keySet())
    #set($item = $root.get($key))
    #set($id = $item.get("id", "blank"))
    #set($children = $item.getJsonMap("children"))
    #set($numChildren = $children.keySet().size())
    #set($hidden = "false")
    #set($hidden = $item.get("hidden"))
    #set($itemTitle = $item.get("title"))
    <li id="$key" rel="$!id">
      <a class="#if($id == $oid)clicked#end #if("$!hidden" == "True")item-hidden#end" href="#">$itemTitle</a>
      #if($numChildren > 0)
        #createNavTree($children "children")
      #end
    </li>
  #end
</ul>
#end
<div class="grid_16">
  <div class="box">
    <div id="inputForms"><!-- --></div>
  </div>
</div>
##  Javascript section
##
<script type="text/javascript" src="$portalPath/js/tree/jquery.tree.min.js"></script>
<script type="text/javascript">
// <![CDATA[
  var packageData = {
            portalPath:"$portalPath",
            metaData:$self.getJsonMetadata(),
            test:$self.getJsonTest(),
            oid:"$oid"
        };
// ]]>
</script>
<script type="text/javascript" src="$portalPath/arts/inputForms.js"></script>


