#set($noLayout = true)
#set($portal = $page.portals.get($portalId))
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>$portal.description</title>
  <link rel="alternate" type="text/html" href="${contextPath}"/>
  <link rel="alternate" type="application/atom+xml" href="${contextPath}/$portal.name/feed/atom"/>
  #if($self.hasResults())
	#set($itemList = $self.result.getList("response/docs"))
	#foreach($item in $itemList)
		#set($summary = "")
		#set($content = "")
		#set($oid = $item.get("id"))
		#if ($item.get("dc_title"))
			#set($title = $self.cleanUp($item.get("dc_title").get(0)))
		#else
			#set($title = $self.cleanUp($self.getFileName($oid)))
		#end
			
		#if ($item.get("dc_description"))
			#set($summary = $self.cleanUp($item.get("dc_description").get(0)))
			#set($content = $self.cleanUp($item.get("dc_description").get(0)))
		#end
		<entry>
			<title>$title</title>
		    <author><name>fascinator</name></author>
		    <id>$oid</id>
		    <updated>$item.get("last_modified")</updated>
		    <published></published>
		    #if ($summary)
		    	<summary type="text">$summary</summary>
		    #end
		    #if ($content)
		    	<content type="text">$content</content>
		    #end
		 </entry>
	#end
  #end
  
</feed>




 





