<div class="grid_16">
    <div id="config-notices" class="box articles notice">
        <h2>Template error</h2>
        <div class="warning">
            <b>ERROR</b> There was an error rendering the page. See details below.<hr />
            #foreach($msg in $renderMessages)
                <pre>$msg</pre>
            #end
        </div>
    </div>
</div>
<div class="clear"></div>
