<script type="text/javascript" src="$portalPath/js/tree/jquery.tree.min.js"></script>
#set($pageTitle = 'Detail')
#if($self.solrResponse.get("response/numFound") == 0)
<h2 id="page-heading">Page not found</h2>
<p>Please try a different <a href="$portalPath/search">search</a>.</p>
#else
#set($meta = $self.metadata)
#set($oid = $self.object.id)
#set($filenameNoExt = $self.getFilePathWithoutExt($oid))
#set($title = $meta.getField("dc_title"))
#set($description = $meta.getField("dc_description"))
#set($error = $self.getErrorPayload())
#if($title == "")
  #set($title = $self.getFileName($oid))
#end
##<h2 id="page-heading">$title</h2>


<table class="layout">
  <tbody>
    <tr>
      <td class="leftcol">
        <div class="columnbox">
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">Public Memory Research Centre</div>
            <ul class="menu-list">
              <li><a href="$portalPath/home">Home</a></li>
              <li><a href="$portalPath/search">Search</a></li>
              <li><a href="$portalPath/help">Help</a></li>
            </ul>
          </div>
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">Actions</div>
            <ul class="menu-list">
                #if(!$self.isMetadataOnly())
                  <li><a id="open-this" href="$portalPath/detail/$oid">Open file</a></li>
                #end
                <li><a id="reharvest" href="$portalPath/detail/$oid">Re-Harvest...</a></li>
            </ul>
          </div>
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">Downloads</div>
            <ul class="menu-list">
              <li><a href="$portalPath/download/$self.getPayLoadUrl($self.getFileName($oid))">$self.getFileName($oid)</a></li>
            </ul>
          </div>
          <!--<div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">Metadata</div>
            #set($pageHeader="#parse($page.getTemplate('detail-dc-meta.vm'))")
            <div class="block">
              <dl class="meta">
              #foreach($key in $dc.keySet())
                <dt>$self.formatName($key)</dt>
                #set($valueList = $dc.get($key))
                <dd>
                  <ul>
                  #foreach($value in $valueList)
                    <li>$value</li>
                  #end
                  </ul>
                </dd>
              #end
              </dl>
            </div>
          </div>
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">Attachments</div>
            <ul class="menu hidden">
            #foreach($payload in $self.object.payloadList)
              #set($pid = $payload.id)
              #set($payloadType = $payload.type.toString())
              <li class="payload" rel="$payload.contentType">
                <a href='$portalPath/download/$self.encode($oid)/$self.encode($pid)' rel="$payloadType" target="blank" title="$payload.contentType">$payload.id</a>
              </li>
            #end
            </ul>
          </div>
          -->
        </div>
      </td>
      <td class="middlecol">
        <div class="detail">
        #if($self.solrResponse.get("response/numFound") == 0)
          #set($pageTitle = "Not found")
          #set($breadcrumb = "Not found")
          <h1 class="content-title">Page not found</h1>
          <h2>There is no images, audios or videos matching your request.</h2>
          <p>You have been redirected to this page because one of the following occurred:</p>
          <ul type="disc">
            <li>It is possible the URL was misspelled or typed incorrectly.</li>
            <li>You have requested an item that no longer exists.</li>
          </ul>
          <p>Return to the <a href="$portalPath/home">Public Memory Research Centre</a>.</p>
        #else
          #set($oid = $self.object.id)
          #set($title = $self.metadata.getField("dc_title"))
          #set($pageTitle = $title)
          #set($breadcrumb = '<a href="' + $portalPath  + '/search">Search</a> &gt; ' + $title)
          <h1 class="content-title">$title</h1>
          <div id="preview" class="box articles">
            <h2>Preview</h2>
            <div class="results-list">
                <div class="result">
                    <h2>Tags</h2>
                </div>
            </div>
            <div id="anno-root" class="content-preview">
              <span class="mimetype" rel="$self.mimeType"></span>
              <div class="first article clearfix">
                <h3 class="title-heading">$title</h3>
                <div class="content-preview-inline">$!self.payloadContent</div>
                <div class="annotatable">Comment on the document here:</div>
                <script type="text/javascript" src="$portalPath/js/viewer.js"></script>
              </div>
            </div>
          </div>
          
        #end
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="clear"><!--clear--></div>
#if($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
<script type="text/javascript" src="$portalPath/flowplayer/flowplayer-3.1.4.min.js"></script>
#end
#if($self.mimeType.startsWith("image/"))
<script type="text/javascript" src="$portalPath/js/anotar/image.annotate.js"></script>
<script language="javascript">
    $(window).load(function() {
        $("#toAnnotate").annotateImage({
            editable: true,
            saveUrl: "$portalPath/actions/anotar.ajax?action=save-image&rootUri=$oid",
            getUrl: "$portalPath/actions/anotar.ajax?action=get-image&rootUri=$oid"
        });
    });
</script>
#end
<script type="text/javascript" src="$portalPath/js/tree/jquery.tree.min.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.ajaxQueue.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.bgiframe.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/jquery.autocomplete.pack.js"></script>
<script type="text/javascript">
$(function() {
    var oid = "$oid";
    var filenameNoExt = "$filenameNoExt";
    function fixLinks(baseUrl, selector, attrName) {
        $(selector).each(function() {
            var attr = $(this).attr(attrName);
            if (attr != null) {
                if (attr.indexOf("#") != 0 && attr.indexOf("://") == -1) {
                    var relUrl = "$portalPath/download/$self.object.id/";
                    var tmpUrl = baseUrl.substring(baseUrl.indexOf("/", 8));
                    tmpUrl = tmpUrl.replace(relUrl, "");
                    tmpUrl = tmpUrl.substring(0, tmpUrl.lastIndexOf("/")+1);
                    $(this).attr(attrName, escape(relUrl + tmpUrl + attr));
                }
            }
        });
    }
    gFixLinks = fixLinks;
    fixLinks("", "div.content-preview-inline a", "href");
    fixLinks("", "div.content-preview-inline img", "src");

    $("#open-this").click(function() {
        jQuery.post("$portalPath/open.ajax", { func: "open-file", file: "$oid" } );
        return false;
    });

    $("#reharvest").click(function() {
        jQuery.post("$portalPath/reharvest.ajax", { func: "reharvest", file: "$oid" } );
        return false;
    });

    function addRendition(href, label) {
        $("#actions").append('<li><a href="' + href + '" target="blank">' + label + '</a></li>');
    }
    $('li.payload[rel="application/pdf"] a:first').each(function() {
        addRendition($(this).attr("href"), "PDF version");
    });
    $("span.slide-link > a").each(function() {
        addRendition($(this).attr("href"), "View slide show");
    });
    $("div.rendition-links").remove();

    var mimeType = "$self.mimeType";
    //<a class="image" href="' + src + '"  style="max-width:98%">
    if (mimeType.indexOf("image/") == 0) {
        var src = "$portalPath/download/$oid";
        $("div.content-preview div.article").html(
            '<div class="annotatable"><div class="image">' +
                '<img class="image" id="toAnnotate" src="' + src + '" style="max-width:100%" />' +
            '</div><div class="clear"></div></div>');
    } else if (mimeType.indexOf("audio/") == 0 || mimeType.indexOf("video/") == 0) {
        var height = 300;
        if (mimeType.indexOf("audio/") == 0) {
            height = 24;
        }

        var style = "display: block; width: 425px; height: " + height + "px";
        var filename = oid.substring(oid.lastIndexOf("/") + 1);
        var ext = filename.substring(filename.lastIndexOf(".") + 1).toLowerCase();

        var hasFlv = "$self.hasFlv()";
        if (hasFlv!='') {
            filename = hasFlv;
        }
        
        if (hasFlv!='' || ext=="mp3" || ext=="m4a") {
            var href = "$portalPath/download/$oid/" + filename;
            var player = '<a class="clearfix" href="' + href + '" id="player" style="' + style + '" />' + 
                         '<div class="annotatable"><br/><div class="clear"></div></div>';
            $("div.content-preview div.article").empty().append(player);
            flowplayer("player", "$portalPath/flowplayer/flowplayer-3.1.5.swf",
                { clip: { autoPlay: false } });
        } else {
            var error = "$self.hasError()";
            if (hasFlv=="false") {
            	$("div.content-preview div.article").empty().append("No preview available");
            }
        }
    }
});
</script>

<script type="text/javascript" src="$portalPath/js/anotar/json2.js"></script>
<script type="text/javascript" src="$portalPath/js/anotar/anotar-0.1.js"></script>
<script type="text/javascript">
    $(function(){
        var notes = new Anotar();
        notes.setConfig("debug", true);
        notes.setConfig("object_literal", "$self.object.id");
        notes.setConfig("page_uri", "$portalPath/$self.object.id");
        #if($page.authentication.is_logged_in())
        notes.setConfig("creator", "$page.authentication.get_name()");
        notes.setConfig("creator_uri", null);
        #end
        notes.setConfig("tag_list", "p, h1, h2, h3, h4, h5, h6, .annotatable");
        notes.setConfig("proxy_required", false);
        notes.setConfig("interface_label", " <img src='$portalPath/images/icons/comment_add.png'/> Comments:");
        notes.setConfig("reply_label", " <img src='$portalPath/images/icons/comments_add.png'/>");
        notes.setConfig("server_address", "$portalPath/actions/anotar.ajax");
        notes.setConfig("server_mode", "fascinator");
        notes.setConfig("interface_visible", true);
        notes.init($);

        var tags = new Anotar();
        tags.setType("Tag");
        tags.setConfig("debug", true);
        tags.setConfig("doc_root", ".results-list");
        tags.setConfig("tag_list", ".result h2"); 
        tags.setConfig("page_uri", "$self.object.id");
        //tags.setConfig("uri_attr", "id");
        tags.setConfig("anno_type", "http://www.purl.org/anotar/ns/type/0.1#Tag");
        tags.setConfig("style_prefix", "tags-");
        tags.setConfig("proxy_required", false);
        tags.setConfig("interface_label", " <img src='$portalPath/images/icons/add.png'/>");
        tags.setConfig("interface_visible", true);
        tags.setConfig("form_prepend", true);
        tags.setConfig("form_custom", "<div class='myTags float-right'>Tag this:" +
          "<textarea></textarea>" +
          "<img src='$portalPath/images/icons/tick.png' class='myTag-submit'/>&#160;" +
          "<img src='$portalPath/images/icons/cross.png' class='myTag-cancel'>" +
        "</div>");
        tags.setConfig("form_cancel", ".myTag-cancel");
        tags.setConfig("form_submit", ".myTag-submit");
        tags.setConfig("server_address", "$portalPath/actions/anotar.ajax");
        tags.setConfig("server_mode", "fascinator");
        tags.setConfig("disable_replies", true);
        tags.init($); 
        
        /*
        var imageAno = new Anotar();
        imageAno.setType("ImageTag");
        imageAno.setConfig("debug", true);
        //imageAno.setConfig("doc_root", "span.image");
        imageAno.setConfig("tag_list", "div.image"); 
        imageAno.setConfig("page_uri", "$self.object.id");
        //imageAno.setConfig("uri_attr", "id");
        imageAno.setConfig("anno_type", "http://www.purl.org/anotar/ns/type/0.1#ImageTag");
        imageAno.setConfig("style_prefix", "imageAno-");
        imageAno.setConfig("proxy_required", false);
        imageAno.setConfig("interface_label", " <img src='$portalPath/images/icons/add.png'/>");
        //imageAno.setConfig("interface_label", " <a class='image-annotate-add' id='image-annotate-add'>Add Note</a>");
        imageAno.setConfig("interface_visible", true);
        imageAno.setConfig("form_prepend", true);
        imageAno.setConfig("form_custom", "<div class='myimageAno float-right'>Tag this:" +
          "<textarea></textarea>" +
          "<img src='$portalPath/images/icons/tick.png' class='myTag-submit'/>&#160;" +
          "<img src='$portalPath/images/icons/cross.png' class='myTag-cancel'>" +
        "</div>");
        imageAno.setConfig("form_cancel", ".myTag-cancel");
        imageAno.setConfig("form_submit", ".myTag-submit");
        imageAno.setConfig("server_address", "$portalPath/actions/anotar.ajax");
        imageAno.setConfig("server_mode", "fascinator");
        imageAno.setConfig("disable_replies", true);
        imageAno.init($);
        */
    });
</script>

#end

