<script type="text/html" id="location_form">
  <div id="location_div">
    <table>
      <tr>
        <td colspan="2" class="location_scope">
          <input type="radio" name="location_scope" id="byName" checked="true"
                 onclick="$('.annotate_name, #txtName').show();$('.annotate_ll').hide();$('.annotate_range').hide();" />
          <label for="byName">By Location Name</label>
          <input type="radio" name="location_scope" id="byLL"
                 onclick="$('.annotate_name, #txtName').hide();$('.annotate_ll').show();$('.annotate_range').hide();" />
          <label for="byLL">By Latitude/Longitude</label>
          <!--<input type="radio" name="location_scope" id="byRange"
                 onclick="$('.annotate_name').hide();$('.annotate_ll').hide();$('.annotate_range').show();" />
          <label for="byRange">By Range</label>-->
        </td>
      </tr>
      <tr>
        <td>
          <span class="hidden annotate_ll">
            Latitude: <input type="text" id="txtLatitude"/>
            Longitude: <input type="text" id="txtLongitude"/>
          </span>
          <span class="annotate_name">
            Search: 
          </span>
          <input type="text" id="txtName" size="45"/>
        </td>
      </tr>
      <tr class="hidden annotate_range">
        <td>Range: Range</td>
      </tr>
      <tr>
        <td><button class="locTag-cancel">Cancel</button>&#160;
            <button class="locTag-submit">Submit</button></td>
      </tr>
    </table>
  </div>
</script>

<script type="text/html" id="location_display">
    <% if (contentUri != null) { %>
        <% if (contentUri.indexOf("http://www.geonames.org") == 0 || contentUri.indexOf("http://www.geohash.org") == 0) { %>
            <span class='<%=style%>tag'>
                <a href="<%=contentUri%>" target="_blank"><%=content%><% if(tagCount > 1){ %> (<%=tagCount%>)<% } %></a>
            </span>
        <% }%>
    <% } else { %>
        <span></span>
      ##<a href="http://www.geonames.org/search.html?q=<%=content%>"><%=content%></a>
    <% }%>
</script>
