<div id="preview" class="box articles">
  <h2>Preview</h2>
  <div id="anno-root" class="content-preview">
    <div class="first article">
      #************************
      * Anotar GUIs
      ************************#
      <div class="article-heading">$title</div>
      #if(!($isPackage || $isImsPackage))
      <div rel="${oid}-tags">
        <div class="object-tag-list">Tags: <span class="object-tags"></span></div>
        <div class="location-tag-list">Location: <span class="location-tags"></span></div>
      </div>
      #end
