<!-- BEGIN search-header.vm -->
#set($paging = $page.pagination)
<div class="#if($page.hasResults)search-header#{else}search-header-no-result#end">
  <form action="" method="post">
    <input type="hidden" name="portal" value="$page.portalName"/>
    <div class="search-form">
      Search
      <input type="text" class="search-textfield" name="query" value="$!page.query"/>
      <input type="submit" class="button" value="Search"/>
    </div>
  </form>
  <div class="search-form">
    #if($page.hasResults)
      <p>Displaying <strong>${paging.startNum}</strong> to <strong>${paging.endNum}</strong> of <strong>${paging.totalFound}</strong> records (${page.response.queryTime} seconds)</p>
      #parse($locator.getLocation('paging.vm'))
    #end
  </div>
</div>
<!-- END search-header.vm -->
