<script type="text/html" id="people_form">
  <div id="people_div">
    <label for="txtFirstName" style="width: 6em; float: left; text-align: right; margin-right: 0.5em; display: block">First Name</label>
        <input type="text" id="txtFirstName" size="35"/><br/>
    <label for="txtSurname" style="width: 6em; float: left; text-align: right; margin-right: 0.5em; display: block">Surname</label>
        <input type="text" id="txtSurname" size="35"/><br/>
    <button class="peopleTag-search" style="margin-left: 6.5em;">Search</button>
    <div class="search_results"></div>
    <div class="hidden people_search_detail"><strong>This system searches for Australians 
        listed in the Nominal Roll of Vietnam Veterans from The Australian Department of Veterans' Affairs (<a href='http://www.vietnamroll.gov.au' target='_blank'>http://www.vietnamroll.gov.au</a>)</strong></div>
    <div class="cancel_submit">
        <input type="hidden" id="txtPeople"/>
        <button class="peopleTag-cancel">Cancel</button>&#160;
        <button class="peopleTag-submit">Submit</button></td>
    </div>
  </div>
</script>

<script type="text/html" id="people_display">
    <% if (contentUri) { %>
        <span class='<%=style%>tag'>
            <a href='<%=contentUri%>' target='_blank'><%=content%><% if(tagCount > 1){ %> (<%=tagCount%>)<% } %></a>
        </span>
    <% } else { %>
        <span class='<%=style%>tag'><%=content%></span>
    <% } %>
</script>