#set($pageTitle = "USQ Policy Library")
#if($self.result)
<ul>
  #foreach($item in $self.result.getList("response/docs"))
  #set($id = $item.get("id"))
  #set($title = $item.get("dc_title").get(0))
  <li><a href="detail/$id">$title</a></li>
  #end
</ul>
#end
