#set($notConfigured = $page.isNotConfigured())
#set($outdated = $page.isOutdated())
#set($needRestart = $page.needRestart())

#set($configScreen = ($notConfigured || $outdated || $needRestart))

#if ($configScreen)
  <div class="grid_16">
    <div id="config-notices" class="box articles notice">
      <h2>Configuration</h2>
      <div class="warning">
        <b>IMPORTANT</b>
        #if ($outdated)
        The Fascinator may not work as expected as the current system
        configuration is outdated. Please update your configuration or
        <a href="#" id="restore-default-config">restore</a> the default
        configuration and restart.
        #elseif ($needRestart)
        The Fascinator may not work as expected as the system configuration
        was changed and needs a restart to take effect.
        #elseif ($notConfigured)
        The Fascinator has not yet been configured. Please set your email
        address on the <a href="$portalPath/settings">settings</a> page.
        #else
        An unexpected error has occurred. Try restarting The Fascinator.
        #end
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function() {
          $("#restore-default-config").click(function() {
              jQuery.post("$portalPath/actions/settings.ajax",
                  { func: "restore-default-config" },
                  function(data, status) { window.location.reload(); });
              return false;
          });
      });
  </script>
  <div class="clear"></div>
  #if($pageName=="settings" && !$needRestart)
  <div class="grid_16">$!pageContent</div>
  #end
#end