<div class="grid_16">
  #parse($page.getTemplate('dialogs/login.vm'))
  #if($pageContent)
    $pageContent
  #else
    #parse($page.getTemplate('layout/error-screen.vm'))
  #end
</div>
<div class="clear"></div>
