<div class="whatsnew#if($menuClass) $!menuClass#end"#if($menuId) id="$!menuId"#end>
    <div class="specialmenuheading-top">
        <div class="specialmenuheading-topright"></div>
    </div>
    <div class="specialmenuheading-heading">#if($menuTitle)$!menuTitle#{else}&nbsp;#end</div>
    <div class="whatsnew-bodytext">
## Reset parameters
#set($menuId = $NULL)
#set($menuClass = $NULL)
#set($menuTitle = $NULL)
