<!-- BEGIN about.vm -->
<div class="welcome">
  <h1>Welcome</h1>
  <p>
    Welcome to Sun of Fedora, a demonstation of a multiple portal service based
    on <a href="http://lucene.apache.org/solr">Solr</a> and
    <a href="http://www.fedora-commons.org">Fedora</a> technologies.
  </p>
  <p>
    This service is being developed at the
    <a href="http://www.usq.edu.au/">University of Southern Queensland</a>
    together with the <a href="http://arrow.edu.au/">ARROW community</a>.
  </p>
</div>
<!-- END about.vm -->
