<!-- BEGIN search-item.vm -->
<div class="item">
  <h2>$item.field("title")</h2>
  <ul>
    #foreach($id in $item.fields("identifier"))
      <li>
        #if($id.startsWith("http://"))
          <a href="$id">$id</a>
        #else
          $id
        #end
      </li>
    #end
  </ul>
  <p class="item-description">
    <strong>Description</strong>
    <br/>
    #if($item.field("description"))
      $item.field("description")
    #else
      No description
    #end
  </p>
</div>
<!-- END search-item.vm -->
