#if($hideMenu)
<div class="relatedlinks hidden">
#else
<div class="relatedlinks">
#end
  <div class="relatedlinks-heading">
    <div class="relatedlinks-heading-bl">
      <div class="relatedlinks-heading-br">
        <div class="relatedlinks-heading-tl">
          <div class="relatedlinks-heading-tr">
#if ((!$menuTitle) && ("$!menuTitle" == ""))
            <div class="relatedlinks-headingtext">&nbsp;</div>
#else
            <div class="relatedlinks-headingtext">$menuTitle</div>
#end
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relatedlinks-body">
    <div class="relatedlinks-body-bl">
      <div class="relatedlinks-body-br">
        <div class="relatedlinks-bodytext">
