<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{ISO8601} %-8X{name} %-6p %-20.20c{0} %m%n</Pattern>
    </layout>
  </appender>
  <appender name="backup" class="ch.qos.logback.core.read.CyclicBufferAppender">
    <MaxSize>15</MaxSize>
  </appender>
  <appender name="reindex" class="ch.qos.logback.core.read.CyclicBufferAppender">
    <MaxSize>15</MaxSize>
  </appender>
  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>
  <logger name="au.edu.usq" level="DEBUG" />
  <logger name="au.edu.usq.fascinator.BackupClient" level="INFO">
    <appender-ref ref="backup" />
  </logger>
</configuration>
