#parseDisplayTemplate("detail/common.vm")
#if($page.authentication.is_admin())
    #parseDisplayTemplate("detail/dialogs/reharvest.vm")
#end
## TODO fix the blogging
##parseDisplayTemplate("detail/dialogs/blog.vm")
#parseDisplayTemplate("detail/dialogs/custom.vm")
