#set($pageTitle = 'Home')
<script type="text/javascript">
$(function() {
    $(".delete-action").click(function() {
        var portalName = $(this).attr("rel");
        if(confirm("Are you sure you want to delete the portal?")) {
            doAction("delete-portal", $(this).attr("rel"));
        }
    });
});
</script>
<br/>
<div style="margin-left: 10px">
<h1>Welcome</h1>
<p>Tell a little story about The Fascinator...</p>
<div id="home-search">
  <h1>Search</h1>
  <fieldset class="SearchBoxBottom">
    
  	<div class="SearchBoxTop">
	  <form action="search" id="search-form" method="post">
	    <input type="text" name="query" size="40" />
	    <input type="submit" name="search" value="Go!" />
	    <br style="line-height: 0.4;"/>
	    (Enter a query to search all content)
	  </form>
	</div>
  </fieldset>
</div>
<h1>Portals</h1>
<div class="home-portal-list">
#if($page.portals.size() == 1)
  <p class="ui-state-highlight">
    <span class="ui-icon ui-icon-info icon"></span>
    There are currently no other portals available
  </p>
#else
  <p>Select a portal to browse and search</p>
  <ul class="home-portal-list">
  #foreach($portal in $page.portals)
    <li>
    #if($portal.name == $portalId)
      <span class="active-link">$portal.description</span>
    #else
      <a href="$contextPath/$portal.name/search">$portal.description</a>
    #end
    #if($portal.name != "default")
      <a class="delete-action" href="#" rel="$portal.name">delete</a>
    #end
    </li>
  #end
  </ul>
#end
</div>
</div>
