#set($DEBUG = true)
#if($noLayout)
$!pageContent
#else
#if($sessionState.get("username"))
  #set($sessionUsername = $sessionState.get("username"))
#end
<html>
  <head>
    <title>The Fascinator | $!pageTitle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/vnd.microsoft.com" href="$portalPath/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <script type="text/javascript" src="$portalPath/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="$portalPath/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/usq.css" />
    $!pageHeader
    <script type="text/javascript">
    function setActionUri(uri) {
        $("#action-form").attr("action", uri);
    }
    function addActionParam(name, value) {
        $("#action-form").append('<input id="' + name + '" name="' + name + '" type="hidden" value="' + value + '" />');
    }
    function doAction(action) {
        doAction(action, "");
    }
    function doAction(action, value) {
        $("#verb").val(action);
        $("#value").val(value);
        $("#action-form").submit();
    }
    $(function() {
        // style up input fields and buttons
        $(":input").addClass("ui-corner-all");
        $(":button, :submit")
            .addClass("ui-state-default")
            .hover(function() { $(this).addClass("ui-state-hover"); },
                   function() { $(this).removeClass("ui-state-hover"); });
        $(":text, :password").addClass("ui-widget-content");
        // disable current page link
        var pageName = $("#${pageName}-link").text();
        $("#${pageName}-link").replaceWith("<span id='${pageName}-link' class='active-link'>" + pageName + "</span>");
        // setup authentication dialogs
        $("#login-dialog").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            buttons: {
                "Login": function() {
                    $("#login-form").submit();
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                $("#username, #password").val("").removeClass("ui-state-error");
            }
        });
        $("#login-link").click(function() {
            $("#login-dialog").dialog("open");
        });
        $("#logout-dialog").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            buttons: {
                "Logout": function() {
                    $("#logout-form").submit();
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                $("#username, #password").val("");
            }
        });
        $("#logout-link").click(function() {
            $("#logout-dialog").dialog("open");
        });
        // debugging
        $("#clear-session-state").click(function() {
            doAction("clear-session");
        });
        $(".debug").addClass("ui-helper-hidden");
        #if($renderMessages)
        $("#debug-link").addClass("ui-icon-alert");
        #else
        $("#debug-link").addClass("ui-icon-check");
        #end
        $("#debug-link")
            .click(function() { $(".debug").toggle("blind"); })
            .hover(function() { $(this).parent(".debug-link").addClass("ui-state-error-text"); },
                   function() { $(this).parent(".debug-link").removeClass("ui-state-error-text"); });
        #if(!$pageContent)
          $(".debug").show("blind");
        #end
    });
    </script>
  </head>
  <body>
    <div id="header">
      <div id="menu-bar">
      	<div class="linetop">
      		<div class="linetopright" style="text-align: right;">  </div>
      	</div>
      	<div class="header_search">
      		<div class="header_right">
	      		<div class="header_links">
					<a href="http://www.usq.edu.au/default.htm">Home</a>
					|
					<a href="http://www.usq.edu.au/contact/default.htm">Contact us</a>
					|
					<a href="http://apps.usq.edu.au/usqwebsite/aspnet/staffsearch/default.aspx?action=stafflookup">Staff directory</a>
				</div>
				<script type="text/javascript">
					function focusSearch(obj){
					if(obj.value == " Search USQ "){
					obj.value = "";
					}
					}
					function blurSearch(obj){
					if(obj.value == ""){
					obj.value = " Search USQ ";
					}
					}
				</script>
				<form action="http://websearch.usq.edu.au/search" method="get" name="gs">
				<fieldset>
				<div class="searchbox_go">
				<label for="usqsearch" style="width: 10px;">
				<input type="image" alt="Go" src="$portalPath/images/button_go.jpg" name="sa"/>
				</label>
				</div>
				<div class="searchbox_t">
				<div class="searchbox_b">
				<div class="searchbox_l">
				<div class="searchbox_r">
				<div class="searchbox_bl">
				<div class="searchbox_br">
				<div class="searchbox_tl">
				<div class="searchbox_tr">
				<input id="usqsearch" class="inpt-search" onblur="blurSearch(this);" onfocus="focusSearch(this);" value=" Search USQ " maxlength="2047" size="2" name="q"/>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				</fieldset>
				</form>
			</div>
      	</div>
      	<div class="header_logo">
      		<a href="http://www.usq.edu.au/"><img alt="USQ Logo" src="$portalPath/images/usqlogo_line.gif"/></a>
      		<span class="header_text">The Fascinator</span>
      	</div>
      	<div class="nobanner"/>
        <!--<div class="title">
          <h1><a href="$portalPath/home">The Fascinator</a></h1>
        </div>-->
        <div>
          <ul>
            #if($DEBUG)
            <li class="debug-link"><span class="ui-icon" id="debug-link" title="Toggle debugging"></span></li>
            #end
            <li class="with-separator"><a id="home-link" href="$portalPath/home">Home</a></li>
            ##<li class="with-separator"><a id="search-link"  href="$portalPath/search">Search</a></li>
            <li><a id="search-link"  href="$portalPath/search">Search</a></li>
            ## harvest not complete yet
            ##<li class="with-separator"><a id="harvest-link" href="$portalPath/harvest">Harvest</a></li>
            ##<li class="with-separator"><a id="settings-link" href="$portalPath/settings">Settings</a></li>
            <li>
            ##if($sessionUsername)
            ##  <a id="logout-link">Logout: <span class="session-username">$sessionUsername</span></a>
            ##else
            ##  <a id="login-link" href="#">Login</a>
            ##end
            </li>
          </ul>
        </div>
      </div>
      <h3 class="portal-name">$page.portalName</h3>
    </div></div>
    <!--<div class="debug" id="debug">
      <div class="ui-state-error">
        <pre>$!renderMessages</pre>
      </div>
      <div class="ui-state-highlight">
        <pre>sessionState: $sessionState</pre>
        <pre>formData: $formData</pre>
        <a href="#" id="clear-session-state">Clear session</a>
      </div>
    </div> -->
    <div id="content">
      $!pageContent
    </div>
    <!--<div id="login-dialog" title="Login">
      <form id="login-form" method="post">
        <input name="verb" value="login" type="hidden" />
        <label for="username">Username:</label>
        <input id="username" name="username" size="25" type="text" />
        <label for="password">Password:</label>
        <input id="password" name="password" size="25" type="password" />
      </form>
    </div>
    <div id="logout-dialog" title="Logout">
      <form id="logout-form" method="post">
        <input name="verb" value="logout" type="hidden" />
      </form>
      <p><span class="ui-icon ui-icon-alert icon"></span>Are you sure you want to log out?</p>
    </div> -->
    <form action="$portalPath/$pageName" id="action-form" method="post">
      <input id="verb" name="verb" type="hidden" />
      <input id="value" name="value" type="hidden" />
    </form>
    <div class="footer">
		ABN: 40 234 732 081 | CRICOS:
		<a href="http://cricos.dest.gov.au/Institution/InstitutionDetails.aspx?Providerclass=244" target="_blank">QLD 00244B</a>
		<span class="extlinkIMG" title="[External Link]"/>
		|
		<a href="http://cricos.dest.gov.au/Institution/InstitutionDetails.aspx?Providerclass=2225" target="_blank">NSW 02225M</a>
		<span class="extlinkIMG" title="[External Link]"/>
		|
		<a href="http://www.usq.edu.au/aboutsite/copyright.htm">&#169; University of Southern Queensland</a>
		|
		<span class="noprint">
		<a href="http://www.usq.edu.au/aboutsite/privacy.htm">Privacy</a>
		|
		<a href="http://www.usq.edu.au/aboutsite/feedback.htm">Feedback</a>
		|
		<a href="http://www.usq.edu.au/contact/default.htm">Contact us</a>
		|
		</span>
		<div class="linefooter">
			<div class="linefooterright"> </div>
		</div>
	</div>
  </body>
</html>
#end
