#set($paging = $self.paging)
#if($paging.pages.size() > 1)
<ul class="paging">
  <li><a class="select-page" rel="1" href="$portalPath/browse$self.getPageQuery(1)">First</a></li>
  #if($paging.page > 1)
    #set($prev = $paging.page - 1)
    <li>
      <a class="select-page" rel="$prev" href="$portalPath/browse$self.getPageQuery($prev)">Previous</a>
    </li>
  #end
  #foreach($pageNum in $paging.pages)
    <li #if($pageNum.selected)class="selected-page"#end>
      #if($pageNum.selected)
      <span class="select-page">$pageNum.value</span>
      #else
      <a class="select-page" rel="$pageNum.value" href="$portalPath/browse$self.getPageQuery($pageNum.value)">$pageNum.value</a>
      #end
    </li>
  #end
  #if($paging.page < $paging.lastPage)
    #set($next = $paging.page + 1)
    <li>
      <a class="select-page" rel="$next" href="$portalPath/browse$self.getPageQuery($next)">Next</a>
    </li>
  #end
  <li><a class="select-page" rel="$paging.lastPage" href="$portalPath/browse$self.getPageQuery($paging.lastPage)">Last</a></li>
</ul>
#end
