#set($pageTitle = 'Browse')
#set($query = $self.query)
#set($paging = $self.paging)
#set($searchType = "full_text")
#set($searchType = $self.searchType)
#if($query)
  #set($atomLink = "$portalPath/feed/atom?query=$query")
#else
  #set($atomLink = "$portalPath/feed/atom")
#end
#set($pageHeader = '
  <link rel="alternate" type="application/atom+xml" href="'+ $atomLink +'" />
  <script type="text/javascript" src="' + $portalPath + '/js/jquery.truncate.js"></script>
')
<table class="layout">
  <tbody>
    <tr>
      <td class="leftcol">
        <div class="columnbox">
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">USQ Policy Library</div>
            <ul class="menu-list">
              <li><a href="$portalPath/home">Home</a></li>
              <li class="selected">Browse</li>
              <li><a href="$portalPath/help">Help</a></li>
            </ul>
          </div>
          #if($self.hasSelectedFacets() || $query != "")
            <div class="mainmenu">
              <div class="mainmenu-top"></div>
              <div class="mainmenu-heading">Actions</div>
              <ul class="menu-list">
                #if($query != "")
                  <li><a href="$portalPath/search">Clear search</a></li>
                #end
                #if($self.hasSelectedFacets())
                  <li><a id="clear-facets" href="#">Clear selection</a></li>
                #end
              </ul>
            </div>
          #end
          #displayFacetTree("policy_type", "Policy type")
          #displayFacet("f_title_group")
          #if($self.result and $paging.totalFound > 0)
          <div class="advanced">
            <h2><span class="ui-icon ui-icon-triangle-1-s icon"></span>Advanced</h2>
            <div>
              #displayFacet("f_usq_document_type")
              #displayFacetTree("div_dept_office", "Division/Department")
              #displayFacetTree("next_review_date", "Next review date")
              #displayFacetTree("committee", "Committee")
              #displayFacetTree("responsible_officer", "Responsible officer")
              #displayFacetTree("strategic_plan", "Strategic plan")
            </div>
          </div>
          #end
        </div>
      </td>
      <td class="middlecol">
        <h2 class="content-title">Browse</h2>
        #if($self.result and $paging.totalFound > 0)
        <div>
          <p class="search-message">Displaying <strong>${paging.startNum}</strong> to <strong>${paging.endNum}</strong> of <strong>${paging.totalFound}</strong> records (in $self.queryTime seconds)</p>
          #parse($page.getTemplate("search-paging.vm"))
        </div>
        <div class="result-list">
          <ul>
          #foreach($item in $self.result.getList("response/docs"))
            #set($id = $item.get("id"))
            #set($dcTitle = "")
            #set($dcTitle = $item.get("dc_title").get(0))
            #if($dcTitle.trim() != "")
              #set($title = $dcTitle)
            #else
              #set($title = $self.getFileName($id))
            #end
            #set($description = "")
            #set($description = $item.get("usq_document_purpose").get(0))
            <li id="$id">
              <h3><a href="detail/$id">$page.escapeText($title)</a></h3>
              <p class="item-description">$page.escapeText($!description)</p>
            </li>
          #end
          </ul>
        </div>
        #end
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
$(function() {
    addActionParam("query", "$!query");
    
    var selected = $self.selectedFacetIds;
    var query = $("#query").val();
    createTree("#policy_type", "f_usq_document_policy_type", selected, query);
    createTree("#div_dept_office", "f_usq_document_div_dept_office", selected, query);
    createTree("#committee", "f_usq_document_committee_owner", selected, query);
    createTree("#next_review_date", "usq_document_next_reviewdate", selected, query);
    createTree("#responsible_officer", "f_usq_document_responsible_position", selected, query);
    createTree("#strategic_plan", "f_usq_document_strategic_plan", selected, query);
    
    //autocomplete
    $("input#query").autocomplete("$portalPath/autocomplete.ajax");
    
    // facet actions
    $("#clear-facets").click(function() {
        doAction("clear_fq");
        return false;
    });
    $(".add-facet").click(function() {
        doAction("add_fq", $(this).attr("rel"));
        return false;
    });
    $(".remove-facet").click(function() {
        doAction("remove_fq", $(this).attr("rel"));
        return false;
    });
    
    var cookieOpts = { path: "/", expires: 10 };
    
    // toggle facets
    $(".mainmenu:has(.facet-list) > .mainmenu-heading")
        .each(function() {
            var next = $(this).next();
            var icon = $(this).find("span");
            var id = next.attr("id");
            var state = jQuery.cookie("tf_" + id);
            if (state == "true") {
                icon.removeClass("ui-icon-triangle-1-e");
                icon.addClass("ui-icon-triangle-1-s");
                next.show();
            } else {
                icon.addClass("ui-icon-triangle-1-e");
                icon.removeClass("ui-icon-triangle-1-s");
                next.hide();
            }
        })
        .click(function() {
            var next = $(this).next();
            var icon = $(this).find("span");
            var id = next.attr("id");
            icon.toggleClass("ui-icon-triangle-1-e");
            icon.toggleClass("ui-icon-triangle-1-s");
            next.toggle();
            var state = next.is(":visible");
            jQuery.cookie("tf_" + id, state, cookieOpts);
            return false;
        });
    
    // toggle advanced facets
    $(".advanced h2")
        .each(function() {
            var icon = $(this).prev("span");
            var next = $(this).next();
            var id = next.attr("id");
            var state = jQuery.cookie("tf_visible_advanced");
            if (state == "true") {
                icon.removeClass("ui-icon-triangle-1-e");
                icon.addClass("ui-icon-triangle-1-s");
                next.show();
            }
        })
        .click(function() {
            var icon = $(this).prev();
            var next = $(this).next();
            icon.toggleClass("ui-icon-triangle-1-e");
            icon.toggleClass("ui-icon-triangle-1-s");
            next.toggle();
            jQuery.cookie("tf_visible_advanced", next.is(":visible"), cookieOpts);
            return false;
        });
    
    // truncate descriptions
    $("p.item-description").truncate(500, {
        trail: [ '... <a href="#" class="truncate_show">more</a>',
                 ' <a href="#" class="truncate_hide">less</a>' ]
    });
});
</script>
