#set($pageHeader = '<meta name="description" content="' + $self.metadata.getField("usq_document_purpose") + '" />')
<table class="layout">
  <tbody>
    <tr>
      <td class="leftcol">
        <div class="columnbox">
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">USQ Policies</div>
            <ul class="menu-list">
              <li><a href="$portalPath/home">Home</a></li>
              <li><a href="$portalPath/browse">Browse</a></li>
              <li><a href="$portalPath/help">Help</a></li>
            </ul>
          </div>
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">Downloads</div>
            <ul class="menu-list">
              <li><a href="$portalPath/download/$self.pdfUrl">Printable version (PDF)</a></li>
            </ul>
          </div>
        </div>
      </td>
      <td class="middlecol">
        <div class="detail">
        #if($self.solrResponse.get("response/numFound") == 0)
          #set($pageTitle = "Not found")
          #set($breadcrumb = "Not found")
          <h1 class="content-title">Page not found</h1>
          <h2>There is no USQ policy or procedure matching your request.</h2>
          <p>You have been redirected to this page because one of the following occurred:</p>
          <ul type="disc">
            <li>It is possible the URL was misspelled or typed incorrectly.</li>
            <li>You have requested an item that no longer exists.</li>
          </ul>
          <p>Return to the <a href="$portalPath/home">USQ Policies Home Page</a>.</p>
        #else
          #set($oid = $self.object.id)
          #set($title = $self.metadata.getField("dc_title"))
          #set($pageTitle = $title)
          #set($breadcrumb = '<a href="' + $portalPath  + '/browse">Browse</a> &gt; ' + $title)
          <h1 class="content-title">$title</h1>
          <div class="content">$!self.payloadContent</div>
        #end
        </div>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
$(function() {
    $(".pdf-rendition-link").empty();
    
    function fixLinks(selector, attrName) {
        $(selector).each(function() {
            var attr = $(this).attr(attrName);
            if (attr != null) {
                if (attr.indexOf("#") != 0 && attr.indexOf("://") == -1) {
                    $(this).attr(attrName, "$portalPath/download/$self.object.id/" + attr);
                }
            }
        });
    }
    fixLinks("div.content a", "href");
    fixLinks("div.content img", "src");
});
</script>
