#set($pageTitle = 'Help')
<table class="layout">
  <tbody>
    <tr>
      <td class="leftcol">
        <div class="columnbox">
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">USQ Policies</div>
            <ul class="menu-list">
              <li><a href="$portalPath/home">Home</a></li>
              <li><a href="$portalPath/browse">Browse</a></li>
              <li class="selected">Help</li>
            </ul>
          </div>
        </div>
      </td>
      <td class="middlecol">
        <div class="help">
          <h2 class="content-title">Help</h2>
          <p>Please contact <a href="http://apps.usq.edu.au/StaffSearch/default.aspx?staffsearchaction=showdetails&staffsearchrecordid=1900">Stephen Wright</a>.</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
