#macro(createFacetMenu $facetFieldKey)
  #set($facetCounts = $self.getFacetCounts($facetFieldKey))
  #if($facetCounts.size() > 0)
  <div class="facet-group mainmenu ui-helper-clearfix">
    <div class="mainmenu-top"></div>
    <div class="mainmenu-heading"><span class="ui-icon ui-icon-triangle-1-e icon"></span>$self.getFacetName($facetFieldKey)</div>
    <ul class="facet-list ui-helper-hidden" id="$facetFieldKey">
    #foreach($facetCountKey in $facetCounts.keySet())
      #set($facetCount = $facetCounts.get($facetCountKey))
      #set($facetQuery = $self.getFacetQuery($facetFieldKey, $facetCountKey))
      <li>
        #set($key = $page.escapeText($self.getFacetValue($facetCountKey)))
        <a style="padding-left:$self.getFacetIndent($facetCountKey)px" href="$portalPath/browse/$facetQuery">$key</a> ($facetCount)
      </li>
    #end
    </ul>
  </div>
  <span><!-- empty span to prevent IE from collapsing whitespace --></span>
  #end
#end
#set($pageTitle = 'Home')
<table class="layout">
  <tbody>
    <tr>
      <td class="leftcol">
        <div class="columnbox">
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">USQ Policy Library</div>
            <ul class="menu-list">
              <li class="selected">Home</li>
              <li><a href="http://websearch.usq.edu.au/search?site=USQ_PolicyLibrary&client=USQ_PolicyLibrary&output=xml_no_dtd&proxystylesheet=USQ_PolicyLibrary">Search</a></li>
              <li><a href="$portalPath/browse">Browse</a></li>
              <li><a href="$portalPath/help">Help</a></li>
            </ul>
          </div>
          #createFacetMenu("f_usq_document_policy_type")
          #createFacetMenu("f_title_group")
        </div>
      </td>
      <td class="middlecol">
        <div class="home">
          <div class="home-welcome">
            <h2 class="content-title">University Policy Library</h2>
            <p>The University Policy Library is the definitive source of current policy and procedural documentation relating to the governance and management of the academic affairs of the University.</p>
            <h2>Financial Services Policies and Procedures</h2>
            <p><a href="http://www.usq.edu.au/financialservices/b-policies">Financial Services Policies and Procedures</a> include the Financial Management Practice Manual, PeopleSoft Manuals, Purchasing Manual, State Purchasing Policy and Manual of Financial Procedures and Information and will be moved into the Policy Library in the near future.</p>
            <h2>ICT Standards</h2>
            <p>There are a range of <a href="http://www.usq.edu.au/ict/standards">ICT Standards</a> that have been delegated underneath the Policy for ICT Information Management and Security and will be moved into the Policy Library in the near future.</p>
          </div>
          <div class="home-search">
            <h2>Search</h2>
            <form action="http://websearch.usq.edu.au/search" method="get" name="gs">
              <fieldset class="SearchBoxBottom">
                <div class="SearchBoxTop">
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td valign="middle"><font size="-1"><input type="text" value="" maxlength="256" size="28" name="q"></font></td>
                                <td valign="middle"><font size="-1">&nbsp;<input type="submit" value="Go" name="btnG"></font></td>
                                <td nowrap=""><font size="-2">&nbsp;&nbsp;<a href="http://websearch.usq.edu.au/search?access=p&amp;entqr=0&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;ud=1&amp;site=USQ_PolicyLibrary&amp;ie=UTF-8&amp;client=USQ_PolicyLibrary&amp;oe=UTF-8&amp;proxystylesheet=USQ_PolicyLibrary&amp;ip=139.86.35.192&amp;proxycustom=&lt;ADVANCED/&gt;">Advanced Search</a><br>&nbsp;&nbsp;<a href="http://websearch.usq.edu.au/user_help.html">Search Tips</a><br></font>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset><input type="hidden" value="0" name="entqr" />
              <input type="hidden" value="" name="proxycustom" />
              <input type="hidden" value="xml_no_dtd" name="output" />
              <input type="hidden" value="date:D:L:d1" name="sort" />
              <input type="hidden" value="1" name="ud" />
              <input type="hidden" value="USQ_PolicyLibrary" name="client" />
              <input type="hidden" value="UTF-8" name="oe"><input type="hidden" value="UTF-8" name="ie" />
              <input type="hidden" value="USQ_PolicyLibrary" name="proxystylesheet" />
              <input type="hidden" value="USQ_PolicyLibrary" name="site" />
            </form>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
$(function() {
    var cookieOpts = { path: "/", expires: 10 };
    
    // toggle facets
    $(".mainmenu:has(.facet-list) > .mainmenu-heading")
        .each(function() {
            var next = $(this).next();
            var icon = $(this).find("span");
            var id = next.attr("id");
            var state = jQuery.cookie("tf_" + id);
            if (state == "true") {
                icon.removeClass("ui-icon-triangle-1-e");
                icon.addClass("ui-icon-triangle-1-s");
                next.show();
            } else {
                icon.addClass("ui-icon-triangle-1-e");
                icon.removeClass("ui-icon-triangle-1-s");
                next.hide();
            }
        })
        .click(function() {
            var next = $(this).next();
            var icon = $(this).find("span");
            var id = next.attr("id");
            icon.toggleClass("ui-icon-triangle-1-e");
            icon.toggleClass("ui-icon-triangle-1-s");
            next.toggle();
            var state = next.is(":visible");
            jQuery.cookie("tf_" + id, state, cookieOpts);
            return false;
        });
});
</script>
