#if($noLayout)
$!pageContent
#else
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>$!pageTitle | USQ Policy Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/vnd.microsoft.com" href="$portalPath/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <script type="text/javascript" src="$portalPath/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="$portalPath/js/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.usq.edu.au/Migration.Standard.Website/App_Themes/Default/Common.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="http://www.usq.edu.au/Migration.Standard.Website/App_Themes/Default/CommonIE.css" />
    <![endif]-->
    <!--[if IE6]>
    <link rel="stylesheet" type="text/css" href="http://www.usq.edu.au/Migration.Standard.Website/App_Themes/Default/CommonIE6.css"" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="$portalPath/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="$portalPath/css/print.css" media="print" />
    <style type="text/css">
      .SearchBoxTop {
      	padding: 0px 10px 0px 10px;
      	margin: 5px 0 0 0;
      	width: 100%;
      }
      .SearchBoxBottom {
      	border: thin solid #FFE141;
      	background-color: #FFF8DB;
      	padding: 0px 0px 0px 0px;
      	margin: 5px 0 0 0;
      	width: 98%;
      }
    </style>
    $!pageHeader
  </head>
  <body>
    <div class="header_search">
      <div class="header_right">
        <div class="header_links">
          <a href="http://www.usq.edu.au/" title="USQ website home">Home</a> | 
          <a href="http://www.usq.edu.au/contact/" title="Contact USQ">Contact us</a> | 
          <a href="http://apps.usq.edu.au/usqwebsite/aspnet/staffsearch/default.aspx?action=stafflookup" title="Search for USQ staff">Staff directory</a> | 
          <a target="_blank" href="http://uconnect.usq.edu.au" title="UConnect (Previously USQConnect)">UConnect</a>
        </div>
        <!--Search Start-->
        <!-- Google CSE Search Box Begins -->
        <script type="text/javascript">
        function focusSearch(obj){
          if(obj.value == " Search USQ "){
            obj.value = "";
          }
        }
        function blurSearch(obj){
          if(obj.value == ""){
            obj.value = " Search USQ ";
          }
        }
        </script>
        <form method="get" action="http://websearch.usq.edu.au/search" name="gs">
          <fieldset>
            <div id="ctl8" class="searchbox_go">
              <label for="usqsearch">
                <input type="image" name="sa" src="$portalPath/images/button_go.jpg" alt="Go" />
              </label>
            </div>
            <div id="ctl9" class="searchbox_t">
              <div id="ctl10" class="searchbox_b">
                <div id="ctl11" class="searchbox_l">
                  <div id="ctl12" class="searchbox_r">
                    <div id="ctl13" class="searchbox_bl">
                      <div id="ctl14" class="searchbox_br">
                        <div id="ctl15" class="searchbox_tl">
                          <div id="ctl16" class="searchbox_tr">
                            <input type="text" name="q" value=" Search USQ " size="2" maxlength="2047" onfocus="focusSearch(this);" onblur="blurSearch(this);" id="usqsearch" class="inpt-search" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" name="entqr" value="0" />
            <input type="hidden" name="output" value="xml_no_dtd" />
            <input type="hidden" name="sort" value="date:D:L:d1" />
            <input type="hidden" name="client" value="default_frontend"/>
            <input type="hidden" name="ud" value="1" />
            <input type="hidden" name="oe" value="UTF-8" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="hidden" name="proxystylesheet" value="default_frontend" />
            <input type="hidden" name="site" value="default_collection" />
          </fieldset>
        </form>
        <!-- Google CSE Search Box Ends -->
        <!--Search End-->
      </div>
    </div>
    <div class="body">
      <div class="header">
        <div class="linetop">
          <div class="linetopright"></div>
        </div>
        <div class="header_logo">
          <a href="http://www.usq.edu.au/">
            <img src="$portalPath/images/usqlogo_line.gif" alt="USQ Logo" />
          </a>
          <span class="header_text">USQ Policy Library</span>
        </div>
      </div>
      <div class="navbar">
        <span class="breadcrumbs">
          <a href="http://www.usq.edu.au/">USQ Home</a> &gt;
          <a href="$portalPath/home">USQ Policies</a> &gt;
          #if($breadcrumb)$breadcrumb#{else}$pageTitle#end
        </span>
      </div>
      <div class="nobanner"></div>
      <div class="maincontent">
        $!pageContent
      </div>
      <div class="footer">
        ABN: 40 234 732 081 | CRICOS:
        <a title="USQ Queensland CRICOS Provider Code" href="http://cricos.deewr.gov.au/Institution/InstitutionDetails.aspx?ProviderID=244">QLD 00244B</a> |
        <a title="USQ New South Wales CRICOS Provider Code" href="http://cricos.deewr.gov.au/Institution/InstitutionDetails.aspx?ProviderID=2225">NSW 02225M</a> |
        <a title="Copyright statement" href="http://www.usq.edu.au/aboutsite/copyright.htm">&copy; University of Southern Queensland</a> |
        <a title="Right to Information" href="http://www.usq.edu.au/records/rtiandlegaldiscovery"> Right to Information</a> |
        <span class="noprint">
          <a title="Disclaimer statement" href="http://www.usq.edu.au/aboutsite/disclaimer">Disclaimer</a> |
          <a title="Privacy statement" href="http://www.usq.edu.au/aboutsite/privacy">Privacy</a> |
          <a title="Provide feedback on the USQ website" href="http://www.usq.edu.au/aboutsite/feedback">Feedback</a> |
          <a title="Provide feedback on the USQ website" href="http://www.usq.edu.au/sitemap">Sitemap</a> | 
          <a title="Contact USQ" href="http://www.usq.edu.au/contact">Contact us</a>
        </span>
        <div class="linefooter">
          <div class="linefooterright" />
        </div>
      </div>
    </div>
    <form action="$portalPath/$pageName" id="action-form" method="post">
      <input id="verb" name="verb" type="hidden" />
      <input id="value" name="value" type="hidden" />
    </form>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-897928-4");
        pageTracker._trackPageview();
    } catch (err) { }
  </script> 
  </body>
</html>
#end
