#macro(showElement $tag $field)
    #set($valueList = $item.get($field))
    #foreach($value in $valueList)
        <$tag>$value</$tag>
    #end
#end

<registryObjects xmlns="http://ands.org.au/standards/rif-cs/registryObjects" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ands.org.au/standards/rif-cs/registryObjects http://services.ands.org.au/home/orca/schemata/registryObjects.xsd">
  <registryObject>
  </registryObject>
</registryObjects>

