#parseDisplayTemplate("detail/common.vm")

#if($parent.isDetail())
    #if($parent.isPending())
        <div id="pending" class="box articles notice">
            <h2>Pending</h2>
            <div class="warning">
                <b>IMPORTANT</b>Please note that this object is currently in the render queue. There may be pending changes not visible below.
            </div>
        </div>
    #end
    #parseDisplayTemplate("detail/dialogs.vm")
    #parseDisplayTemplate("detail/preview/header.vm")
#else
    ## RVT requests an ICE-style format
    <div>
        <div class="title"></div>
        <div class="page-toc"></div>
        <div class="body">
            <div id="anno-root">
#end

#parseDisplayTemplate("detail/preview/body.vm")

#if($parent.isDetail())
    #parseDisplayTemplate("detail/preview/footer.vm")
#else
            </div>
        </div>
    </div>
#end

#parseDisplayTemplate("detail/annotation.vm")
