<div class="grid_16">
  <h1 id="branding" style="float:left;"><a href="$portalPath/home"><img src="$portalPath/images/fasc_feather.png" width="69" height="62" style="padding-right:10px"/>The Fascinator</a></h1>
  
 #parse($page.getTemplate('layout/header-application.vm'))
</div>
<div class="clear"></div>
