<div id="headerbar">
    <div id="headerbar-title">
		<img id="logo-icon" src="$portalPath/images/fasc_feather.png" alt="ADFI Blog">
		<a href="$portalPath/home">The Fascinator</a>
	</div>

 #parse($page.getTemplate('layout/header-application.vm'))
 </div>