#set($pageTitle = 'Harvest')
#set($harvesters = $self.harvesters)
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#harvesters').accordion({
      autoHeight: false,
      clearStyle: true,
      change: function(event, ui) {
        // do something
        console.log(ui.newHeader);
      }
    });
    jQuery('#harvestForm input').each(function() {
      this.name = jQuery(this).closest('div').attr('id') + "_" + this.name;
      console.log(this);
    });
    jQuery('#harvestButton').click(function() {
      console.log("active=", jQuery('#harvesters').accordion('option', 'active'));
    });
  })
</script>
<h2>Harvest</h2>
<p>Get some Fascinating stuff</p>
#if($harvesterList.size() == 0)
  <p><em>No harvester plugins found!</em></p>
#else
  <form id="harvestForm" method="post">
    <div id="harvesters">
    #foreach($harvester in $harvesters)
      <h3><a href="#">$harvester.name</a></h3>
      <div id="$harvester.id">$harvester.config</div>
    #end
    </div>
    <br />
    <input id="harvestButton" class="button big_button" type="button" name="harvest" value="Give it me!" />
  </form>
#end
