#set($pageTitle = 'Home')
<h2>Welcome</h2>
<p>Tell a little story about The Fascinator</p>
<h3>Search</h3>
<p>Enter a query to search through all portals</p>
<form id="searchForm" action="search" method="get">
  <input class="textbox" type="text" name="query" size="40" />
  <input class="button" type="submit" name="search" value="Go" />
</form>
<h3>Portals</h3>
<p>Select a portal to browse</p>
<ul class="portal_list">
  #foreach($portal in $page.portals)
    <li>
      #if(${portal.name}!=${portalId})
        <a href="${contextPath}/${portal.name}/search">${portal.description}</a>
      #else
        <em>${portal.description}</em>
      #end
    </li>
  #end
</ul>
