#set($pageTitle = 'Search')
#set($pageHeader = '<link rel="stylesheet" type="text/css" href="js/tree/tree_component.css" />
    <script type="text/javascript" src="js/tree/lib/css.js"></script>
    <script type="text/javascript" src="js/tree/tree_component.min.js"></script>')
#set($numFound = $self.result.get("response/numFound"))
#set($itemList = $self.result.getList("response/docs").toArray())
#set($facetFields = $self.result.getMap("facet_counts/facet_fields"))
#set($portal = $page.portals.get($portalId))
<script type="text/javascript">
$(function() {
    $("#file_path").tree({
        data: {
            async: true,
            async_data: function(node) {
                return {
                    id: $(node).attr("id") || 0,
                    query: $("#query").val()
                }
            },
            type: "json",
            url: "search-tree.ajax"
        },
        ui: {
            animation: 250,
            dots: false
        }
    });
});
</script>
<pre class="debug">$self.result.toString()</pre>
<div id="search-header">
  <h2>Search</h2>
  <form action="search" id="search-form" method="post">
    <input id="query" name="query" size="40" type="text" value="$!formData.get('query')"/>
    <input name="search" type="submit" value="Go!" />
  </form>
  <p>Found $numFound items</p>
</div>
<div class="colmask leftmenu" id="search-results">
  <div class="colright">
    <div class="col1wrap">
      <div class="col1" id="result-list">
        <h3>Results</h3>
        <ul>
        #foreach($item in $itemList)
          #set($id = $self.getFileName($item.get("id")))
          #set($title = $id)
          #set($title = $item.get("dc.title").get(0))
          #set($description = $item.get("dc.description").get(0))
          <li>
            <div id='$id'>
              <h3>$title</h3>
              <p>$!description</p>
            </div>
          </li>
        #end
        </ul>
      </div>
    </div>
    <div class="col2">
      <h3>Facets</h3>
      <h4 class="dotted-line">Path</h4>
      <div id="file_path" class="ui-helper-clearfix"></div>
      #foreach($facetField in $facetFields)
        <div class="facet-list">
        #set($facetCounts = $self.getFacetCounts($facetField.key))
        #if($facetCounts.size() > 0)
          #if($facetField.key != "file_path")  ## TODO need a better way to test check for hierarchical facets
            <h4 class="dotted-line">$self.getFacetName($facetField.key)</h4>
            <ul>
            #foreach($facetCount in $facetCounts)
              <li>$facetCount.key ($facetCount.value)</li>
            #end
            </ul>
          #end
        #end
        </div>
      #end
    </div>
  </div>
</div>
