#set($pageTitle = 'Search')
#set($numFound = $self.result.get("response/numFound"))
#set($itemList = $self.result.getList("response/docs").toArray())
<h2>Search</h2>
<div id="search">
  <p>Found $numFound items</p>
  #foreach($item in $itemList)
    <div>
      $item.get("dc.title").get(0)
    </div>
  #end
  <pre>$self.result.toString()</pre>
</div>
