#macro(waitRender $oid)
  <b>Rendering</b>:
  <div class="box">
      <img src="$portalPath/images/loading-progress.gif" />
      <ul id="render-list"></ul>
  </div>
  ## ActiveMQ ajax based messaging
  <script type="text/javascript" src="$portalPath/js/anotar/json2.js"></script>
  <script type="text/javascript" src="$portalPath/js/amq/amq_jquery_adapter.js"></script>
  <script type="text/javascript" src="$portalPath/js/amq/amq.js"></script>
  <script type="text/javascript">
      function waitRender(message) {
          var json = this.JSON.parse(message.nodeValue);
          $("#render-list").append("<li>" + json.message + "</li>");
          if (json.status == "renderComplete" && json.id == "$oid") {
              window.location = "$portalPath/workflow/$oid";
          }
      }
      var amq = org.activemq.Amq;
      amq.init({ uri: "$contextPath/amq/", timeout: 10 });
      amq.addListener("tf_messages", "topic://message", waitRender);
  </script>
#end

#macro(showError $message)
  <div class="box articles">
    <h2>Error</h2>
    <div class="box">
      <p class="stop-error">$message</p>
      #if ("$!self.getOid()" == "")
      #else
      ##### TODO Security check first
      #####<p>You can view the current <a href="$portalPath/detail/$self.getOid()">detail screen</a> for the object however.</p>
      #end
    </div>
  </div>
#end

#set($pageTitle = $self.getWorkflowMetadata().get("pageTitle"))
<h2 id="page-heading">#if($pageTitle)$pageTitle#{else}Workflow Management#end</h2>
<div id="form-section">

  ### *********************
  ###   Errors
  ### *********************
  #if ($self.hasError())
  #showError($self.getError())
  #else

    ### *********************
    ###   Render pending
    ### *********************
    #set ($pending = $self.isPending())
    #if ($pending)
    <div class="box articles notice">
      <h2>Pending</h2>
      <div class="warning">
        <b>IMPORTANT</b>Please note that this object is currently in the render queue. There may be pending data/metadata changes not visible below.
      </div>
    </div>
    #end

    ### *********************
    ###   Fresh uploads
    ### *********************
    #if ($self.justUploaded() && $pending)
    <h4>File Upload Complete</h4>
    <div class="box">
      <p><b>File Uploaded</b>: '$self.getFileName()' ($self.getFileSize())</p>
      <p>Please wait. The object is currently being process on the server. The workflow will begin progressing as soon as it has completed.</p>
      <p>If you'd like to come back to this object later, you can visit <a href="$portalPath/detail/$self.getOid()">the detail screen</a>.</p>
      #waitRender($self.getOid())
    </div>

    #else
      ### *********************
      ###   Invalid objects
      ### *********************
      #set ($oid = $self.getOid())
      #if ("$!oid" == "")
      <div class="box">
        Sorry, but there's no data here regarding an uploaded file. Did you perhaps refresh the page after your upload?
      </div>

      ### *********************
      ###   Normal workflow managements
      ### *********************
      #else

        #if ($pending)
        <p>Please wait. The object is currently being process on the server. The workflow will progress as soon as it has completed.</p>
        #waitRender($oid)
        #else
          #if ($self.redirectNeeded())
        <script type="text/javascript">
            window.location = "$portalPath/detail/$oid";
        </script>
          #else
            #if($self.prepareTemplate())
              $self.renderTemplate()
            #else
              #showError($self.getError())
            #end
          #end
        #end

      #end
    #end
  #end
</div>
