body {
	background: none;
	font-size: 80%;
	border-top: 0px;
}
.header_search fieldset {
	background: none;
	padding: 2px;
}
.menubar form {
	display: inline;
	line-height: 2.5em;
}
.menubar li span.status {
	height: 2.5em;
	line-height: 2.5em;
    margin: 0px 5px;
}
.menubar {
    background-color: #FFF5D2;
    margin: 0px;
    padding: 0px;
}
.menubar ul {
    margin: 0px;
}
.menubar li.hidden {
    display: none;
}
.menubar li.secondary {
	float: right;
}
.menubar li {
	margin: 0px;
    float: left;
    position: relative;
    background-color: #FFF5D2;
}
.menubar li a {
	height: 2.5em;
	line-height: 2.5em;
}
ul.dropdown {
    cursor: default;
    height: auto;
    left: -9000px;
    max-width: 100%;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 2.5em;
}
li:hover ul.dropdown {
    left: 0px;
    z-index: 10;
}
ul.dropdown li a {
    display: block;
    border-top: 1px dotted #959CA1;
    background: none repeat scroll 0 0 #FFF5D2;
	height: 2em;
	line-height: 2em;
    width: 12em;
    text-align:left;
    margin: 0px;
    padding: 0px 3px;
}
.container_16 {
	font-size: 11px;
}
ul.menu li a {
    border: 0px;
}
.mainmenu li a:hover {
    background: none !important;
}
.mainmenu li a, .mainmenu-heading {
    font-size: 11px;
}
.whatsnew {
    width: 100%;
}
.relatedlinks {
    width: 100%;
}
.relatedlinks ul {
    border: 0px;
    border-top: 1px dotted #CCCCCC;
}
.relatedlinks ul li {
    border-bottom: 1px dotted #CCCCCC;
}
#file_path ul, #file_path li {
    border: 0px;
}
#action-list li.selected, #action-list a.selected, #action-list a.selected:hover {
    background: url("../images/icons/tick.png") no-repeat scroll 0% 50% transparent;
}
#action-list a.selected, #action-list a.selected:hover {
    background: transparent;
}
.whatsnew h2 {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    color: #FFFFFF;
}
#attachments h2 a {
    background: url("../images/icons/switch_plus.gif") no-repeat scroll 95% 50% transparent;
    color: #FFFFFF;
    display: block;
    margin: -6px -12px;
    padding: 6px 12px;
    font-weight: bold;
}
#attachments h2 a.visible {
    background-image: url("../images/icons/switch_minus.gif");
}
#attachments ul {
    border: 0px;
}
h2 span {
    font-size: 12px;
}
#page-heading span {
    font-size: 23px;
}
#result-list .article {
    border: 0px;
    border-top: 1px dotted #959CA1;
    margin-top: 10px;
}
#result-list .alternate {
    background-color: #EEEEEE;
}
#result-list .tags {
    border: 0px;
}
