{
    "harvester": {
        "type": "ice2-harvester",
        "ice2-harvester": {
            "baseDir": "${user.home}/Documents/ICE/Course",
            "ignoreFilter": ".svn|.DS_Store",
            "link": false
        }
    },

    "transformer": {
        "extractor": [],
        "indexOnHarvest": false,
        "render": ["aperture"],
        "aperture": {
            "outputPath": "${java.io.tmpdir}/ice2-output"
        }
    },

    "indexer": {
        "script": {
            "type": "python",
            "rules": "ice2.py"
        },
        "params": {
            "repository.name": "ICE Content",
            "repository.type": "ICE Harvest",
            "base.file.path": "${user.home}/Documents/"
        }
    }
}
