{
    "harvester": {
        "type": "jsonq",
        "jsonq": {
            "url": "http://localhost:9000/",
            "lastModified": "0"
        }
    },
    
    "transformer": {
        "extractor": ["aperture"],
        "render": ["ice2", "ims"],
        "aperture": {
            "outputPath": "${java.io.tmpdir}/ice2-output"
        },
        "ice2": {
            "url": "http://ec2-75-101-136-199.compute-1.amazonaws.com/api/convert/",
            "resize.image.mode": "fixedWidth",
            "resize.image.ratio": "-90",
            "resize.image.fixedWidth": "150",
            "enlargeImage": "false",
            "outputPath": "${java.io.tmpdir}/ice2-output",
            "excludeRenditionExt": ".txt,.mp3,.m4a"
        }
    },
    
    "indexer": {
        "script": {
            "type": "python",
            "rules": "local-files.py"
        },
        "params": {
            "repository.name": "Local Files",
            "repository.type": "Local File System"
        }
    }
}
