#set($validFFmpeg = $self.parseFFmpeg($parent))

#if($parent.isDetail())
    #set($previews = $parent.getAllPreviews())
    #foreach ($preview in $previews)
        #set($format = $self.getFFmpegData($preview, "format"))
        #set($codec = $self.getFFmpegData($preview, "codec"))
        #set($width = $self.getFFmpegData($preview, "width"))
        #set($height = $self.getFFmpegData($preview, "height"))
        #set($size = $self.getFFmpegData($preview, "size"))
        #set($size = $self.niceSize($size))

        <div class="ffmpegIndex">
            <p><b>File</b>: <a href="$portalPath/detail/$oid/$preview?download=false">$preview</a></p>
            <b>Resolution</b>: $width x $height<br/>
            #if ($codec == "")
            <b>Format</b>: $format<br/>
            #else
            <b>Format</b>: $format ($codec)<br/>
            #end
            <b>Size</b>: $size<br/>
        </div>
    #end
#end
