#set($menuId = "blog-form")
#set($menuClass = "hidden")
#set($menuTitle = "Blog")
#parseTemplate("wrapping/info-box-open.vm")
<form id="blog" method="post">
        <fieldset class="login">
            <legend>Blog information</legend>
            <p>
                <label for="blog_url">Blog APP URL*</label>
                <input type="text" id="blog_url" name="blog_url" />
            </p>
            <p>
                <label for="blog_title">Title</label>
                <input type="text" id="blog_title" name="blog_title" value="$title"/>
            </p>
            <p>
                <label for="blog_username">Username</label>
                <input type="text" id="blog_username" name="blog_username" />
            </p>
            <p>
                <label for="blog_password">Password</label>
                <input type="password" id="blog_password" name="blog_password" />
            </p>
            <p class="message">
                <img class="hidden" id="blog-loading" src="$portalPath/images/icons/loading.gif" />
                <span id="blog-message"></span>
            </p>
            <input class="button" id="blog-accept" type="button" value="Blog" />
            <input id="blog-cancel" type="button" value="Close" />
        </fieldset>
    </form>
    <p>* Note: To use this feature the target blog needs to support the <a href="http://en.wikipedia.org/wiki/Atom_%28standard%29">Atom Publishing Protocol (APP)</a>. Usually this feature must be specifically enabled, and some platforms might not support all content, such as images and attachments.</p>
    <p>For more information on APP support on your blog, consult the documentation (e.g. <a href="http://codex.wordpress.org/AtomPub">WordPress</a>).
#parseTemplate("wrapping/info-box-close.vm")
<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.ajaxQueue.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/jquery.autocomplete.pack.js"></script>
<script type="text/javascript">
$(function() {
    $("#blog-this, #blog-cancel").click(function() {
        $("#blog-this").toggleClass("selected");
        $("#blog-message").empty();
        $("#blog-form").toggle("blind");
        return false;
    });
    $("#blog-accept").click(function() {
        $("#blog-message").empty();
        $("#blog-loading").show();
        jQuery.post("$portalPath/actions/blog.ajax",
            {
                url: $("#blog_url").val(),
                title: $("#blog_title").val(),
                username: $("#blog_username").val(),
                password: $("#blog_password").val(),
                oid: "$oid"
            },
            function(data, status) {
                $("#blog-loading").hide();
                $("#blog-message").html(data);
            }
        );
    });
    $("#blog_url").autocomplete("$portalPath/actions/blog.ajax?func=url-history");
});
</script>
