#set($pageTitle = "Object not found")
<h2 id="page-heading">Object not found</h2>
<div class="grid_16">
    <div class="box">
        <p>The object was not found. Please try a different <a href="$portalPath/search">search</a></p>
    </div>
</div>
