## reharvest progress
<div id="reharvest-form" class="box hidden">
  <h2><span id="reharvest-loading" class="right"><img src="$portalPath/images/icons/loading.gif" /></span>Reharvest progress</h2>
  <p>Reharvesting of '$title' in progress...</p>
  <ul id="reharvest-progress"></ul>
  <p class="hidden" id="reharvest-complete">Reharvest completed, please <a href="$portalPath/detail/$oid">refresh</a> to view the latest version</p>
</div>

<script type="text/javascript">
    $("#reharvest").click(function() {
        var amq = org.activemq.Amq;
        var clientId = "reharvest_$oid";
        var clientTopic = "topic://message";
        function waitRender(message) {
            var json = this.JSON.parse(message.nodeValue);
            $("#reharvest-progress").append("<li>" + json.message + "</li>");
            if (json.status == "renderComplete" && json.id == "$oid") {
                amq.removeListener(clientId, clientTopic);
                $("#reharvest-loading").hide();
                $("#reharvest-complete").show();
            }
        }
        $("#reharvest-form").show();
        jQuery.post("$portalPath/reharvest.ajax",
            { func: "reharvest", oid: "$oid" },
            function(data, status) {
                amq.init({ uri: "$contextPath/amq/", timeout: 10 });
                amq.addListener(clientId, clientTopic, waitRender);
            }, "json");
        return false;
    });
</script>
