<ListIdentifiers>
    #foreach($item in $itemList)
        <header>
            <identifier>$self.getID($item)</identifier>
            <datestamp>$item.getFirst("last_modified")</datestamp>
            <setSpec>$self.getSet($item)</setSpec>
        </header>
    #end

    #if ($self.token)
        <resumptionToken>$self.token.getToken()</resumptionToken>
    #end
</ListIdentifiers>
