<h2 id="page-heading">File Upload</h2>
<div id="form-section" class="grid_12">
  <h4>File Upload Complete</h4>
  <div class="box" id="upload-complete">
    <p><b>Plugins</b>: '$self.get_plugin()'</p>
    #set($file_details = $self.upload_details())
    #foreach($field in $file_details.keySet())
    <p><b>$field</b>: '$file_details.get($field)'</p>
    #end
  </div>
</div>
