#if($self.solrResponse.get("response/numFound") == 0)
<h2 id="page-heading">Page not found</h2>
<p>Please try a different <a href="$portalPath/search">search</a>.</p>
#else
#set($meta = $self.metadata)
#set($oid = $self.object.getId())
#set($filenameNoExt = $self.getFilePathWithoutExt($oid))
#set($title = $meta.getField("dc_title"))
#set($description = $meta.getField("dc_description"))
#if(!$title)
  #set($title = $self.getFileName($oid))
#end
#set($pageTitle = "Detail | $title")
<script type="text/javascript" src="$portalPath/js/geohash/geohash.js"></script>
<h2 id="page-heading">Detail</h2>
<div class="grid_4">
  #if(!$self.isMetadataOnly())
  <div class="box menu">
    <h2>Actions</h2>
    <ul class="menu" id="actions">
      #if($self.canOpenFile())
      <li><a id="open-this" href="$portalPath/detail/$oid">Open file</a></li>
      #end
      <li><a id="reharvest" href="$portalPath/detail/$oid">Reharvest...</a></li>
      #if($self.hasHtml())
      <li><a id="blog-this" href="#">Blog...</a><li>
      #end
    </ul>
  </div>
  #end
  <div id="metadata" class="box">
    <h2>Metadata</h2>
    #set($pageHeader="#parse($page.getTemplate('detail-header.vm'))")
    <div class="block">
      <table class="meta">
      #foreach($key in $dc.keySet())
        <tr>
        <th>$self.formatName($key)</th>
        #set($valueList = $dc.get($key))
        </tr>
        <tr>
          <td>
          #foreach($value in $valueList)
          <span class="meta-value">$value</span><br/>
          #end
          </td>
        </tr>
      #end
      </table>
    </div>
  </div>
  <div id="attachments" class="box menu">
    <h2><a href="#">Attachments</a></h2>
    <ul class="menu hidden">
    #foreach($pid in $self.object.getPayloadIdList())
      #set($payload = $self.object.getPayload($pid))
      #set($payloadType = $payload.getType().toString())
      <li class="payload" rel="$payload.getContentType()">
        <a href='$portalPath/download/$self.encode($oid)/$self.encode($pid)' rel="$payloadType" target="blank" title="$payload.getContentType()">$pid</a>
      </li>
    #end
    </ul>
  </div>
</div>
<div class="grid_12">
  #if($self.hasHtml())
  <div class="box hidden" id="blog-form">
    <h2>Blog</h2>
    <form id="blog" method="post">
      <fieldset class="login">
        <legend>Blog information</legend>
        <p>
          <label for="blog_url">Blog URL</label>
          <input type="text" id="blog_url" name="blog_url" />
        </p>
        <p>
          <label for="blog_title">Title</label>
          <input type="text" id="blog_title" name="blog_title" value="$title"/>
        </p>
        <p>
          <label for="blog_username">Username</label>
          <input type="text" id="blog_username" name="blog_username" />
        </p>
        <p>
          <label for="blog_password">Password</label>
          <input type="password" id="blog_password" name="blog_password" />
        </p>
        <p class="message">
          <img class="hidden" id="blog-loading" src="$portalPath/images/icons/loading.gif" />
          <span id="blog-message"></span>
        </p>
        <input class="button" id="blog-accept" type="button" value="Blog" />
        <input id="blog-cancel" type="button" value="Close" />
      </fieldset>
    </form>
    <p>Note: Some platforms may not support images or attachments.</p>
  </div>
  #end
  #if ($self.isPending())
  <div id="pending" class="box articles notice">
    <h2>Pending</h2>
    <div class="warning">
      <b>IMPORTANT</b>Please note that this object is currently in the render queue. There may be pending data/metadata changes not visible below.
    </div>
  </div>
  #end
  <div id="preview" class="box articles">
    <h2>Preview</h2>
    <div id="anno-root" class="content-preview">
      <div class="first article">
        <div class="article-heading">$title</div>
        <div id="object-tag-list">
          <div rel="$page.md5Hash($oid)_object">Tags: <span class="object-tags"></span></div>
        </div>
        <br/>
        <div id="location-tag-list">
          <div rel="$page.md5Hash($oid)_location">Location: <span class="location-tags"></span></div>
        </div>
        <br/>
        <div id="content">
        #if($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
          <table>
	          <tbody>
	            <tr>
	              <td id="player-container"></td>
	              <td>
	                <div class="video-results-list">
	                  <div class="video-result-list" anotar-uri="$oid">
	                  </div>
	                </div>
	              </td>
	            </tr>
	          </tbody>
	        </table>
        #else
          <div class="content-preview-inline">$!self.payloadContent</div>
          <script type="text/javascript" src="$portalPath/js/tree/jquery.tree.min.js"></script>
          <script type="text/javascript" src="$portalPath/js/viewer.js"></script>
          <div class="annotatable">Comments:</div>
        #end
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"><!-- clear --></div>
#if($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
<script type="text/javascript" src="$portalPath/flowplayer/flowplayer-3.1.4.min.js"></script>
<script type="text/javascript" src="$portalPath/flowplayer/flowplayer.controls-3.0.2.js"></script>
#end
<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.ajaxQueue.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/lib/jquery.bgiframe.js"></script>
<script type="text/javascript" src="$portalPath/js/autocomplete/jquery.autocomplete.pack.js"></script>
<script type="text/javascript">
var display_help = false;
function toggleHelp(help_link) {
    if (!display_help) {
        $(".help_p").css("display", "block");
        help_link.text("Hide help");
        display_help = true;
    } else {
        $(".help_p").css("display", "none");
        help_link.html("Show help");
        display_help = false;
    }
}

$(function() {
    var oid = "$oid";
    var filenameNoExt = "$filenameNoExt";
    function fixLinks(baseUrl, selector, attrName) {
        $(selector).each(function() {
            var attr = $(this).attr(attrName);
            if (attr != null) {
                if (attr.indexOf("#") != 0 && attr.indexOf("://") == -1) {
                    var relUrl = "$portalPath/download/$self.object.getId()/";
                    var tmpUrl = baseUrl.substring(baseUrl.indexOf("/", 8));
                    tmpUrl = tmpUrl.replace(relUrl, "");
                    tmpUrl = tmpUrl.substring(0, tmpUrl.lastIndexOf("/")+1);
                    $(this).attr(attrName, escape(relUrl + tmpUrl + attr));
                }
            }
        });
    }
    gFixLinks = fixLinks;
    fixLinks("", "div.content-preview-inline a", "href");
    fixLinks("", "div.content-preview-inline img", "src");

    $("#open-this").click(function() {
        jQuery.post("$portalPath/open.ajax", { func: "open-file", file: "$oid" } );
        return false;
    });

    $("#reharvest").click(function() {
        jQuery.post("$portalPath/reharvest.ajax", { func: "reharvest", file: "$oid" } );
        return false;
    });

    function addRendition(href, label) {
        $("#actions").append('<li><a href="' + href + '" target="blank">' + label + '</a></li>');
    }
    $('li.payload[rel="application/pdf"] a:first').each(function() {
        addRendition($(this).attr("href"), "PDF version");
    });
    $("span.slide-link > a").each(function() {
        addRendition($(this).attr("href"), "View slide show");
    });
    $("div.rendition-links").remove();

    var mimeType = "$self.mimeType";

    #if($self.mimeType.startsWith("image/"))
        var src = "$portalPath/download/$oid/$self.getPreview('$portalPath/download/$oid')";
        $("#content").html(
            '<div id="$oid" class="annotatable"><div class="image">' +
              '<img class="image" id="image-content" src="' + src + '" style="max-width: 100%" />' +
            '</div><div class="clear"></div></div>');
    #elseif($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
        var height = 300;
        if (mimeType.indexOf("audio/") == 0) {
            height = 24;
        }
        var style = "display: block; width: 425px; height: " + height + "px";
        var filename = oid.substring(oid.lastIndexOf("/") + 1);
        var ext = filename.substring(filename.lastIndexOf(".") + 1).toLowerCase();
        var hasFlv = "$self.hasFlv()";
        if (hasFlv!='') {
            filename = hasFlv;
        }
        if (hasFlv!='' || ext=="mp3" || ext=="m4a") {
            var href = "$portalPath/download/$oid/" + filename;
            var player1 = '<div href="' + href + '" id="player" style="' + style + '"></div>'; 
            $("#player-container").attr("style", style).html(player1);
            player = flowplayer("player", "$portalPath/flowplayer/flowplayer-3.1.5.swf",
                { clip: { autoPlay: false, autoBuffering: true },
                  play: {
                    label: "Play",
                    replayLabel: "Click to play again"
                  }
                });
        }
        
        $("#player_seek_start").live("click", function() {
            player.seek(0);
        });
        $("#player_rewind").live("click", function() {
            player.seek(player.getTime() - 1);
        });
        $("#player_play").live("click", function() {
            player.toggle();
        });
        $("#player_forward").live("click", function() {
            player.seek(player.getTime()+1);
        });
        $("#player_seek_end").live("click", function() {
            player.seek(player.getClip().fullDuration-1);
            player.pause();
        });
        
        $("#player_mark_start_time").live("click", function() {
            $("#txtStartMark").attr("value", player.getTime());
            $("#player_mark_end_time").attr("disabled", false);
            $("#txtEndMark").attr("disabled", false);
        });
        $("#player_mark_end_time").live("click", function() {
            $("#txtEndMark").attr("value", player.getTime());
            uri = player.getClip().url + "#";
            start = $('#txtStartMark').val();
            end = $('#txtEndMark').val()
            if (start != "" && end != "") {
                //Use Normal Play Time as described in http://www.ietf.org/rfc/rfc2326.txt
                uri += "t=npt:";
                if (start != "" && start > 0) {
                    uri += start + "s"
                    if (player.getClip().duration < start) {
                        //warning += "<li>The requested start-point is greater than the video's duration.</li>";
                    }
                }
                if (end != "") {
                    uri += "," + end + "s";
                    if (player.getClip().duration < end) {
                        //warning += "<li>The requested end-point is greater than the video's duration.</li>";
                    }
                }
            }
            $(".video-results-list").attr("rel", uri);
        });
        
        $(".player_clear_fragment").live("click", function() {
            $("#txtStartMark").attr("value", "");
            $("#txtEndMark").attr("value", "");
            $("#media_clip").attr("rel", "");
            if (player.getClip()) {
                player.pause();
                player.getClip().update({duration:player.getClip().fullDuration});
            }
        });
        
        $("#player_play_fragment").live("click", function() {
            player.pause();
            player.seek($('#txtStartMark').val());
            player.getClip().update({duration:$('#txtEndMark').val()});
            player.play();
        });
        
        $(".player_play_clip").live("click", function() {
            player.pause();
            var startTime = $(this).siblings(".startTime").text().replace("s", "");
            var endTime = $(this).siblings(".endTime").text().replace("s", "");
            player.seek(startTime);
            player.getClip().update({duration:endTime});
            player.play();
        });
    #end

    #if($self.hasHtml())
    $("#blog-this, #blog-cancel").click(function() {
        $("#blog-this").toggleClass("selected");
        $("#blog-message").empty();
        $("#blog-form").toggle("blind");
        return false;
    });
    $("#blog-accept").click(function() {
        $("#blog-message").empty();
        $("#blog-loading").show();
        jQuery.post("$portalPath/actions/blog.ajax",
            {
                url: $("#blog_url").val(),
                title: $("#blog_title").val(),
                username: $("#blog_username").val(),
                password: $("#blog_password").val(),
                oid: "$oid",
            },
            function(data, status) {
                $("#blog-loading").hide();
                $("#blog-message").html(data);
            }
        );
    });
    
    $("#blog_url").autocomplete("$portalPath/actions/blog.ajax?func=url-history");
    #end

    $("#attachments h2 a").click(function() {
        $("#attachments ul").toggle("blind").toggleClass('visible').toggleClass('hidden');
        return false;
    });

    #if($self.isMetadataOnly())
    $("#preview").after($("#metadata")).remove();
    #end
    
    $("#txtLatitude, #txtLongitude").live("keyup", function() {
    	var latitude = $("#txtLatitude").attr("value");
    	var longitude = $("#txtLongitude").attr("value");
    	if (latitude == undefined) latitude = 0;
    	if (longitude == undefined) longitude = 0;
    	
    	geoHash = "http://www.geohash.org/" + encodeGeoHash(latitude, longitude);
    	$("#location-tag-list").attr("rel", geoHash);
    	$("#txtName").attr("value", "Lat: " + latitude + ", Long: " + longitude);
    });
});
</script>

<script type="text/javascript" src="$portalPath/js/anotar/json2.js"></script>
<script type="text/javascript" src="$portalPath/js/anotar/anotar-0.2.js"></script>

<script type="text/html" id="object_tag_form">
    <div class='myTags float-right'>Tag this:
      <input id="object-tag-input" type="text" />
      <img src='$portalPath/images/icons/tick.png' class='myTag-submit' />&#160;
      <img src='$portalPath/images/icons/cross.png' class='myTag-cancel' />
    </div>
</script>

<script type="text/javascript">
    $(function() {
    	var jQ = jQuery;
    	// Tags annotation
        tagConfig = {
            //debug: true,
            docRoot: "#object-tag-list",
            tagList: "div",
            #if($page.authentication.is_logged_in()) 
            creator: "$page.authentication.get_name()",
            creatorUri: null,
            #end
            contentInput: "#object-tag-input",
            pageUri: "$oid",
            uriAttr: "rel",
            outputInChild: ".object-tags",
            annotationType: "tag",
            stylePrefix: "tags-",
            interfaceLabel: " <img src='$portalPath/images/icons/add.png'/>",
            formPrepend: true,
            interfaceVisible: true,
            formCustom: "object_tag_form",
            formCancel: ".myTag-cancel",
            formSubmit: ".myTag-submit",
            serverAddress: "$portalPath/actions/anotar.ajax",
            getAnnotation: null,
            disableReply: true,
            serverMode: "fascinator"
        }
        tag = anotarFactory(jQ, tagConfig);
        
        // Location Tags annotation
        locationConfig={
            //debug: true,
            docRoot: "#location-tag-list",
            tagList: "div",
            #if($page.authentication.is_logged_in()) 
            creator: "$page.authentication.get_name()",
            creatorUri: null,
            #end
            contentInput: "#txtName",
            pageUri: "$oid",
            uriAttr: "rel",
            outputInChild: ".location-tags",
            annotationType: "tag",
            stylePrefix: "tags-",
            interfaceLabel: " <img src='$portalPath/images/icons/add.png'/>",
            //formPrepend: true,
            interfaceVisible: true,
            formCustom: "location_form",
            formCancel: ".locTag-cancel",
            formSubmit: ".locTag-submit",
            displayCustom: "location_display",
            formPopup: true,
            formPopupSettings: {
            	width: 500,
                title: "Location Tag"
            }, 
            onFormDisplay: function(node){
            	$("#byName").click();
				$(node).autocomplete('$portalPath/actions/geonames.ajax', {
					extraParams: {"func":"placeName"}, 
					formatItem: function(row) {
						return row[0];
					}
				}).result(function(event, item) {
					if (item) {
						$("#location-tag-list").attr("rel", "http://www.geonames.org/" + item[1]);
					}
				});
            },
            getContentUri: function(node) {
                var rel = node.attr("rel");
                if (rel == null) {
                    // content is not a URI
                    return { isUri: false };
                }
                
                return { isUri: true, contentUri: rel };
            },
            serverAddress: "$portalPath/actions/anotar.ajax",
            disableReply: true,
            serverMode: "fascinator"
        }
        /// Use formCloseFunction to overwrite close function
        locationTag = anotarFactory(jQ, locationConfig);
        
        
        #if($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
        // Audio/Video Tags annotation
        var videoAnoLabel = "<img src='$portalPath/images/icons/comment_add.png'/>&#160;Comment on this media:";
        videoConfig={
            debug: true,
            label: videoAnoLabel,
            //objectLiteral: "$oid",
            pageUri: "$oid",
            docRoot: ".video-results-list",
            tagList: ".video-result-list",
            uriAttr: "anotar-uri",
            replyLabel: "<img src='$portalPath/images/icons/comments_add.png'/>",
            //formPrepend: true,
            //stylePrefix: "anno-",
            #if($page.authentication.is_logged_in()) 
            creator: "$page.authentication.get_name()",
            creatorUri: null,
            #end
            interfaceLabel: videoAnoLabel,
            interfaceVisible: true,
            formCustom: "media_clip_form",
            formCancel: ".myTag-cancel",
            formSubmit: ".myTag-submit",
            displayCustom: "media_clip_comment", 
            hashType: "http://www.w3.org/TR/2009/WD-media-frags-20091217",
            hashFunction: function(node) {
                var rel = node.attr("rel");
                if (rel == null) { rel = "$oid"; }
                return rel;
            },
            onFormDisplay: function(node){
                $("#annotate_all").click();
            },
            serverAddress: "$portalPath/actions/anotar.ajax",
            disableReply: false,
            serverMode: "fascinator"
        }
        $("#media_clip textArea").live("focus", function() {
            var replies = $("#media_clip").prev("blockquote.anno-inline-annotation-quote")
                                          .find(".anno-anno-children");
            if (replies.length > 0) {
                $(".annotate_scope").hide();
            } else {
                $(".annotate_scope").show();
            }
            return false;
        });
        
        videoTag = anotarFactory(jQ, videoConfig);
        #else
        
        noteConfig={
            pageUri: "$oid",
            #if($page.authentication.is_logged_in()) 
            creator: "$page.authentication.get_name()",
            creatorUri: null,
            #end
            tagList: "p, h1, h2, h3, h4, h5, h6, .annotatable",
            interfaceLabel: " <img src='$portalPath/images/icons/comment_add.png'/> Comments:",
            replyLabel: " <img src='$portalPath/images/icons/comments_add.png'/>",
            serverAddress: "$portalPath/actions/anotar.ajax",
            serverMode: "fascinator",
            interfaceVisible: false
        }
        noteTag = anotarFactory(jQ, noteConfig);
        #end
        
    });
</script>

<script type="text/javascript">
    function attach(node) {
        if (!$(node).attr("attach")) {
            $(node).attr("attach", "true");
            $(node).autocomplete('$portalPath/actions/geonames.ajax', {
                extraParams: {"func":"placeName"}, 
                formatItem: function(row) {
                    return row[0];
                }
            }).result(function(event, item) {
                if (item) {
                    $("#location-tag-list").attr("rel", item[1]);
                }
            });
        }
    }
</script>

<script type="text/html" id="location_form">
  <div id="location_div">
    <table>
      <tr>
        <td colspan="2" class="location_scope">
          <input type="radio" name="location_scope" id="byName" checked="true"
                 onclick="$('.annotate_name, #txtName').show();$('.annotate_ll').hide();$('.annotate_range').hide();" />
          <label for="byName">By Location Name</label>
          <input type="radio" name="location_scope" id="byLL"
                 onclick="$('.annotate_name, #txtName').hide();$('.annotate_ll').show();$('.annotate_range').hide();" />
          <label for="byLL">By Latitude/Longitude</label>
          <!--<input type="radio" name="location_scope" id="byRange"
                 onclick="$('.annotate_name').hide();$('.annotate_ll').hide();$('.annotate_range').show();" />
          <label for="byRange">By Range</label>-->
        </td>
      </tr>
      <tr>
      	<td>
      	  <span class="hidden annotate_ll">
      	  	Latitude: <input type="text" id="txtLatitude"/>
	        Longitude: <input type="text" id="txtLongitude"/>
      	  </span>
      	  <span class="annotate_name">
      	  	Search: 
      	  </span>
      	  <input type="text" id="txtName" size="45"/>
      	</td>
      </tr>
      <tr class="hidden annotate_range">
        <td>Range: Range</td>
      </tr>
      <tr>
        <td><button class="locTag-cancel">Cancel</button>&#160;
            <button class="locTag-submit">Submit</button></td>
      </tr>
    </table>
  </div>
</script>

<script type="text/html" id="location_display">
	<% if (contentUri != null) { %>
		<% if (contentUri.indexOf("http://www.geonames.org") == 0 || contentUri.indexOf("http://www.geohash.org") == 0) { %>
			<span class='<%=style%>tag'>
				<a href="<%=contentUri%>" target="_blank"><%=content%><% if(tagCount > 1){ %> (<%=tagCount%>)<% } %></a>
			</span>
		<% }%>
	<% } else { %>
		<span></span>
      ##<a href="http://www.geonames.org/search.html?q=<%=content%>"><%=content%></a>
	<% }%>
</script>

#if($self.mimeType.startsWith("audio/") || $self.mimeType.startsWith("video/"))
<script type="text/html" id="media_clip_form">
  <div id="media_clip">
    <table>
      <tr>
        <td colspan="2" class="annotate_scope">
          <input type="radio" name="annotate_scope" id="annotate_all" checked="true"
                 onclick="$('.annotate_clip').hide()" />
          <label for="annotate_all">Comment on the whole video</label><br/>
          <input type="radio" name="annotate_scope" id="annotate_clip"
                 onclick="$('.annotate_clip').show()" />
          <label for="annotate_clip">Select a portion (clip) to annotate</label>
          <span class="hidden annotate_clip">(<a onclick="toggleHelp($(this))">Show help</a>)</span>
        </td>
      </tr>
      <tr class="hidden annotate_clip">
        <td colspan="2">
          <p class="help_p">The tools below will help you select a specific
          section of video that you want to comment on. We call this section a
          "clip". This top row of buttons is similar to those on your home DVD
          player:</p>
          <ul class="help_p">
          <li>To go to the beginning of the video, click the "&lt;&lt; button</li>
          <li>To move the video forward by 1 second click on the "&lt;" button</li>
          <li>To play and pause the video click on the "Play/Pause" button</li>
          <li>To move the video back by 1 second click on the "&gt;" button</li>
          <li>To go to the end of the video, click the "&gt;&gt; button</li>
          </ul>
        </td>
      </tr>
      <tr class="hidden annotate_clip">
        <td colspan="2">
          <input id="player_seek_start" type="button" value="&lt;&lt;" />
          <input id="player_rewind" type="button" value="&lt;" />
          <input id="player_play" type="button" value="Play/Pause" />
          <input id="player_forward" type="button" value="&gt;" />
          <input id="player_seek_end" type="button" value="&gt;&gt;" />
        </td>
      </tr>
      <tr class="hidden annotate_clip">
        <td colspan="2">
          <p class="help_p">To create a clip, you need to set a beginning and
          end time. We use seconds to set the time.
          <br/>
          You can start the video playing and press the "Mark start time" and
          "Mark end time" buttons and the system will set the timing for you.
          <br/>
          Alternatively, you can enter the start and end times as seconds in
          the corresponding text boxes.
          </p>
        </td>
      </tr>
      <tr class="hidden annotate_clip">
        <td><input id="player_mark_start_time" type="button" value="Mark start time" value=""/></td>
        <td><input type="text" id="txtStartMark" value="" size="5"/></td>
      </tr>
      <tr class="hidden annotate_clip">
        <td><input id="player_mark_end_time" type="button" value="Mark end time" value="" disabled="true"/></td>
        <td><input type="text" id="txtEndMark" value="" disabled="true" size="5"/></td>
      </tr>
      <tr class="hidden annotate_clip">
        <td colspan="2">
          <p class="help_p">Once you have set the start and end times for your
          clip you can preview the clip by pressing "Play clip".
          <br/>You can also scrap the clip by pressing "Clear clip".</p>
        </td>
      </tr>
      <tr class="hidden annotate_clip">
        <td colspan="2">
          <input class="player_clear_fragment" type="button" value="Clear clip" />
          <input id="player_play_fragment" type="button" value="Play clip" />
        </td>
      </tr>
      <tr><td colspan="2">Comment:</td></tr>
      <tr><td colspan="2"><textArea cols="30"></textArea></td></tr>
      <tr><td colspan="2">
        <button class="myTag-cancel">Cancel</button>&#160;
        <button class="myTag-submit">Submit</button>
      </tr>
    </table>
  </div>
</script>
<script type="text/html" id="media_clip_comment">
  <%
  var startTime = "";
  var endTime = "";
  if (locator != null) {
    var npt = locator.split("#t=npt:");
    if (npt.length > 1) {
        npt = npt[1].split(",");
        startTime = npt[0];
        if (startTime.length == 0) { startTime = "0s"; }
        endTime = npt[1];
        if (endTime.length == 0) { endTime = "0s"; }
    }
  }
  %>
  <div class="<%=style%>inline-annotation <%=toggle%>" anotar-uri="<%=id%>">
      <input name="rootUri" value="<%=root%>" type="hidden"/>
      <div class="<%=style%>orig-content" style="display:none;"><%=original%></div>
      <div class="<%=style%>anno-info">
        Comment by: <span class="<%=style%>anno-creator"><%=creator%></span>
         &nbsp; <span class="<%=style%>anno-date"><%=date%></span>
      </div>
      <% if (startTime != "" && endTime != "") { %>
      <div class="<%=style%>anno-info">
        <input class="player_play_clip" type="button" value="Play" />
        Clip duration: <span class="startTime"><%=startTime%></span> to
        <span class="endTime"><%=endTime%></span>
      </div>
      <% } %>
      <div>
        <span class="<%=style%>anno-content"><%=content%></span>
      </div>
      <div class="<%=style%>anno-children"><%=children%></div>
  </div>
</script>
#end

#if($self.mimeType.startsWith("image/"))
<script type="text/javascript" src="$portalPath/js/image.annotate.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $("#image-content").annotateImage({
            editable: true,
            saveUrl: "$portalPath/actions/anotar.ajax?action=save-image&rootUri=$oid",
            getUrl: "$portalPath/actions/anotar.ajax?action=get-image&rootUri=$oid"
        });
    });
</script>
#end
#end

#set ($_=$self.closeObject())
