<!-- BEGIN feed.vm -->
#set($portal = $page.state.portal)
#set($paging = $page.pagination)
<title type="text">$portal.description</title>
<id>${contextPath}/feed/$portal.name</id>
<updated><!-- TODO today --></updated>
<opensearch:totalResults>${paging.totalFound}</opensearch:totalResults>
<opensearch:startIndex>${paging.startNum}</opensearch:startIndex>
#set($itemsPerPage = $paging.endNum - $paging.startNum + 1)
<opensearch:itemsPerPage>${itemsPerPage}</opensearch:itemsPerPage>
<link rel="alternate" type="text/html" href="${contextPath}"/>
<link rel="alternate" type="application/atom+xml" href="${contextPath}feed/$portal.name"/>
#if($page.hasResults)
    #foreach($item in $page.response.result.items)
        #set($title = $item.field("title"))
        #set($pid = $item.field("pid"))
        #set($summary = $item.shortField("description"))
        #set($description = $item.field("description"))
        <entry>
            <author>
                <name>fascinator</name>
            </author>
            <title type="text">$item.field("title")</title>
            <id>$pid</id>
            <updated></updated>
            <published></published>
            #if($summary)
            <summary type="text">$summary</summary>
            #end
            #if($description)
            <content type="text">$description</content>
            #end
        </entry>
    #end
#end
<!-- END feed.vm -->
