#set($pageTitle = 'Home')
#set($query = $sessionState.get("query"))
#if($query!="")
  #set($atomLink = "$portalPath/feed/atom?query=$query") 
#else
  #set($atomLink = "$portalPath/feed/atom")
#end
#set($pageHeader = "<link rel=alternate type=application/atom+xml href=$atomLink title='$page.portalName'>")
<h2 id="page-heading">$page.portalName<a class="feed" title="ATOM FEED" href="$atomLink">
<img alt="ATOM Feed" src="$portalPath/images/icons/rss.png"/>
</a></h2>
<div class="grid_4">
  <div class="box menu">
    <h2>Actions</h2>
    <ul class="menu">
      <li><a href="$portalPath/search">Browse all</a></li>
      ##<li><a id="epub" href="#" rel="$portalId">Export as ePub...</a></li>
      <li><a id="epub" href="$portalPath/actions/epub" rel="$portalId">Export as ePub...</a></li>
      <li><a id="ims" href="$portalPath/actions/imscp" rel="$portalId">Export as IMS Package...</a></li>
      <li><a id="reindex-view" href="#" rel="$portalId">Re-Index View...</a></li>
      ## FIXME
      <li><a id="backup-view" href="#" rel="$portalId">Backup view...</a></li>
      #if($portalId != "default")  ## FIXME use proper default
      <li><a id="delete-view" href="#" rel="$portalId">Delete view...</a></li>
      #end
    </ul>
  </div>
</div>
<div class="grid_12">
  <div class="box hidden" id="delete-form" >
    <h2>Delete view</h2>
    <div class="block">
      <p>Are you sure you want to delete this view ($page.portalName)?</p>
      <a id="delete-accept" href="$contextPath/default/home">
        <img src="$portalPath/images/icons/tick.png" />
      </a>
      <a id="delete-cancel" href="#"><img src="$portalPath/images/icons/cross.png" /></a>
    </div>
  </div>
  <div class="box hidden" id="backup-form">
    <h2>Backup view</h2>
    <div class="block hidden" id="backup-progress">
      <p>Backup is currently running... you must wait for it to finish</p>
      <button id="backup-cancel">Close</button>
      <img id="backup-loading" src="$portalPath/images/icons/loading.gif" />
    </div>
    <div class="block" id="backup-start">
      <p>The backup process may take a while, do you want to start it now?</p>
      <button id="backup-accept">Start</button>
      <button id="backup-cancel">Close</button>
    </div>
    <div class="block hidden" id="backup-result">
      <p>Last backup log</p>
      <div id="backup-log"></div>
    </div>
  </div>
  <div class="box hidden" id="reindex-form">
    <h2>Reindex view</h2>
    <div class="block hidden" id="reindex-progress">
      <p>Reindex is currently running... you must wait for it to finish</p>
      <button id="reindex-cancel">Close</button>
      <img id="backup-loading" src="$portalPath/images/icons/loading.gif" />
    </div>
    <div class="block" id="reindex-start">
      <p>The Reindex process may take a while, do you want to start it now?</p>
      <button id="reindex-accept">Start</button>
      <button id="reindex-cancel">Close</button>
    </div>
    <div class="block hidden" id="reindex-result">
      <p>Last reindex log</p>
      <div id="reindex-log"></div>
    </div>
  </div>
  <div class="box">
    <h2>Search</h2>
    <div class="block">
      <p>Search all items by entering one or more keywords</p>
      <form action="search" id="search-form" method="post">
        <input type="text" name="query" size="50" />
        <input type="submit" name="search" value="Search" />
      </form>
    </div>
    <div class="block">
      <p>There are currently <strong>$self.itemCount</strong> items available</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="prefix_4 grid_6">
  <div class="box">
    <h2>Latest additions</h2>
    <div class="block">
      <ol>
      #foreach($item in $self.latest)
        #set($itemId = $item.get('id'))
        #set($itemTitle = $item.get("dc_title").get(0))
        <li>
          <a href="$portalPath/detail/$itemId">$itemTitle</a>
        </li>
      #end
      </ol>
    </div>
  </div>
</div>
<div class="grid_6">
  <div class="box">
    <h2>Most popular</h2>
    <div class="block">
      <p>...</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
$(function() {
    $("#delete-view, #delete-cancel").click(function() {
        $("#delete-view").toggleClass("selected");
        $("#delete-form").toggle("blind");
        return false;
    });
    $("#delete-accept").click(function() {
        jQuery.post("$portalPath/actions/view.ajax",
            { func: "delete-view", view: "$portalId" });
    });
    
    function getBackupLog() {
        jQuery.post("$portalPath/actions/backup.ajax", { func: "get-log" },
            function(data, status) {
                $("#backup-log").html(data);
            });
    }
    
    function getReindexLog() {
        jQuery.post("$portalPath/actions/reindex.ajax", { func: "get-log" },
            function(data, status) {
                $("#reindex-log").html(data);
            });
    }
    
    ##$("#epub").click(function() {
    ##    jQuery.post("$portalPath/epub.ajax", { func: "epub", portalId: "$portalId" } );
    ##    return false;
    ##});
    
    $("#reindex-view, #reindex-cancel").click(function() {
        $("#reindex-view").toggleClass("selected");
        $("#reindex-form").toggle("blind");
        jQuery.post("$portalPath/reindex.ajax",
            { func: "get-state" },
            function(data, status) {
                if (data.running == true) {
                    $("#reindex-start").hide();
                    $("#reindex-progress, #reindex-result").show();
                }
                if (data.lastResult == "success") {
                    getReindexLog();
                    $("#reindex-result").toggle();
                }
            },
            "json");
        return false;
    });
    
    $("#backup-view, #backup-cancel").click(function() {
        $("#backup-view").toggleClass("selected");
        $("#backup-form").toggle("blind");
        jQuery.post("$portalPath/actions/backup.ajax",
            { func: "get-state" },
            function(data, status) {
                if (data.running == true) {
                    $("#backup-start").hide();
                    $("#backup-progress, #backup-result").show();
                }
                if (data.lastResult == "success") {
                    getBackupLog();
                    $("#backup-result").toggle();
                }
            },
            "json");
        return false;
    });
    
    $("#reindex-accept").click(function() {
        var reindexLogTimerId;
        jQuery.post("$portalPath/reindex.ajax", { func: "get-state" },
            function(data, status) {
                if (data.running == true) {
                    $("#reindex-start").hide();
                    $("#reindex-progress").show();
                } else {
                    jQuery.post("$portalPath/actions/state.ajax",
                        { func: "set", name: "reindex/running", value: "true" },
                        function(data, status) {
                            $("#reindex-start").hide();
                            $("#reindex-progress, #reindex-result").show();
                            reindexLogTimerId = setInterval("getReindexLog()", 500);
                        });
                    jQuery.post("$portalPath/reindex.ajax",
                        { func: "reindex", portalId: "$portalId" },
                        function(data, status) {
                            jQuery.post("$portalPath/actions/state.ajax",
                                { func: "set", name: "reindex/running", value: "false" },
                                function(data, status) {
                                    getReindexLog();
                                    $("#reindex-start").show();
                                    $("#reindex-progress").hide();
                                    clearInterval(reindexLogTimerId);
                                });
                        });
                }
            },
            "json");
    });
    
    $("#backup-accept").click(function() {
        var backupLogTimerId;
        jQuery.post("$portalPath/actions/backup.ajax", { func: "get-state" },
            function(data, status) {
                if (data.running == true) {
                    $("#backup-start").hide();
                    $("#backup-progress").show();
                } else {
                    jQuery.post("$portalPath/actions/state.ajax",
                        { func: "set", name: "backup/running", value: "true" },
                        function(data, status) {
                            $("#backup-start").hide();
                            $("#backup-progress, #backup-result").show();
                            backupLogTimerId = setInterval("getBackupLog()", 500);
                        });
                    jQuery.post("$portalPath/actions/backup.ajax",
                        { func: "backup-view" },
                        function(data, status) {
                            jQuery.post("$portalPath/actions/state.ajax",
                                { func: "set", name: "backup/running", value: "false" },
                                function(data, status) {
                                    getBackupLog();
                                    $("#backup-start").show();
                                    $("#backup-progress").hide();
                                    clearInterval(backupLogTimerId);
                                });
                        });
                }
            },
            "json");
    });
});
</script>
