#macro(createFacetNode $facet $state $isLast)
{
    attributes: {
        id: "$facet.id",
        fq: "$facet.facetQuery"
    },
    data: "$facet.name ($facet.count)"
    #set($size = $facet.subFacets.size())
    #if($size > 0)
        ,
        state: "$state",
        children: [
        #foreach($subFacet in $facet.subFacets)
            #set($isSubLast = $velocityCount == $size)
            #createFacetNode($subFacet "closed" $isSubLast)
        #end
        ]
    #end
}
#if(!$isLast),#end
#end
[
#foreach($facet in $self.facetList.facets)
    #set($size = $self.facetList.facets.size())
    #set($isLast = $velocityCount == $size)
    #createFacetNode($facet "open" $isLast)
#end
]
