<!-- BEGIN search-item.vm -->
<div class="item">
  #set($title = $item.field("dc.title"))
  <h2><a href="#actionlink('showdetail' $item.field('id'))">#if($title!='')$title#else[untitled]#end</a></h2>
  <p>Relevance: <strong>$item.field("score")</strong></p>
  <div>
    #set($ids = $item.fields("identifier"))
    #foreach($id in $ids)
      #if($id.startsWith("http://"))
        <a href="$id">$id</a>
      #else
        $id
      #end
      #if($velocityCount < $ids.size());#else#end
    #end
  </div>
  <div>
    #set($subs = $item.fields("f_subject"))
    #foreach($sub in $subs)
      $sub
      #if($velocityCount < $subs.size());#else#end
    #end
  </div>
  #if($item.field("dc.description"))
    <div class="item-description">
      <strong>Description</strong>
      <br/>
      #set($pid = $item.field("pid"))
      #set($desc = $item.field("dc.description"))
      #if($desc.length() > $item.maxLength)
        #set($shortDesc = $item.shortField("description"))
        <span id="${pid}full" style="display: none">
          $desc<br/>
          <a class="action" href="javascript:toggle_doms('${pid}full', '${pid}short')">less</a>
        </span>
        <span id="${pid}short">
          $shortDesc ...<br/>
          <a class="action" href="javascript:toggle_doms('${pid}full', '${pid}short')">more</a>
        </span>
      #else
        $desc
      #end
    </div>
  #end
</div>
<!-- END search-item.vm -->
