<!-- BEGIN search-detail.vm -->
<div class="search">
  <p>
    #set($backlink = $page.referer)
    #if($backlink)
      <a href="$backlink">Return to previous location</a>
    #else
      <a href="${contextPath}search">Return to search</a>
    #end
  </p>
  <h1>Details</h1>
  #if($page.viewable)
    #set($rdfMeta = $page.getMetadata($page.uuid))
    #parse($locator.getLocation('search-detail-datastreams.vm'))
    <div class="search-results">
      <h2>$rdfMeta.title</h2>
##      #if($rdfMeta.description)
##        <h3>Description</h3>
##        <p>$rdfMeta.description</p>
##      #else
##        <p>No description</p>
##      #end
      #if($rdfMeta.initialCreator!="")
        <p><strong>Initial Creator: </strong>$rdfMeta.initialCreator</p>
      #else
        <p></p>
      #end
      #if($rdfMeta.dcDate!="")
        <p><strong>DC Date: </strong>$rdfMeta.dcDate</p>
      #else
        <p></p>
      #end
      #if($rdfMeta.pageCount!="")
        <p><strong>Page Count: </strong>$rdfMeta.pageCount</p>
      #else
        <p></p>
      #end
      
      Getting embed slide: $page.embedSlide
      
      
      <div class="item">
        #macro(fieldlink $value)
          #if($value.startsWith("http://"))
            <a href="$value">$value</a>
          #else
            $value
          #end
        #end
        <dl>
          #foreach($name in $dc.fields.keySet())
            <dt>$name</dt>
            #set($values = $dc.fields.get($name))
            #if($values.size() > 1)
              #foreach($value in $values)
                <dd>#fieldlink($value)</dd>
              #end
            #else
              <dd>#fieldlink($values.get(0))</dd>
            #end
          #end
        </dl>
      </div>
    </div>
  #else
    <p>You do not have permission to view this item.</p>
  #end
</div>
<!-- END search-detail.vm -->
