<!-- BEGIN search-detail-datastreams.vm --> 
<div class="facets">
  <h3>Downloads</h3>
  <ul class="datastreams">
  
  	## Need to put download link to the original Source
    #foreach($ds in $page.datastreams)
      <li>
        <a href="$page.encodedUuid/$ds.id">
          #if(!$ds.id or $ds.label == "")
            [Untitled]
          #else
            $ds.id
          #end
        </a>
      </li>
    #end
  </ul>
</div>
<!-- END search-detail-datastreams.vm -->
