<h2 id="page-heading">File Upload</h2>
<div id="form-section" class="grid_12">
  #if ($self.is_valid())
  <h4>File Upload Complete</h4>
  <div class="box" id="upload-complete">
    #if ($self.has_error())
    <p class="stop-error">$self.get_error()</p>
    #else
    <p><b>Workflow</b>: '$self.get_workflow()'
        #set($file_details = $self.upload_details())
        #foreach($field in $file_details.keySet())
    <br/><b>$field</b>: '$file_details.get($field)'
        #end
    </p>
    <p>Your file was successfully uploaded and is currently being rendered. You can now view the document from <a href="$portalPath/detail/$self.get_oid()">the detail screen</a>.</p>
    #end
  </div>
  #else
  <h4>File Upload Screen</h4>
  <div class="box">
    Sorry, but there's no data here regarding an uploaded file. Did you perhaps refresh the page after your upload?
  </div>
  #end
</div>
