#set($contentTitle = "Search")
#parse($page.getTemplate('wrapping/content-block-open.vm'))
#set($contentTitle = $nullValue)
  <div class="block">
    <p>Enter one or more keywords</p>
    <form action="search" id="search-form" method="get">
      <input type="text" name="query" size="50" id="search-query" /> 
     <button id="search-button">Search</button>
    </form>
  </div>
  <div class="block">
   
  </div>
#parse($page.getTemplate('wrapping/content-block-close.vm'))

<script type="text/javascript">
$(function() {
    $("#search-button").click(function() {
        var query = $("#search-query").val();
        if (query != "") {
            $("#search-form").submit();
        } else {
            window.location.href = "$portalPath/search";
        }
        return false;
    });
});
</script>