#set($pageTitle = 'Home')
<table class="layout">
  <tbody>
    <tr>
      <td class="leftcol">
        <div class="columnbox">
          <div class="mainmenu">
            <div class="mainmenu-top"></div>
            <div class="mainmenu-heading">USQ Policy Library</div>
            <ul class="menu-list">
              <li class="selected">Home</li>
              <li><a href="$portalPath/search">Search</a></li>
              <li><a href="$portalPath/help">Help</a></li>
            </ul>
          </div>
          #displayFacetTree("policy_type", "Policy type")
          #displayFacet("f_title_group")
        </div>
      </td>
      <td class="middlecol">
        <div class="home">
          <div class="home-welcome">
            <h2 class="content-title">University Policy Library</h2>
            <p>The University Policy Library is the definitive source of current policy and procedural documentation relating to the governance and management of the academic affairs of the University.</p>
          </div>
          <div class="home-search">
            <h2>Search</h2>
            <p>Search for policies and procedures using keywords.</p>
            <div class="search-box">
              <form action="search" id="search-form" method="post">
                <input type="text" id="query" name="query" size="70" value="$!query" />
                <input type="submit" name="search" value="Search" />
                <p></p>
                <input type="radio" name="searchType" id="freeText" value="full_text" checked="checked" />
                <label for="freeText">Free text search</label>
                <input type="radio" name="searchType" id="title" value="dc_title" />
                <label for="title">Title search</label>
              </form>
              <p>There are currently <strong>$self.total</strong> policies available.</p>
            </div>
          </div>
          <div id="newest">
            <h2>Newest policies</h2>
            <table>
            <tr>
              <th>Effective date</th>
              <th>&nbsp;</th>
            </tr>
            #foreach($item in $self.latest)
              #set($effDate = $item.get("str_usq_document_effective_date"))
              <tr>
                <td>$!effDate</td>
                <td><a href="$portalPath/detail/$item.get('id')">$item.get("dc_title").get(0)</a></td>
              </tr>
            #end
            </table>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
$(function() {
    setActionUri("$portalPath/search");
    $(".add-facet").click(function() {
        doAction("add_fq", $(this).attr("rel"));
    });
    
    var cookieOpts = { path: "/", expires: 10 };
    createTree("#policy_type", "f_usq_document_policy_type", "", "");
    
    //autocomplete
    $("input#query").autocomplete("$portalPath/autocomplete.ajax");
    
    // toggle facets
    $(".mainmenu:has(.facet-list) > .mainmenu-heading")
        .each(function() {
            var next = $(this).next();
            var icon = $(this).find("span");
            var id = next.attr("id");
            var state = jQuery.cookie("tf_" + id);
            if (state == "true") {
                icon.removeClass("ui-icon-triangle-1-e");
                icon.addClass("ui-icon-triangle-1-s");
                next.show();
            } else {
                icon.addClass("ui-icon-triangle-1-e");
                icon.removeClass("ui-icon-triangle-1-s");
                next.hide();
            }
        })
        .click(function() {
            var next = $(this).next();
            var icon = $(this).find("span");
            var id = next.attr("id");
            icon.toggleClass("ui-icon-triangle-1-e");
            icon.toggleClass("ui-icon-triangle-1-s");
            next.toggle();
            var state = next.is(":visible");
            jQuery.cookie("tf_" + id, state, cookieOpts);
            return false;
        });
});
</script>
