#macro(createFacetNode $facet $state)
{
    attributes: {
        id: "$facet.id",
        fq: "$facet.facetQuery"
    },
    data: "$facet.name ($facet.count)",
    #if($facet.subFacets.size() > 0)
        state: "$state",
        children: [
        #foreach($subFacet in $facet.subFacets)
            #createFacetNode($subFacet "closed")
        #end
        ]
    #end
},
#end
[
#foreach($facet in $self.facetList.facets)
    #createFacetNode($facet "closed")
#end
]
