#if($self.isIndexed())
    #set($metadata = $self.metadata)
    #renderObject($metadata "detail/title")
    <div class="grid_4">
        #renderObject($metadata "detail/navigation")
    </div>
    <div class="grid_12">
        #renderObject($metadata "detail")
    </div>
    <script type="text/javascript" src="$portalPath/js/jquery.condense.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".condense").condense({
                ellipsis: "...",
                moreText: "<em>(more)</em>",
                lessText: "<em>(less)</em>"
            });
        });
    </script>
#else
    #parseTemplate("detail-screen/not-found.vm")
#end
