#if ($noLayout)
$!pageContent
#else
<!DOCTYPE html>
<html>
  <head>
#parse($page.getTemplate('layout/html-head.vm'))
  </head>
  <body>
#parse($page.getTemplate('layout/page-structure.vm'))
#parse($page.getTemplate('layout/action-form.vm'))
  </body>
</html>
#end
