#if($self.isRendered())
#************************
* Zero hits
************************#
#if($self.solrResponse.get("response/numFound") == 0)
  #parse($page.getTemplate('detail-screen/not-found.vm'))
#************************
* Normal page render
************************#
#else
  #parse($page.getTemplate('detail-screen/variables.vm'))
  #parse($page.getTemplate('detail-screen/scripts.vm'))
  #parse($page.getTemplate('detail-screen/preview-title.vm'))

##<div class="grid_4">
  ##parse($page.getTemplate('detail-screen/navigation.vm'))
##</div>

<div class="grid_12">
  #************************
  * Hidden dialogs for ajax
  ************************#
  #parse($page.getTemplate('detail-screen/sword-dialog.vm'))
  #parse($page.getTemplate('detail-screen/blog-dialog.vm'))
  #parse($page.getTemplate('detail-screen/reharvest-dialog.vm'))
  
  #************************
  * Pending a render?
  ************************#
  #if ($self.isPending())
  <div id="pending" class="box articles notice">
    <h2>Pending</h2>
    <div class="warning">
      <b>IMPORTANT</b>Please note that this object is currently in the render queue. There may be pending data/metadata changes not visible below.
    </div>
  </div>
  #end

  #************************
  * Main document display
  ************************#
  #parse($page.getTemplate('detail-screen/preview-open.vm'))
  #parse($page.getTemplate('detail-screen/preview-content.vm'))
  #parse($page.getTemplate('detail-screen/preview-close.vm'))
</div>

<div class="clear"><!-- clear --></div>
  #if($isPackage || $isImsPackage)
    #************************
    * Packaging - JS
    ************************#
    #parse($page.getTemplate('detail-screen/js/rvt.js'))
  #end

  #************************
  * Annotations - JS
  ************************#
  #parse($page.getTemplate('detail-screen/annotation-scripts.vm'))
#end

#set ($_=$self.closeObject())
#else
    ## content is written directly to the response, generally relative paths (ie. payloads) are handled here
    #set($noLayout=true)
#end
