<div id="attachments" class="box menu">
  <h2><a href="#">Attachments</a></h2>
  <ul class="menu hidden">
  #foreach($pid in $self.object.getPayloadIdList())
    #set($payload = $self.object.getPayload($pid))
    #set($payloadType = $payload.getType().toString())
    <li class="payload" rel="$payload.getContentType()">
      <a href='$portalPath/download/$self.encode($oid)/$self.encode($pid)' rel="$payloadType" target="blank" title="$payload.getContentType()">$pid</a>
    </li>
  #end
  </ul>
</div>
