{
    "harvester": {
        "type": "jsonq",
        "jsonq": {
            "url": "http://localhost:9000/",
            "lastModified": "0"
        }
    },
    
    "transformer": {
        "extractor": ["aperture"],
        "render": ["ffmpeg", "ice2", "ims"],
        "aperture": {
            "outputPath": "${java.io.tmpdir}/ice2-output"
        },
        "ice2": {
            "url": "http://ice-service.usq.edu.au/api/convert/",
            "outputPath": "${java.io.tmpdir}/ice2-output",
            "excludeRenditionExt": "txt,mp3,m4a,mov,mp4,wav,wma,wmv,mpg,flv",
            "resize": {
                "thumbnail": {
                    "option": "fixedWidth",
                    "ratio": "-90",
                    "fixedWidth": "160",
                    "enlarge": "false"
                }, 
                "preview": {
                    "option": "fixedWidth",
                    "ratio": "-90",
                    "fixedWidth": "600",
                    "enlarge": "false"
                }
            }
        },
        "ffmpeg": {
            "executable": "ffmpeg",
            "outputPath": "${java.io.tmpdir}/ffmpeg-output",
            "outputExt": "flv",
            "thumbnailSize": "160x120",
            "excludeExt": "flv,m4a,mp3",
            "params": {
                "default": "-f flv -b 192k -ab 64k -ar 44100 -ac 1 -s 400x224 -padtop 30 -padbottom 30"
            }
        }
    },
    
    "indexer": {
        "script": {
            "type": "python",
            "rules": "local-files.py"
        },
        "params": {
            "repository.name": "Local Files",
            "repository.type": "Local File System"
        }
    }
}
