<div id="metadata" class="box">
  <h2>Metadata</h2>
  #set($pageHeader="#parse($page.getTemplate('detail-screen/header.vm'))")
  <div class="block">
    <table class="meta">
      #set($metaList = ['dc_title', 'dc_description', 'dc_duration', 'dc_size'])
      #foreach($key in $metaList)
        #set($valueList = $dc.get($key))
        #if ("$!valueList" != "" && $valueList.size() > 0)
      <tr>
        <th>$self.formatName($key)</th>
      </tr>
      <tr>
        <td>
          #foreach($value in $valueList)
          <span class="meta-value">$value</span><br/>
          #end
        </td>
      </tr>
        #end
      #end
    </table>

    <table class="meta">
      #foreach($key in $dc.keySet())
        #set($valueList = $dc.get($key))
        #if (!$metaList.contains($key) && $valueList.size() > 0)
      <tr>
        <th>$self.formatName($key)</th>
      </tr>
      <tr>
        <td>
          #foreach($value in $valueList)
          #if($value.indexOf("://")==-1)
              <span class="meta-value">$value</span><br/>
          #else
              <a class="meta-value" href="$value">$value</a><br/>
          #end
          #end
        </td>
      </tr>
        #end
      #end
    </table>
  </div>
  <script type="text/javascript" src="$portalPath/js/jquery.truncate.js"></script>
  <script type="text/javascript">
  $(function() {
    $("span.meta-value").truncate(250, {
        trail: [ '... <a href="#" class="truncate_show">more</a>',
                 ' <a href="#" class="truncate_hide">less</a>' ]
    });
  });
  </script>
</div>
