/* General */
body {
  background-color: white;
}

h1 {
  color: black;
}

input.textfield, .t-beaneditor-row input {
  border: solid #606060 1px;
}

input.button, .t-beaneditor-submit {
  background-color: #1F4F76;
  background-image: url('images/blue_bar.png');
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

input.button:hover {
  background-color: #3266CC;
}

/* Start page */
.welcome, .start-search, .portal-list {
  padding-left: 1em;
}

.portal-list ul {
  font-size: 1.2em;
  list-style: none;
  padding-left: 1em;
  margin: 0.25em;
}

.portal-list a.portal-edit {
  color: #94BB4D;
  font-size: 0.75em;
  padding-left: 0.5em;
}

.portal-list a.portal-delete {
  color: #A00000;
  font-size: 0.75em;
  padding-left: 0.5em;
}

/* Config page */
.config {
  padding-left: 1em;
}

/* Navigation bar */
.nav-bar {
  background-image: url('images/blue_bar.png');
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-top: 3px;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  display: inline;
}

.nav-bar ul li {
  display: inline;
  margin: 0;
  padding: 3px;
  list-style: none;
}

.nav-bar li, .nav-bar a {
  color: white;
  display:inline;
  font-weight: inherit;
  margin: 0;
  padding: 3px;
  text-decoration: none;
}

.nav-bar a:visited {
 color: white;
 }

.nav-bar a:hover {
  background-color: #279AE2;
  margin: 0;
  padding: 3px;
}

.nav-bar li {
  border: 1px solid; 
}

.nav-bar .home {
  border: none;
  margin-right: 1.5em;
}

/* Portal bar */
.portal-bar {
  background-color: #FFF;
  color: white;
  height: 63px;
}

/* Facets */
.facets {
  background-color: white;
  float: left;
  width: 24%;
}

.facets h3 {
  clear: both;
  color: black;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.facets h4 {
  color: #FF9900;
  margin-bottom: 0;
  padding-left: 0.8em;
  padding-bottom: 0;
}

.facets ul {
  border: solid 1px #D8DBEF;
  list-style-type: disc;
  padding-left: 2em;
}

.facets li {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #666;
}

.facets ul li a.deselect {
  color: #269AE3;
  font-size: 0.75em;
}

.facets a.action {
  color: #269AE3;
  font-size: 0.9em;
}

/* Search */

.search {
  margin-left: 2%;
}

.no-result {
  background-image: url('images/orange_back.png');
  border: solid 1px #FFC080;
  margin-bottom: 1.5em;
  margin-right: 2%;
  padding-left: 1.5em;

}

.no-result img {
  padding: 10px;
  vertical-align: middle;
}

/* Search header */

.search-header {
  background: #FFEFBE url('images/eprints_test.jpg') no-repeat left;
  float: right;
  margin-bottom: 1em;
  margin-right: 1em;
  padding-bottom: 0.25em;
  padding-right: 1em;
  padding-top: 0.5em;
  width: 72%;
}

.search-header-no-result {
  background: #FFEFBE url('images/eprints_test.jpg') no-repeat left;
  margin-bottom: 1em;
  margin-right: 2%;
  padding: 0.5em;
}

.search-form {
  padding-left: 17em;
}

input.search-textfield {
  border: solid #606060 1px;
  font-size: 1.1em;
  width: 20em;
}

/* Paging */

.paging {
  margin-left: 10;
  padding-left: 0;
}

.paging li {
  display: inline;
}

.paging li a {
  padding-left: 0.3em;
  padding-right: 0.3em;
  border: solid #E4C8B5 1px;
}

.paging .selected-page a, .paging a:hover {
  background: #FFF;
  border: solid #3266CC 1px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/* Search results */
.search-results {
  background-color: white;
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 73%;
}

/* Search item */
.item {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.odd, .even {
  border-top: solid #269AE3 1px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.search-results .odd {
  background-color: white;
}

.search-results .even {
  background-color: #D8DBEF;
}

.item h2 {
  color: #559;
  font-weight: bold;
  margin-top: 0;
}

.item ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* Tapestry overrides */
.beaneditor {
  padding-left: 1em;
  padding-right: 1em;
  width: 80%;
}

/* Footer */
.footer {
  border-top: solid 1px #808080;
  clear: both;
  float: bottom;
  margin: 1em;
  padding: 1em;
}
